{% load i18n %}
{% load lawlinks %}

{% law_link 89 2012 as law_89_2012 %}
{% law_link 101 2000 as law_101_2000 %}
{% law_link 480 2004 as law_480_2004 %}

{% if not hide_english and LANGUAGE_CODE != 'en' %}
<div class="alert alert-info" role="alert">
<a href="https://weblate.org/en/terms/" class="pull-right flip float-right btn btn-primary">{% trans "View English version" %}</a>
{% trans "The Terms of Service document is authoritative in English, translations are provided for your convenience." %}
<div class="clearfix"></div>
</div>
{% endif %}

<p>
{% blocktrans %}The rights and obligations of the User and the Provider resulting from the use of the Service are governed by these Terms of Service.{% endblocktrans %}
</p>

<h2>{% blocktrans %}Definitions{% endblocktrans %}</h2>

<p class="item">{% blocktrans %}In these Terms of Service:{% endblocktrans %}</p>

<dl>

<dt>{% blocktrans %}Agreement{% endblocktrans %}</dt>
<dd>{% blocktrans %}means License Agreement within the meaning of Article 2358 et seq. of the Civil Code concluded by and between the User and the Provider upon the Consent{% endblocktrans %}</dd>

<dt>{% blocktrans %}Civil Code{% endblocktrans %}</dt>
<dd>{% blocktrans %}means Act No. {{ law_89_2012 }} Coll., the Civil Code, as amended{% endblocktrans %}</dd>

<dt>{% blocktrans %}Consent{% endblocktrans %}</dt>
<dd>{% blocktrans %}means the User’s consent with these Terms of Service and other legal documents expressed by checking the checkbox during the registration{% endblocktrans %}</dd>

<dt>{% blocktrans %}Cookies{% endblocktrans %}</dt>
<dd>{% blocktrans %}means any datafile sent by the web server of the Service to the User’s computer or other device connected to the Internet, which enable obtaining unique identification of the User’s web browser{% endblocktrans %}</dd>

{% law_link 679 2016 "EU" as law_679_2016 %}
<dt>{% blocktrans %}GDPR{% endblocktrans %}</dt>
<dd>{% blocktrans %}means EU Regulation No. {{ law_679_2016 }}, the General Data Protection Regulation{% endblocktrans %}</dd>

<dt>{% blocktrans %}License{% endblocktrans %}</dt>
<dd>{% blocktrans %}means non-exclusive license granted by the Provider to the User for use of the Service{% endblocktrans %}</dd>

<dt>{% blocktrans %}Provider{% endblocktrans %}</dt>
<dd>{% blocktrans with provider="Ing. Michal Čihař, Zdiměřická 1439/8, 149 00 Praha, CZ" reg_no="04705904" %}means {{ provider }}, Reg. No. {{ reg_no }}{% endblocktrans %}</dd>

<dt>{% blocktrans %}Personal Data{% endblocktrans %}</dt>
<dd>{% blocktrans %}means personal data within the meaning of EU Regulation No. {{ law_679_2016 }} inserted by the User into the Service and/or Cookies{% endblocktrans %}</dd>

<dt>{% blocktrans %}Owner{% endblocktrans %}</dt>
<dd>{% blocktrans %}means the User who can manage Project{% endblocktrans %}</dd>

<dt>{% blocktrans %}Project{% endblocktrans %}</dt>
<dd>{% blocktrans %}means translation project operated on the Service{% endblocktrans %}</dd>

<dt>{% blocktrans %}Service{% endblocktrans %}</dt>
<dd>{% blocktrans %}means the website and services based on Weblate operated by the Provider{% endblocktrans %}</dd>

<dt>{% blocktrans %}Translation Memory{% endblocktrans %}</dt>
<dd>{% blocktrans %}means the optional translation memory service provided within Weblate{% endblocktrans %}</dd>

<dt>{% blocktrans %}User{% endblocktrans %}</dt>
<dd>{% blocktrans %}means any legal entity or an individual other than the Provider, who is using the Service{% endblocktrans %}</dd>

<dt>{% blocktrans %}VCS{% endblocktrans %}</dt>
<dd>{% blocktrans %}means distributed version control system used by the Project such as Git or Mercurial{% endblocktrans %}</dd>

</dl>

<h2>{% blocktrans %}License Agreement Conclusion{% endblocktrans %}</h2>

<p class="item">{% blocktrans %}The License Agreement is concluded upon the User’s Acceptance of the Provider’s Offer.{% endblocktrans %}</p>


<h2>{% blocktrans %}License Agreement{% endblocktrans %}</h2>

<p class="item">{% blocktrans %}By concluding Agreement under Article 2.1 of this Agreement, the following provisions of this Article 3 of the Terms of Service come into force.{% endblocktrans %}</p>

<p class="item">{% blocktrans %}The Provider presents the User with a License Agreement and the User accepts this License Agreement, all this under the terms and conditions stated in these Terms of Service.{% endblocktrans %}</p>

<p class="item">{% blocktrans %}The Provider shall have the right to shut down, adjust, modify or make the Service unavailable on the web address at any time.{% endblocktrans %}</p>

<p class="item">{% blocktrans %}The User agrees to use the Service only in a manner not jeopardizing technical software and/or hardware means of the Provider and/or such means in the Provider’s use.{% endblocktrans %}</p>

<p class="item">{% blocktrans %}The User agrees to refrain from use of the Service in bad faith and/or deliberately causing any damage to the Service.{% endblocktrans %}</p>

<p class="item">{% blocktrans %}The User agrees to refrain from bypassing the Service’s software and/or technical hardware means, in particular the security systems.{% endblocktrans %}</p>


<h2>{% blocktrans %}Liability for Damage{% endblocktrans %}</h2>

<p class="item">{% blocktrans %}The User hereby renders it undisputed that the Provider shall not be liable for any damage caused to the User resulting from the use of the Service.{% endblocktrans %}</p>

<p class="item">{% blocktrans %}If the User is an entrepreneur, it hereby expressly waives its right to compensation from the Provider for damage unintentionally caused by the Provider to the User through a breach of any obligation contained in these Terms of Service and/or resulting from the use of the Service.{% endblocktrans %}</p>


<h2>{% blocktrans %}Personal Data{% endblocktrans %}</h2>

{% law_url 7 scope="GDPR" as url %}
<p class="item">{% blocktrans %}Within the meaning of <a href="{{ url }}">Article 7</a> of the GDPR the User hereby gives consent to the collecting, storage and processing of the Personal Data provided by the User to the administrator, who is the Provider, through the use of the Service; the User gives consent to the processing and use of the User’s Personal Data by the Provider, the Provider’s employees and/or the Provider’s authorised business partners. This consent is given as long as User does not remove their account from the Service.{% endblocktrans %}</p>

<p class="item">{% blocktrans %}The purpose of the processing of Personal Data as determined by the Provider is the use of Personal Data for sending commercial communications to the subject of the data (the User) through electronic means under Act No. {{ law_480_2004 }} Coll., on certain services of the information society, as amended, and further for marketing and business needs of the Provider’s contractual partners and for statistical and/or marketing purposes of the Provider.{% endblocktrans %}</p>

<p class="item">{% blocktrans %}If the User directly and effectively informs the Provider of no longer wishing to receive business information from the Provider, the Provider shall refrain from sending further unsolicited business communications.{% endblocktrans %}</p>

{% law_url 15 scope="GDPR" as url_15 %}
{% law_url 17 scope="GDPR" as url_17 %}
<p class="item">{% blocktrans %}The User declares awareness of own rights under <a href="{{ url_15 }}">Article 15</a> and <a href="{{ url_17 }}">Article 17</a> of the GDPR and declares that all the Personal Data is accurate and true and has been provided voluntarily.{% endblocktrans %}</p>

<p class="item">{% blocktrans %}The Provider declares that it will collect Personal Data only in the extent necessary for meeting the above-specified purpose and process the Personal Data in accordance with the purpose for which it was collected. The Provider’s employees and other individuals who process the Personal Data on the basis of a contract with the Provider shall maintain confidentiality of the Personal Data, even after the termination of their employment or business relationship with the Provider.{% endblocktrans %}</p>

<p class="item">{% blocktrans %}The Provider declares that it will process the Personal Data by electronic means (automatically) via computer programs for which the Provider has secured the right of use, in particular the Service.{% endblocktrans %}</p>

<p class="item">{% blocktrans %}The User’s consent under this Article 5 of the Terms of Service constitutes a free and informed juridical act which concerns the consent of the subject of the data (the User) with processing of the Personal Data.{% endblocktrans %}</p>


<h2>{% blocktrans %}Translations{% endblocktrans %}</h2>

<p class="item">{% blocktrans %}The Service organizes translation into individual Projects, where the Owner is responsible for managing them and for specifying accurately the license of the Project.{% endblocktrans %}</p>

<p class="item">{% blocktrans %}Not specifying translation license means that the translations are available under same license as the given Project itself.{% endblocktrans %}</p>

<p class="item">{% blocktrans %}Should the Project opt in for the Translation Memory, license to use the translation is granted to all Translation Memory users.{% endblocktrans %}</p>

<p class="item">{% blocktrans %}The User agrees, upon contributing to a Project, to the license the Project has specified.{% endblocktrans %}</p>

<p class="item">{% blocktrans %}The User agrees to use of own name and e-mail as authorship in the VCS commits. The User understands that this grant is non revocable due to nature of the VCS.{% endblocktrans %}</p>


<h2>{% blocktrans %}Cookies{% endblocktrans %}</h2>

<p class="item">{% blocktrans %}Within the meaning of Article 89 Act No. {{ law_480_2004 }} Coll., on electronic communication, as ammended, the User is informed that the Service uses cookies.{% endblocktrans %}</p>

<p class="item">{% blocktrans %}The Service uses cookies to personalise content, and to analyse our traffic.{% endblocktrans %}</p>


<h2>{% blocktrans %}Governing Law{% endblocktrans %}</h2>

<p class="item">{% blocktrans %}These Terms of Service shall be governed by the laws of the Czech Republic with exclusion of conflict rules.{% endblocktrans %}</p>

<p class="item">{% blocktrans %}Any disputes arising on the basis of the Agreement and/or these Terms of Service shall be resolved by the court of the Czech republic having substantive and local jurisdiction.{% endblocktrans %}</p>


<h2>{% blocktrans %}Effect{% endblocktrans %}</h2>

<p class="item">{% blocktrans %}These Terms of Service shall come into force and effect on 1st September 2017.{% endblocktrans %}</p>
