<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="legal:pdf/legal.css" media="print" rel="stylesheet">
    {% if sample %}<link href="legal:pdf/sample.css" media="print" rel="stylesheet">{% endif %}
    <title>Weblate {{ title }}</title>
    <meta name="dcterms.created" content="{% now "c" %}">
    <meta name="author" content="{{ company_name }}">
  </head>

  <body>
    <header>
      <h1>{{ title }}</h1>
      <img class="logo" src="invoices:invoice-logo.svg" alt="Weblate">
    </header>

    {% block content %}
    {% endblock content %}

  </body>
</html>
