@page {
  @left-middle {
    content: "SAMPLE";
    color: rgba(0, 0, 0, 0.1);
    font-size: 8cm;
    font-weight: bold;
    transform: rotate(-65deg);
    padding-top: 30cm;
    padding-right: 13cm;
  }
}
