*.swp
*.pyc
*.*~
/files/
/static/
/media/
/.venv/
/weblate_web/settings_local.py
*.mo
*.sql
/*.sqlite3
/saml/saml.key
/saml/saml.crt
/saml/local_metadata.xml
/saml/remote_metadata.xml
.idea
venv
/node_modules/
/invoices/
