include README.md
include manage.py
recursive-include wlhosted *.py
recursive-include wlhosted/error *.html
recursive-include wlhosted/integrations/templates *.html
recursive-include wlhosted/legal/templates *.html
recursive-include wlhosted/payments/templates *.html
global-exclude *.swp *.swo
recursive-include wlhosted/locale *.pot
recursive-include wlhosted/locale *.po
recursive-include wlhosted/locale *.mo
