include README.md
include manage.py
recursive-include wlhosted *.py
recursive-include wlhosted/templates *.html
global-exclude *.swp *.swo
recursive-include wlhosted/locale *.pot
recursive-include wlhosted/locale *.po
recursive-include wlhosted/locale *.mo
