certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
Django==4.2.11
django-appconf==1.0.6
django-compressor==4.4
django-countries==7.5.1
django-macros==0.4.0
django-markupfield==2.0.1
django-redis==5.4.0
django-vies==6.1.0
djangosaml2==1.9.2
fakturace==0.7.0
fiobank==3.0.0
hiredis==2.3.2
html2text==2024.2.26
Markdown==3.5.2
nijel-thepay==0.5
paramiko==3.4.0
Pillow==10.2.0
python-dateutil==2.9.0.post0
requests==2.31.0
sentry-sdk==1.41.0
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
weblate-language-data==2024.3
weblate-schemas==2023.3
wlc==1.14
wllegal==2023.5
zammad-py==3.0.0
