-r requirements.txt
-r requirements-lint.txt
codecov
codacy-coverage
pytest
pytest-cov
twine
httpretty
https://github.com/WeblateOrg/weblate/archive/master.zip
https://github.com/nijel/fakturace/archive/master.zip
