-r requirements-lint.txt
-r requirements-test.txt
-r requirements.txt
django-stubs[compatible-mypy]==5.2.2
mypy==1.17.0
PyICU
translate-toolkit
types-lxml==2025.3.30
types-paramiko==3.5.0.20250708
types-python-dateutil==2.9.0.20250708
types-requests==2.32.4.20250611
