-r requirements-lint.txt
-r requirements-test.txt
-r requirements.txt
django-stubs[compatible-mypy]==5.2.7
mypy==1.18.2
PyICU
translate-toolkit
types-lxml==2025.8.25
types-paramiko==4.0.0.20250822
types-python-dateutil==2.9.0.20251108
types-requests==2.32.4.20250913
