certifi==2025.10.5
cryptography==46.0.3
defusedxml==0.7.1
Django==5.2.7
django-appconf==1.1.0
django-compressor==4.5.1
django-countries==7.6.1
django-macros==0.4.0
django-markupfield==2.0.1
django-redis==6.0.0
django-stubs-ext==5.2.7
django-vies==6.2.1
djangosaml2==1.11.1
fiobank==4.0.0
hiredis==3.3.0
html2text==2025.4.15
lxml==6.0.2
Markdown==3.9
mysqlclient==2.2.7
paramiko==4.0.0
Pillow==12.0.0
psycopg[binary]==3.2.11
pyopenssl==25.3.0
python-dateutil==2.9.0.post0
pytz==2025.2
qrcode==8.2
redis==6.4.0
requests==2.32.5
ruamel.yaml==0.18.15
sentry-sdk==2.42.1
unidecode==1.4.0
weasyprint==66.0
weblate-language-data==2025.9
weblate-schemas==2025.6
wlc==1.16.1
wllegal==2025.7
zammad-py==3.2.0
