django-appconf>=1.0
django-countries
django-macros
django-markupfield
django-simple-sso
django-vies
Django>=2.2
fakturace==0.2
fiobank==1.2.0
html2text
markdown
nijel-thepay==0.5
paramiko
Pillow
python-dateutil
requests
sentry_sdk
wlc
wllegal==0.2
