{% extends "crm/base.html" %}

{% load i18n static timestamps %}

{% block breadcrum_list %}
  › <a href="{% url "crm:customer-list" kind="all" %}">Customers</a>
{% endblock breadcrum_list %}

{% block content %}
  <section class="content">
    <p>
      {{ object.name }}
      <br>
      {{ object.get_notify_emails|join:", " }}
      <br>
      {% if object.vat %}
        {{ object.vat }} (
        {% if object.vat_recently_validated %}
          validated on {{ object.vat_validated }}
        {% else %}
          <strong>not validated</strong>
        {% endif %}
        )
        <br>
      {% endif %}
      {{ object.address }},
      {% if object.address2 %}{{ object.address2 }},{% endif %}
      {{ object.city }}
      <br>
      {{ object.get_country_display }}
      <br>
      {% if object.end_client %}
        End client: {{ object.end_client }}
        <br>
      {% endif %}
      {% if object.contact_point %}
        {% translate "Contact point" %}: {{ object.contact_point }}
        <br>
      {% endif %}
      {% if object.accounting_reference %}
        {% translate "Accounting reference" %}: {{ object.accounting_reference }}
        <br>
      {% endif %}
      {% if object.upcoming_payment_notification_days %}
        Additional upcoming payment notification:
        {{ object.upcoming_payment_notification_days }} days before due date
        <br>
      {% endif %}
      {% if object.zammad_id %}
        <a href="https://care.weblate.org/#organization/profile/{{ object.zammad_id }}">View in Zammad</a>
        <br />
      {% endif %}
      <a href="{% url "admin:payments_customer_change" object_id=object.pk %}">Edit</a>
    </p>
    <h2>Actions</h2>
    <form action="{% url "crm:customer-merge" pk=object.pk %}" method="get">
      <label>
        Merge with following customer object:
        <input type="number" name="merge" required>
      </label>
      <input type="submit" value="Review merge">
    </form>
    {% if can_add_customer_user %}
      <form method="post">
        <p>{% translate "Add user to customer" %}</p>
        {% csrf_token %}
        {{ customer_user_form }}
        <input type="submit" name="add_customer_user" value="{% translate "Add user" %}">
      </form>
    {% endif %}

    <h2>Services</h2>
    {% include "weblate_web/service_list_content.html" with object_list=services %}
    {% if not services %}
      <form method="post">
        <p>Invoice new service</p>
        {% csrf_token %}
        {{ new_subscription_form }}
        <input type="submit" value="Create">
      </form>
    {% endif %}
    <h2>Agreements</h2>
    <table>
      {% for agreement in object.agreement_set.order %}
        <tr>
          <td>{{ agreement.signed }}</td>
          <td>{{ agreement.get_kind_display }}</td>
          <td>
            <a href="{% url 'agreement-download' pk=agreement.pk %}">Download</a>
          </td>
        </tr>
      {% endfor %}
    </table>
    {% if perms.legal.add_agreement %}
      <a href="{% url "admin:legal_agreement_add" %}?customer={{ object.pk }}"
         class="addlink">{% translate "Add new agreement" %}</a>
    {% endif %}
    <h2>Donations</h2>
    <table>
      {% for donation in donations %}
        <tr>
          <td>{{ donation.created }}</td>
          <td>{{ donation.donation_subscription.package.donation_reward_display }}</td>
          <td>{{ donation.get_donation_amount }} EUR</td>
          <td>
            <a href="{% url 'admin:weblate_web_service_change' object_id=donation.pk %}">Edit</a>
          </td>
        </tr>
      {% endfor %}
    </table>
    <h2>Invoices</h2>
    <table>
      {% include "invoices/invoice_list_content.html" with object_list=object.invoice_set.order %}
    </table>
    {% if perms.invoices.add_invoice %}
      <a href="{% url "admin:invoices_invoice_add" %}?customer={{ object.pk }}"
         class="addlink">{% translate "Issue new invoice" %}</a>
    {% endif %}
    <h2>Interactions</h2>
    <form method="post">
      {% csrf_token %}
      {{ manual_interaction_form }}
      <input type="submit" name="add_manual_note" value="{% translate "Add note" %}">
    </form>
    <table>
      {% for interaction in object.interaction_set.order %}
        <tr>
          <td>{{ interaction.timestamp }}</td>
          <td>{{ interaction.user.username }}</td>
          <td>{{ interaction.get_origin_display }}</td>
          <td>{{ interaction.summary }}</td>
          <td>
            {% with primary=interaction.primary_content %}
              {% if primary and primary != interaction.summary %}{{ primary|linebreaksbr }}{% endif %}
            {% endwith %}
          </td>
          <td>
            {% if interaction.has_detail_page %}
              <a href="{% url 'crm:interaction-detail' pk=interaction.pk %}" target="_blank">View</a>
            {% endif %}
            {% if interaction.attachment %}<a href="{{ interaction.attachment_download_url }}">Download</a>{% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
    <h2>Payments</h2>
    <table>
      {% for payment in object.payment_set.order %}
        <tr>
          <td>{{ payment.created }}</td>
          <td>{{ payment.get_state_display }}</td>
          <td>{{ payment.get_amount_display }} {{ payment.get_currency_display }}</td>
          <td>{{ payment.description }}</td>
          <td>
            <a href="{% url 'admin:payments_payment_change' object_id=payment.pk %}">Edit</a>
          </td>
        </tr>
      {% endfor %}
    </table>

  </section>

{% endblock content %}
