{% extends "crm/base.html" %}

{% load i18n static timestamps %}

{% block breadcrum_list %}
  › <a href="{% url "crm:customer-list" kind="all" %}">Customers</a>
{% endblock breadcrum_list %}

{% block content %}
  <section class="content">
    <p>
      <a href="{{ object.get_absolute_url }}">{{ object.name }} ({{ object.pk }})</a>
      {% translate "will be merged into" %}
      <a href="{{ merge.get_absolute_url }}">{{ merge.name }} ({{ merge.pk }})</a>.
    </p>
    <ul>
      <li>
        {% blocktranslate with source=object.name source_pk=object.pk target=merge.name target_pk=merge.pk trimmed %}
          All content from {{ source }} ({{ source_pk }}) will be moved to {{ target }} ({{ target_pk }})
        {% endblocktranslate %}
      </li>
      <li>
        {% blocktranslate with source=object.name source_pk=object.pk trimmed %}
          {{ source }} ({{ source_pk }}) will be removed
        {% endblocktranslate %}
      </li>
    </ul>
    <form method="post">
      {% csrf_token %}
      {{ merge_form.merge }}
      {% translate "Merge" as merge_label %}
      <input type="submit" value="{{ merge_label }}">
      <a href="{{ object.get_absolute_url }}">{% translate "Cancel" %}</a>
    </form>
  </section>

{% endblock content %}
