{% extends "crm/base.html" %}

{% load i18n static timestamps %}

{% block breadcrum_list %}
  › <a href="{% url "crm:customer-list" kind="all" %}">Customers</a>
{% endblock breadcrum_list %}

{% block content %}
  <section class="content">
    <p>
      {{ object.name }}
      <br>
      {{ object.get_notify_emails|join:", " }}
      <br>
      {% if object.vat %}
        {{ object.vat }} (
        {% if object.vat_recently_validated %}
          validated on {{ object.vat_validated }}
        {% else %}
          <strong>not validated</strong>
        {% endif %}
        )
        <br>
      {% endif %}
      {{ object.address }},
      {% if object.address2 %}{{ object.address2 }},{% endif %}
      {{ object.city }}
      <br>
      {{ object.get_country_display }}
      <br>
      {% if object.end_client %}
        End client: {{ object.end_client }}
        <br>
      {% endif %}
      {% if object.zammad_id %}
        <a href="https://care.weblate.org/#organization/profile/{{ object.zammad_id }}">View in Zammad</a>
        <br />
      {% endif %}
      <a href="{% url "admin:payments_customer_change" object_id=object.pk %}">Edit</a>
    </p>
    <h2>Actions</h2>
    <form action="{% url "crm:customer-merge" pk=object.pk %}" method="get">
      <label>
        Merge with following customer object:
        <input type="number" name="merge" required>
      </label>
      <input type="submit" value="Review merge">
    </form>

    <h2>Services</h2>
    {% with services=object.service_set.all %}
      {% include "weblate_web/service_list_content.html" with object_list=services %}
      {% if not services %}
        <form method="post">
          <p>Invoice new service</p>
          {% csrf_token %}
          {{ new_subscription_form }}
          <input type="submit" value="Create">
        </form>
      {% endif %}
    {% endwith %}
    <h2>Agreements</h2>
    <table>
      {% for agreement in object.agreement_set.all %}
        <tr>
          <td>{{ agreement.signed }}</td>
          <td>{{ agreement.get_kind_display }}</td>
          <td>
            <a href="{% url 'agreement-download' pk=agreement.pk %}">Download</a>
          </td>
        </tr>
      {% endfor %}
    </table>
    {% if perms.legal.add_agreement %}
      <a href="{% url "admin:legal_agreement_add" %}?customer={{ object.pk }}"
         class="addlink">{% translate "Add new agreement" %}</a>
    {% endif %}
    <h2>Donations</h2>
    <table>
      {% for donation in object.donation_set.all %}
        <tr>
          <td>{{ donation.created }}</td>
          <td>{{ donation.get_reward_display }}</td>
          <td>{{ donation.get_amount }} EUR</td>
          <td>
            <a href="{% url 'admin:weblate_web_donation_change' object_id=donation.pk %}">Edit</a>
          </td>
        </tr>
      {% endfor %}
    </table>
    <h2>Invoices</h2>
    <table>
      {% include "invoices/invoice_list_content.html" with object_list=object.invoice_set.all %}
    </table>
    {% if perms.invoices.add_invoice %}
      <a href="{% url "admin:invoices_invoice_add" %}?customer={{ object.pk }}"
         class="addlink">{% translate "Issue new invoice" %}</a>
    {% endif %}
    <h2>Interactions</h2>
    <table>
      {% for interaction in object.interaction_set.all %}
        <tr>
          <td>{{ interaction.timestamp }}</td>
          <td>{{ interaction.user.username }}</td>
          <td>{{ interaction.get_origin_display }}</td>
          <td>{{ interaction.summary }}</td>
          <td>
            {% if interaction.content %}
              <a href="{% url 'crm:interaction-detail' pk=interaction.pk %}" target="_blank">View</a>
            {% endif %}
            {% if interaction.attachment %}
              <a href="{% url 'crm:interaction-download' pk=interaction.pk %}">Download</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
    <h2>Payments</h2>
    <table>
      {% for payment in object.payment_set.all %}
        <tr>
          <td>{{ payment.created }}</td>
          <td>{{ payment.get_state_display }}</td>
          <td>{{ payment.get_amount_display }} {{ payment.get_currency_display }}</td>
          <td>{{ payment.description }}</td>
          <td>
            <a href="{% url 'admin:payments_payment_change' object_id=payment.pk %}">Edit</a>
          </td>
        </tr>
      {% endfor %}
    </table>

  </section>

{% endblock content %}
