{% extends "crm/base.html" %}

{% load i18n static %}

{% block content %}
  <form>
    {{ search_form.q.label_tag }}
    {{ search_form.q }}
    {% translate "Search" as search_label %}
    <input type="submit" value="{{ search_label }}">
  </form>
  <section class="content">
    <table>
      {% for object in object_list %}
        <tr>
          <th>{{ object.name }}</th>
          <th>{{ object.end_client }}</th>
          <th>{{ object.email }}</th>
          <td>{{ object.vat }}</td>
          <td>{{ object.city }}</td>
          <td>{{ object.get_country_display }}</td>
          <td>
            <a href="{{ object.get_absolute_url }}">Details</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </section>
  {% include "crm/pagination.html" %}
{% endblock content %}
