{% extends "mail/base.html" %}

{% load i18n %}

{% block content %}

{% if subscription %}
<p>
{% trans "Your subscription payment on weblate.org is expiring soon. Please login to the website and renew it." %}
</p>

<p>
{% blocktrans with package=subscription.get_package_display %}Current subscription: {{ package }}{% endblocktrans %}
</p>
{% endif %}

{% if donation %}
<p>
{% trans "Your donation payment on weblate.org is expiring soon. Please login to the website and renew it." %}
</p>

<p>
{% blocktrans with package=donation.get_payment_description %}Current subscription: {{ package }}{% endblocktrans %}
</p>
{% endif %}

{% endblock %}
