{% extends "mail/base.html" %}

{% load i18n %}

{% block content %}

  {% if subscription %}
    <p>{% translate "Your subscription on weblate.org is expiring soon. Please sign in on the website to renew it." %}</p>

    {% include "mail/snippets/subscription_info.html" %}
  {% endif %}

  {% if donation %}
    <p>{% translate "Your donation on weblate.org is expiring soon. Please sign in on the website to renew it." %}</p>

    {% include "mail/snippets/donation_info.html" %}
  {% endif %}

  <a class="button" href="/user/">{% translate "Manage your payments" %}</a>

{% endblock content %}
