{% extends "mail/base.html" %}

{% load i18n %}

{% block content %}

{% if subscription %}
<p>
  {% trans "Your subscription on weblate.org should renew next week and you do not have configured automatic payments." %}
  {% trans "If you want to continue using the service, please perform the payment now." %}</p>
</p>

<p>
{% blocktrans with package=subscription.get_package_display %}Current subscription: {{ package }}{% endblocktrans %}
</p>
{% endif %}

{% if donation %}
<p>
  {% trans "Your donation on weblate.org should renew next week and you do not have configured automatic payments." %}
  {% trans "If you want to continue in supporting Weblate, please perform the payment now." %}</p>
</p>

<p>
{% blocktrans with package=donation.get_payment_description %}Current subscription: {{ package }}{% endblocktrans %}
</p>
{% endif %}

{% endblock %}
