{% extends "mail/base.html" %}

{% load i18n %}

{% block content %}
<p>
{% trans "Your payment on weblate.org has failed." %}
</p>

{% if payment.details.reject_reason %}
<p>
{{ payment.details.reject_reason }}
</p>
{% endif %}

<p>
{% trans "If concerning a recurring payment, it is retried three times, and if still failing, cancelled." %}
</p>

{% if payment.custome.origin == "https://hosted.weblate.org/create/billing/" %}
  <a class="button" href="https://hosted.weblate.org/billing/">{% trans "Manage your payments" %}</a>
{% else %}
  <a class="button" href="/user/">{% trans "Manage your payments" %}</a>
{% endif %}

{% endblock %}
