{% extends "mail/base.html" %}

{% load i18n %}

{% block content %}

{% if subscription %}
<p>
  {% trans "Your subscription on weblate.org should renew next week and you have not set up automatic payments." %}
  {% trans "If you want to continue using the service, please perform the payment now." %}</p>
</p>

{% include "mail/snippets/subscription_info.html" %}
{% endif %}

{% if donation %}
<p>
  {% trans "Your donation on weblate.org should renew next week and you have not set up automatic payments." %}
  {% trans "Please perform the payment now to continue supporting Weblate." %}</p>
</p>

{% include "mail/snippets/donation_info.html" %}
{% endif %}

<a class="button" href="/user/">{% trans "Manage your payments" %}</a>

{% endblock %}
