{% extends "mail/base.html" %}

{% load i18n %}

{% block content %}

  {% if subscription %}
    <p>
      {% translate "Your subscription on weblate.org should renew next week and you have not set up automatic payments." %}
      {% translate "If you want to continue using the service, please perform the payment now." %}
    </p>

    {% include "mail/snippets/subscription_info.html" %}
  {% endif %}

  {% if donation %}
    <p>
      {% translate "Your donation on weblate.org should renew next week and you have not set up automatic payments." %}
      {% translate "Please perform the payment now to continue supporting Weblate." %}
    </p>

    {% include "mail/snippets/donation_info.html" %}
  {% endif %}

  <a class="button" href="/user/">{% translate "Manage your payments" %}</a>

{% endblock content %}
