{% extends "mail/base.html" %}

{% load i18n %}

{% block content %}
  <p>{% translate "Thank you for purchasing support subscription on weblate.org" %}</p>

  <p>
    {% translate "You can now activate it in your Weblate using the following activation key:" %} <code>{{ subscription.service.secret }}</code>
  </p>

  <a class="button" href="/user/">{% translate "Manage your subscriptions" %}</a>
  <a class="button" href="https://docs.weblate.org/en/latest/admin/support.html">{% translate "Documentation on activating support" %}</a>

{% endblock content %}
