{% load i18n prices timestamps %}

{% with subscription=donation.donation_subscription %}
  <p>
    {% blocktranslate with package=donation.get_donation_payment_description %}Current subscription: {{ package }}{% endblocktranslate %}
  </p>
  {% if subscription.payment %}
    <p>
      {% blocktranslate with price=donation.get_donation_amount|price_format_convert:subscription.payment_obj.get_currency_display %}Subscription price: {{ price }}{% endblocktranslate %}
    </p>
    {% if subscription.payment_obj.card_info %}
      <p>
        {% blocktranslate with card_number=subscription.payment_obj.get_card_number %}Saved card: {{ card_number }}{% endblocktranslate %}
      </p>
    {% endif %}
  {% endif %}
  <p>
    {% blocktranslate with expiry=subscription.expires|date_format %}Subscription expiry: {{ expiry }}{% endblocktranslate %}
  </p>
{% endwith %}
