{% load i18n prices timestamps %}

<p>
  {% blocktranslate with package=donation.get_payment_description %}Current subscription: {{ package }}{% endblocktranslate %}
</p>
<p>
  {% blocktranslate with price=donation.get_amount|price_format_convert:donation.payment_obj.get_currency_display %}Subscription price: {{ price }}{% endblocktranslate %}
</p>
{% if donation.payment_obj.card_info %}
  <p>
    {% blocktranslate with card_number=donation.payment_obj.get_card_number %}Saved card: {{ card_number }}{% endblocktranslate %}
  </p>
{% endif %}
<p>
  {% blocktranslate with expiry=donation.expires|date_format %}Subscription expiry: {{ expiry }}{% endblocktranslate %}
</p>
