{% load i18n %}
{% load prices %}

<p>
  {% blocktrans with package=subscription.package %}Current subscription: {{ package }}{% endblocktrans %}
</p>
<p>
  {% blocktrans with price=subscription.package.price|price_format:subscription.payment_obj.get_currency_display %}Subscription price: {{ price }}{% endblocktrans %}
</p>
{% if subscription.service.site_url %}
  <p>
    {% blocktrans with url=subscription.service.site_url %}Subscription is for <a href="{{ url }}">{{ url }}</a>.{% endblocktrans %}
  </p>
{% endif %}
