<table>
  {% for object in object_list %}
    <tr>
      <th>{{ object.site_title }}</th>
      <td>{{ object.customer.name }}</td>
      <td>
        <a href="{{ object.site_url }}">{{ object.site_url }}</a>
      </td>
      <td>{{ object.site_version }}</td>
      <td>{{ object.get_status_display }}</td>
      <td>
        {% for subscription in object.enabled_subscriptions %}
          {{ subscription.package }}
          {% if not forloop.last %}<br>{% endif %}
        {% endfor %}
      </td>
      <td>
        <a href="{{ object.get_absolute_url }}">Details</a>
      </td>
    </tr>
  {% endfor %}
</table>
