html {
  image-rendering: crisp-edges;
}
@font-face {
  font-family: Source Sans Pro;
  font-weight: 400;
  src: url("static:weblate_fonts/source-sans/ttf/SourceSans3-Regular.ttf");
}
@font-face {
  font-family: Source Sans Pro;
  font-weight: 700;
  src: url("static:weblate_fonts/source-sans/ttf/SourceSans3-Bold.ttf");
}
@font-face {
  font-family: Source Sans Pro;
  font-weight: 400;
  font-style: italic;
  src: url("static:weblate_fonts/source-sans/ttf/SourceSans3-It.ttf");
}
