@font-face {
  font-family: Source Sans Pro;
  font-weight: 400;
  src: url("static:vendor/font-source/TTF/SourceSans3-Regular.ttf");
}
@font-face {
  font-family: Source Sans Pro;
  font-weight: 700;
  src: url("static:vendor/font-source/TTF/SourceSans3-Bold.ttf");
}
