{% extends "base.html" %}
{% load i18n %}
{% load downloads %}
{% load static %}
{% load humanize %}

{% block title %}{{ object.title }}{% endblock %}
{% block og_image %}https://weblate.org{{ object.image.image.url }}{% endblock %}
{% block ogprops %}
  <meta property="og:type" content="article" />
  <meta property="article:published_time" content="{{ object.timestamp|date:"c" }}" />
  <meta property="article:author" content="{{ object.author.last_name }}" />
  <meta property="article:section" content="{{ object.get_topic_display }}" />
{% endblock %}
{% block description %}
{{ object.summary }}
{% endblock %}

{% block content %}
	<section class="content">
    	<div class="row">
            <div class="wrap">
                <h1 class="section-title bold" lang="en" dir="ltr">{{ object.title }}</h1>
                <div class="article big post">
                    {% if object.image %}
                    <div class="img"><a href="{{ object.get_absolute_url }}"><img src="{{ object.image.image.url }}" /></a></div>
                    {% endif %}
                    <div class="content">
                        <div class="post-links post-links-top">
                            <span>{% trans "Share" %}</span>
                            {% include "snippets/sharer.html" %}
                        </div>
                    	<div class="author">
                        	<div class="avatar"><img src="https://hosted.weblate.org/avatar/80/{{ object.author.username }}.png" /></div>
                            {{ object.author.last_name }}<br />
                            <a href="{% url 'news' %}">{% trans "Blog" %}</a>  →  <a href="{% if object.topic %}{% url 'topic-archive' object.topic %}{% endif %}">{{ object.get_topic_display }}</a><br />
                            {{ object.timestamp|naturalday }}
                        </div>
                        <div lang="en" dir="ltr" class="entry">
                        {{ object.body }}
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="post-footer">
                        <div class="post-links">
                            <h2>{% trans "Share with friends" %}</h2>
                            {% include "snippets/sharer.html" %}
                        </div>
                        <h2>{% trans "Other topics" %}</h2>
                        <a class="button inline border rev small" href="{% url 'topic-archive' 'release' %}">{% trans "Release" %}</a>
                        <a class="button inline border rev small" href="{% url 'topic-archive' 'feature' %}">{% trans "Features" %}</a>
                        <a class="button inline border rev small" href="{% url 'topic-archive' 'development' %}">{% trans "Development" %}</a>
                        <a class="button inline border rev small" href="{% url 'topic-archive' 'localization' %}">{% trans "Localization" %}</a>
                        <a class="button inline border rev small" href="{% url 'milestone-archive' %}">{% trans "Milestones" %}</a>
                    </div>
                </div>
                <div class="related-posts">
                    <div class="section-title">{% trans "Related Articles" %}</div>
                    <div class="articles">
                      {% for item in related %}
                      <div class="article">
                        {% include "snippets/article.html" with object=item %}
                      </div>
                      {% endfor %}
                    </div>
                    <div class="clear"></div>
                    <a href="{% url 'news' %}" class="button center">{% trans "Back to blog" %}</a>
                </div>
            </div>
    	</div>
    </section>

{% endblock %}
