{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Donate to Weblate" %}{% endblock %}
{% block header %}{% trans "Donate to Weblate" %}{% endblock %}
{% block description %}
{% block headline %}{% trans "Weblate is provided free of charge, and welcomes donations." %}{% endblock %}
{% endblock %}
{% block content %}

<section class="content">
    <div class="row">
        <div class="wrap">
            <h1 class="section-title min-m">{% trans "Your donation" %}</h1>
            <div class="page-desc">
                <p>{% blocktrans %}<strong>Thank you</strong> for your decision to support Weblate. Please choose your preferred method of support or set a donation amount yourself. We are here to help if needed.{% endblocktrans %}</p>
            </div>
            <div class="payment-form">
                <div class="title">{% trans "Choose your amount in EUR" %}</div>
                <form method="post">
                    {% csrf_token %}
                    <input type="number" min="5" value="{{ form.amount.value }}" class="payment-input" name="amount" id="donate-amount" />
                    <p class="small">{% blocktrans with minimum=5 %}Amounts from €{{ minimum }} or more{% endblocktrans %}</p>
                    <div class="title pick">{% trans "Pick how often to donate" %}</div>
                    <div class="pick-items">
                        <input id="single-payment" name="recurring" type="radio" value="" {% if not form.recurring.value %}checked="checked"{% endif %} />
                        <label for="single-payment">{% trans "Single payment" %}</label>
                        
                        <input id="monthly" name="recurring" type="radio" value="m" {% if form.recurring.value == "m" %}checked="checked"{% endif %} />
                        <label for="monthly">{% trans "Monthly" %}</label>
                        
                        <input id="year" name="recurring" type="radio" value="y" {% if form.recurring.value == "y" %}checked="checked"{% endif %} />
                        <label for="year">{% trans "Every year" %}</label>
                        
                        <input id="2-year" name="recurring" type="radio" value="b" {% if form.recurring.value == "b" %}checked="checked"{% endif %} />
                        <label for="2-year">{% trans "Every 2nd year" %}</label>
                    </div>
                	<div class="title nowhoa">{% trans "Your reward options" %}</div>
                    <div class="title whoa">{% blocktrans %}<strong>Whoa!</strong> You can get any reward{% endblocktrans %}</div>
                    
                    <div class="rewards">
                        <div class="reward big" data-amount="100">
                            <div class="title">{% trans "Name placement in the list of supporters" %}</div>
                            <p class="unavailable">{% trans "Unavailable for your amount" %}</p>
                            <a href="#" class="button center choose">{% trans "Choose this" %}</a>
                            <a href="#" class="close">⨯</a>
                            <input name="reward" type="radio" value="1" />
                        </div>
                        <div class="reward big" data-amount="400">
                            <div class="title">{% trans "Link placement in the list of supporters" %}</div>
                            <p class="unavailable">{% trans "Unavailable for your amount" %}</p>
                            <a href="#" class="button center choose">{% trans "Choose this" %}</a>
                            <a href="#" class="close">⨯</a>
                            <input name="reward" type="radio" value="2" />
                        </div>
                        <div class="reward big" data-amount="800">
                            <div class="title">{% trans "Logo & link placement on the Weblate website" %}</div>
                            <p class="unavailable">{% trans "Unavailable for your amount" %}</p>
                            <a href="#" class="button center choose">{% trans "Choose this" %}</a>
                            <a href="#" class="close">⨯</a>
                            <input name="reward" type="radio" value="3" />
                        </div>
                        <div class="reward fourth checked" data-amount="0">
                            <div class="title">{% trans "Please — no reward" %}</div>
                            <p>{% trans "Thank you anyway!" %}</p>
                            <a href="#" class="button center choose">{% trans "Choose this" %}</a>
                            <input name="reward" type="radio" value="0" />
                        </div>
                    </div>
                    <input type="submit" class="button center" value="{% trans "Continue" %}" />
                </form>
            </div>
            <p class="small">
                {% trans "Please note — a full invoice for your contribution can be issued if need be." %}
                {% trans "Your link may be refused, especially if containing too adult or illegal content. Please consult us in advance if unsure." %}
            </p>
        </div>
    </div>
</section>

{% endblock %}
