{% extends "base.html" %}
{% load i18n %}
{% load translations %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
<li><a href="{% url 'create-billing' %}">{% trans "Create billing" %}</a></li>
{% endblock %}

{% block content %}
<div class="container-fluid">
{% trans "Please choose hosting plan fitting size of your project." as message %}
{% show_message "info" message %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans "Current billing status" %}</h3>
  </div>
  <div class="panel-body">
<form class="autosubmit">
{{ choose_billing|crispy }}
</form>
  </div>
  {% if billing %}
  {% include "billing/status.html" %}
  {% endif %}
</div>

<div class="row">
{% for plan in plans %}
<div class="col-md-3">
<div class="panel {% if billing and not plan.would_fit %}panel-warning{% elif billing.plan == plan %}panel-success{% else %}panel-primary{% endif %}">
  <div class="panel-heading">
    {% if billing and not plan.would_fit %}
    <span class="badge pull-right flip">{% trans "Too small for your project" %}</span>
    {% elif billing.plan == plan %}
    <span class="badge pull-right flip">{% trans "Current plan" %}</span>
    {% endif %}
    <h3 class="panel-title">{{ plan.name }}</h3>
  </div>
  <table class="table table-striped">
  <tr><th>{% trans "Strings limit" %}</th>
  <td>{% if plan.display_limit_strings %}{{ plan.display_limit_strings }}{% else %}{% trans "Unlimited" %}{% endif %}</td>
  </tr>
  <tr><th>{% trans "Languages limit" %}</th>
  <td>{% if plan.display_limit_languages %}{{ plan.display_limit_languages }}{% else %}{% trans "Unlimited" %}{% endif %}</td>
  </tr>
  <tr><th>{% trans "Repositories limit" %}</th>
  <td>{% if plan.display_limit_repositories %}{{ plan.display_limit_repositories }}{% else %}{% trans "Unlimited" %}{% endif %}</td>
  </tr>
  <tr><th>{% trans "Projects limit" %}</th>
  <td>{% if plan.display_limit_projects %}{{ plan.display_limit_projects }}{% else %}{% trans "Unlimited" %}{% endif %}</td>
  </tr>
  </table>
  <div class="panel-footer billing-buttons">
<form action="{% url 'create-billing' %}" method="post" class="form-inline">
{% csrf_token %}
<input type="hidden" name="plan" value="{{ plan.pk }}">
<button type="submit" class="btn btn-success btn-spaced" name="period" value="m" {% if billing and not plan.would_fit %}disabled{% endif %}>
<big>{% blocktrans with price=plan.price %}{{ price }} EUR / month{% endblocktrans %}</big><br>
<small>{% blocktrans with price=plan.vat_price %}{{ price }} EUR including VAT{% endblocktrans %}</small>
</button>
<button type="submit" class="btn btn-success btn-spaced" name="period" value="y" {% if billing and not plan.would_fit %}disabled{% endif %}>
<big>{% blocktrans with price=plan.yearly_price %}{{ price }} EUR / year{% endblocktrans %}</big><br>
<small>{% blocktrans with price=plan.vat_yearly_price %}{{ price }} EUR including VAT{% endblocktrans %}</small>
</button>
</form>
  </div>
</div>
</div>
{% endfor %}
<p class="help-block">
{% trans "The pricing is based on number of source strings and number of target languages. The source string is a text unit defined in a translation format, it can be word, sentence or a paragraph." %}
</p>
<p class="help-block">
{% trans "We're located in Czechia and you will be charged price with VAT if you are end user in the EU or Czech resident. Invoices for VAT registered companies in EU countries are issued as a reverse charge." %}
</p>

</div>
{% endblock %}
