{% extends "base.html" %}
{% load i18n %}
{% load translations %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
<li><a href="{% url 'create-billing' %}">{% trans "Create billing plan" %}</a></li>
{% endblock %}

{% block content %}
<div class="container-fluid">

{% if not choose_billing and not billing %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans "New billing plan" %}</h3>
  </div>
  <div class="panel-body">
  {% trans "Please choose a hosting plan that fits the size of your project." %}
  </div>
</div>
{% else %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{% trans "Current billing status" %}</h3>
  </div>
{% if choose_billing %}
  <div class="panel-body">
<form class="autosubmit">
{{ choose_billing|crispy }}
</form>
  </div>
{% endif %}
  {% if billing %}
  {% include "billing/status.html" with projects=billing.projects.all hide_buttons=True %}
  {% endif %}
</div>
{% endif %}

<div class="row">
{% for plan in plans %}
<div class="col-md-3">
<div class="panel panel-default">
  <div class="panel-heading">
    {% if billing and not plan.would_fit %}
    <span class="badge pull-right flip" title="{% trans "Too small for your project." %}">{% trans "Too small" %}</span>
    {% elif plan == selected_plan %}
    <span class="badge pull-right flip">{% trans "Selected plan" %}</span>
    {% elif billing.plan == plan %}
    <span class="badge pull-right flip">{% trans "Current plan" %}</span>
    {% endif %}
    <h3 class="panel-title">{{ plan.name }}</h3>
  </div>
  <table class="table table-striped">
  <tr><th>{% trans "Strings limit" %}</th>
  <td>{% if plan.display_limit_strings %}{{ plan.display_limit_strings }}{% else %}{% trans "Unlimited" %}{% endif %}</td>
  </tr>
  <tr><th>{% trans "Languages limit" %}</th>
  <td>{% if plan.display_limit_languages %}{{ plan.display_limit_languages }}{% else %}{% trans "Unlimited" %}{% endif %}</td>
  </tr>
  <tr><th>{% trans "Component limit" %}</th>
  <td>{% trans "Unlimited" %}</td>
  </tr>
  <tr><th>{% trans "Projects limit" %}</th>
  <td>{% if plan.display_limit_projects %}{{ plan.display_limit_projects }}{% else %}{% trans "Unlimited" %}{% endif %}</td>
  </tr>
  </table>
  <div class="panel-footer billing-buttons">
<form action="{% url 'create-billing' %}" method="post" class="form-inline">
{% csrf_token %}
<input type="hidden" name="plan" value="{{ plan.pk }}">
{% if billing %}
<input type="hidden" name="billing" value="{{ billing.pk }}">
{% endif %}
{% if plan.price %}
<button type="submit" class="btn btn-primary btn-spaced" name="period" value="m" {% if billing and not plan.would_fit %}disabled{% endif %}>
<big>{% blocktrans with price=plan.price %}{{ price }} EUR / month{% endblocktrans %}</big><br>
<small>{% blocktrans with price=plan.vat_price %}{{ price }} EUR including VAT{% endblocktrans %}</small>
</button>
{% endif %}
{% if plan.yearly_price %}
<button type="submit" class="btn btn-primary btn-spaced" name="period" value="y" {% if billing and not plan.would_fit %}disabled{% endif %}>
<big>{% blocktrans with price=plan.yearly_price %}{{ price }} EUR / year{% endblocktrans %}</big><br>
<small>{% blocktrans with price=plan.vat_yearly_price %}{{ price }} EUR including VAT{% endblocktrans %}</small>
</button>
{% endif %}
</form>
  </div>
</div>
</div>
{% endfor %}
</div>

<p class="help-block">
{% trans "Pricing is based on the number of source strings and target languages. The source string is a text unit defined in a translation format, it can be a word, sentence or paragraph." %}
</p>
<p class="help-block">
    {% trans "All listed prices exclude VAT." %}
    {% trans "EU end users and Czech companies will be charged with additional 21% VAT." %}
    {% trans "The reverse charge applies to invoices issued to businesses within the EU." %}
</p>

{% endblock %}
