{% extends "base.html" %}

{% load i18n static %}

{% block title %}
  {% translate "Weblate payment" %}
{% endblock title %}

{% block content %}
  <section class="content">
    <div class="row">
      <div class="wrap">
        <h1 class="section-title min-m">{% translate "Your billing information" %}</h1>
        <div class="payment-form">
          <form method="post">
            {% csrf_token %}
            {% for field in form %}
              {% if not field.is_hidden %}
                {% if form.is_fosdem and field.name == "vat" %}
                  <details>
                    <summary>Need a proper invoice? Click here to fill in the billing details.</summary>
                  {% endif %}
                  <div class="form-line">
                    <div class="line-left">{{ field.label }}</div>
                    <div class="line-right">
                      {{ field.errors }}
                      {{ field }}
                      {% if field.help_text %}<p class="help">{{ field.help_text|safe }}</p>{% endif %}
                    </div>
                    <div class="clear"></div>
                  </div>
                  {% if form.is_fosdem and field.name == "email" %}</details>{% endif %}
              {% else %}
                {{ field.errors }}
                {{ field }}
              {% endif %}
            {% endfor %}
            <div class="payment-pick"></div>
            <input type="submit" class="button center make-payment" value="{% translate "Save" %}" />
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
