{% extends "base.html" %}

{% load i18n prices static %}

{% block title %}
  {% translate "Weblate payment" %}
{% endblock title %}

{% block content %}
  <section class="content">
    <div class="row">
      <div class="wrap">
        <h1 class="section-title min-m">{% translate "Payment Summary" %}</h1>
        <div class="payment-form">
          <form method="post">
            {% csrf_token %}
            <div class="form-line">
              <div class="line-left">{% translate "Payment amount" %}</div>
              <div class="line-right">
                {{ object.vat_amount|price_format:object.get_currency_display }}
                {% if object.customer.needs_vat %}
                  {% translate "(including VAT)" %}
                {% endif %}
              </div>
              <div class="clear"></div>
            </div>
            <div class="form-line">
              <div class="line-left">{% translate "Payment description" %}</div>
              <div class="line-right" lang="en" dir="ltr">{{ object.description }}</div>
              <div class="clear"></div>
            </div>
            {% if object.recurring %}
              <div class="form-line">
                <div class="line-left">{% translate "Payment frequency" %}</div>
                <div class="line-right">
                  {% if object.recurring == "y" %}
                    {% translate "Payment will be issued yearly till you cancel the subscription." %}
                  {% elif object.recurring == "b" %}
                    {% translate "Payment will be issued every six months till you cancel the subscription." %}
                  {% elif object.recurring == "q" %}
                    {% translate "Payment will be issued every quarter till you cancel the subscription." %}
                  {% elif object.recurring == "m" %}
                    {% translate "Payment will be issued monthly till you cancel the subscription." %}
                  {% else %}
                    {{ object.recurring }}
                  {% endif %}
                  <br>
                  <span class="text-muted">{% translate "Note: This is unavailable for some payment methods, you will have to manually complete the next payment in those cases." %}</span>
                </div>
                <div class="clear"></div>
              </div>
            {% endif %}
            {% if not user.is_authenticated %}
              <div class="form-line">
                <div class="line-left">{% translate "Personal data" %}</div>
                <div class="line-right">
                  <span class="text-muted">
                    {% url 'terms' as terms_url %}
                    {% url 'privacy' as privacy_url %}
                    {% blocktranslate %}By performing the payment, you accept our <a href="{{ terms_url }}">General Terms and Conditions</a> and <a href="{{ privacy_url }}">Privacy Policy</a>.{% endblocktranslate %}
                  </span>
                </div>
                <div class="clear"></div>
              </div>
            {% endif %}
            {% if not payment.draft_invoice or not payment.draft_invoice.is_final %}
              <div class="form-line">
                <div class="line-left">{% translate "Billing information" %}</div>
                <div class="line-right">
                  <a href="{% url "payment-customer" pk=object.pk %}" class="button small right">{% translate "Edit" %}</a>
                  {% include "snippets/customer_address.html" with customer=object.customer %}
                </div>
                <div class="clear"></div>
              </div>
            {% endif %}
            {% if can_pay %}
              <div class="title pick">{% translate "Please choose payment method" %}</div>
              <div class="payment-pick">
                {% for backend in backends %}
                  <input id="pay-{{ backend.name }}"
                         name="method"
                         type="radio"
                         value="{{ backend.name }}" />
                  <label class="pay-{{ backend.name }} biglabel" for="pay-{{ backend.name }}">{{ backend.verbose }}</label>
                {% endfor %}
              </div>

              <input type="submit"
                     class="button center make-payment"
                     value="{% translate "Make Payment" %}" />
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
