{% extends "base.html" %}

{% load i18n prices static %}

{% block title %}
  {% translate "Weblate payment" %}
{% endblock title %}

{% block content %}
  <section class="content messages">
    <div class="row">
      <div class="wrap">
        <div class="alert info" role="alert">
          {% translate "Please follow the provided instructions to complete the payment." %}
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="row">
      {% with instructions=backend.get_instructions %}
        {% if instructions %}
          <div class="wrap">
            <h1 class="section-title min-m">{% translate "Payment Instructions" %}</h1>
            <div class="payment-form">
              <div class="form-line">
                <div class="line-left">{% translate "Payment amount" %}</div>
                <div class="line-right">
                  {{ object.vat_amount|price_format:object.get_currency_display }}
                  {% if object.customer.needs_vat %}
                    {% translate "(including VAT)" %}
                  {% endif %}
                </div>
                <div class="clear"></div>
              </div>
              {% for label, text in instructions %}
                <div class="form-line">
                  <div class="line-left">{{ label }}</div>
                  <div class="line-right">{{ text }}</div>
                  <div class="clear"></div>
                </div>
              {% endfor %}
              {% if object.paid_invoice or object.draft_invoice %}
                <a class="button center make-payment" href="{% url 'user-invoice' pk=object.pk %}">{% translate "Download pro forma invoice" %}</a>
              {% endif %}
            </div>
          </div>
        {% else %}
          <div class="wrap">
            <h1 class="section-title min-m">{% translate "Payment Summary" %}</h1>
            <div class="payment-form">
              <div class="form-line">
                <div class="line-left">{% translate "Payment amount" %}</div>
                <div class="line-right">
                  {{ object.vat_amount|price_format:object.get_currency_display }}
                  {% if object.customer.needs_vat %}
                    {% translate "(including VAT)" %}
                  {% endif %}
                </div>
                <div class="clear"></div>
              </div>
              <div class="form-line">
                <div class="line-left">{% translate "Payment description" %}</div>
                <div class="line-right" lang="en" dir="ltr">{{ object.description }}</div>
                <div class="clear"></div>
              </div>
              <div class="form-line">
                <div class="line-left">{% translate "Payment status" %}</div>
                <div class="line-right">{% translate "Waiting for payment to be completed." %}</div>
                <div class="clear"></div>
              </div>
              {% if object.details.pay_url %}
                <div class="form-line">
                  <div class="line-left">{% translate "Payment link" %}</div>
                  <div class="line-right">
                    <a href="{{ object.details.pay_url }}">{{ object.details.pay_url }}</a>
                  </div>
                  <div class="clear"></div>
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endwith %}
    </div>
  </section>
{% endblock content %}
