<html>
  <head>
    <meta charset="utf-8">
    <link href="invoice.css" media="print" rel="stylesheet">
    <title>Invoice 12345</title>
    <meta name="description" content="Weblate invoice">
  </head>

  <body>
    <header>
        <img class="logo" src="../logo-text/Logo-Darktext.svg">
        <h1>Invoice number 123456</h1>
        <p>March 31, 2018</p>
    </header>

    <div id="contacts" class="fullwidth">
      <address id="to">Invoice to
        Weblate s.r.o
        Nábřežní 694
        471 54 Cvikov
        Czechia
      </address>

      <address id="from">Issued by
        Weblate s.r.o
        Nábřežní 694
        471 54 Cvikov
        Czechia
        VAT ID: CZ21668027
        Reg: 21668027
        <a href="mailto:info@weblate.org">info@weblate.org</a>
      </address>
    </div>

    <table id="items">
      <thead>
        <tr>
          <th>Description</th>
          <th>Quantity</th>
          <th>Rate</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Weblate sponsorship: Pull requests for BitBucket Cloud</td>
          <td>100</td>
          <td>€34.20</td>
          <td>€3,420.00</td>
        </tr>
        <tr>
          <td>Website developmentWebsite designWebsite designWebsite designWebsite designWebsite design</td>
          <td>100</td>
          <td>€45.50</td>
          <td>€4,550.00</td>
        </tr>
        <tr>
          <td>Website integration</td>
          <td>100</td>
          <td>€25.75</td>
          <td>€2,575.00</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>Exchange rate for VAT</td>
          <td></td>
          <td>25.165 Kč</td>
          <td></td>
        </tr>
        <tr>
          <td>Total excluding VAT</td>
          <td></td>
          <td>123456 Kč</td>
          <td>1900 EUR</td>
        </tr>
        <tr>
          <td>VAT 21%</td>
          <td></td>
          <td>15641 Kč</td>
          <td>190 EUR</td>
        </tr>
        <tr>
          <td>Total including VAT</td>
          <td></td>
          <td>57854.33 Kč</td>
          <td>2299.00 EUR</td>
        </tr>
      </tfoot>
      <!--
      <tfoot>
        <tr>
          <td>Grand total</td>
          <td></td>
          <td></td>
          <td>€42,575.00</td>
        </tr>
      </tfoot>
      -->
    </table>

    <footer>
      <table id="total" class="fullwidth">
        <thead>
          <tr>
            <th>Total due</th>
            <th>Due by</th>
            <th>Payment</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="3"><strong>€10,545.00</strong></td>
            <td>May 10, 2018</td>
            <td rowspan="3">
               Paid by card
                <address>
                    Bank transfer
                    IBAN: CZ8720600000000001119847
                </address>
            </td>
          </tr>
          <tr>
            <td>Date of taxable supply</td>
          </tr>
          <tr>
            <td>2020-02-02</td>
          </tr>
        </tbody>
      </table>
      <p>
        The place of supply is considered to be in your country pursuant to Section 9 (1) Value Added Tax Act No. 235/2004 Coll. The person to whom the service is rendered is liable to declare and pay VAT in his country (reverse charge) according to European Directive 206/112/ES.
       </p>
    </footer>
  </body>
</html>
