<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="invoices:invoice.css" media="print" rel="stylesheet">
    <title>Weblate {{ invoice.get_kind_display }} {{ invoice.number }}</title>
    <meta name="description"
          content="Weblate {{ invoice.get_kind_display }} {{ invoice.number }} for {{ invoice.customer.name }}">
    <meta name="dcterms.created" content="{{ invoice.issue_date.isoformat }}">
    <meta name="author" content="Weblate s.r.o.">
  </head>

  <body>
    <header>
      <img class="logo" src="invoices:invoice-logo.svg" alt="Weblate">
      <h1>{{ invoice.get_kind_display }} number {{ invoice.number }}</h1>
      <p>{{ invoice.issue_date|date }}</p>
    </header>

    <div id="contacts" class="fullwidth">
      <address id="to">
        <h2>
          {% if invoice.is_draft %}
            Quote for
          {% else %}
            Invoice to
          {% endif %}
        </h2>
        {{ invoice.customer.name }}
        <br />
        {{ invoice.customer.address }}
        <br />
        {% if invoice.customer.address_2 %}
          {{ invoice.customer.address_2 }}
          <br />
        {% endif %}
        {{ invoice.customer.postcode }} {{ invoice.customer.city }}
        <br />
        {{ invoice.customer.country.name }}
        <br />
        {% if invoice.customer.vat %}
          VAT ID: {{ invoice.customer.vat }}
          <br />
        {% endif %}
        {% if invoice.customer.tax %}
          Reg: {{ invoice.customer.tax }}
          <br />
        {% endif %}
      </address>

      <address id="from">
        <h2>Issued by</h2>
        Weblate s.r.o
        <br />
        Nábřežní 694
        <br />
        471 54 Cvikov
        <br />
        Czechia
        <br />
        VAT ID: CZ21668027
      </address>
    </div>

    {% if invoice.customer_reference %}<p>Customer reference: {{ invoice.customer_reference }}</p>{% endif %}
    {% if invoice.customer_note %}<div class="customer_note">{{ invoice.customer_note|linebreaks }}</div>{% endif %}

    <table id="items">
      <thead>
        <tr>
          <th>Description</th>
          <th>Quantity</th>
          <th>Rate</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <tbody>
        {% for item in invoice.all_items %}
          <tr>
            <td>
              {{ item.description }}
              {% if item.has_date_range %}<em class="period">{{ item.get_date_range_display }}</em>{% endif %}
            </td>
            <td>{{ item.display_quantity }}</td>
            <td>{{ item.display_price }}</td>
            <td>{{ item.display_total_price }}</td>
          </tr>
        {% endfor %}
        {% if invoice.discount %}
          <tr>
            <td>{{ invoice.discount.description }}</td>
            <td></td>
            <td>{{ invoice.discount.display_percents }}</td>
            <td>{{ invoice.display_total_discount }}</td>
          </tr>
        {% endif %}
      </tbody>
      <tfoot>
        {% if invoice.vat_rate %}
          <tr>
            <td>Exchange rate for VAT</td>
            <td></td>
            <td>{{ invoice.exchange_rate_czk }} Kč</td>
            <td></td>
          </tr>
          <tr>
            <td>Total excluding VAT</td>
            <td></td>
            <td>{{ invoice.total_amount_no_vat_czk }} Kč</td>
            <td>{{ invoice.display_total_amount_no_vat }}</td>
          </tr>
          <tr>
            <td>VAT {{ invoice.vat_rate }}%</td>
            <td></td>
            <td>{{ invoice.total_vat_czk }} Kč</td>
            <td>{{ invoice.display_total_vat }}</td>
          </tr>
          <tr class="subtotal">
            <td>Total including VAT</td>
            <td></td>
            <td>{{ invoice.total_amount_czk }} Kč</td>
            <td>{{ invoice.display_total_amount }}</td>
          </tr>
        {% else %}
          <tr>
            <td>
              VAT 0% –
              {% if invoice.customer.is_eu %}
                Reverse charge
              {% else %}
                Place of supply outside EU
              {% endif %}
            </td>
            <td></td>
            <td></td>
            <td>{{ invoice.display_total_vat }}</td>
          </tr>
          <tr>
            <td>Grand total</td>
            <td></td>
            <td></td>
            <td>{{ invoice.display_total_amount }}</td>
          </tr>
        {% endif %}
      </tfoot>
    </table>

    <footer>
      <table id="total" class="fullwidth">
        <thead>
          <tr>
            <th>
              {% if invoice.is_draft %}
                Quote amount
              {% else %}
                Total due
              {% endif %}
            </th>
            <th>
              {% if invoice.is_draft %}
                Valid until
              {% else %}
                Due by
              {% endif %}
            </th>
            <th>Payment</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <strong>{{ invoice.display_total_amount }}</strong>
            </td>
            <td>{{ invoice.due_date|date }}</td>
            <td>
              {% if invoice.is_draft %}
                Bank transfer or card payments are available
              {% elif invoice.prepaid %}
                Do not pay, already paid
                <div class="method">
                  {% for payment in invoice.paid_payment_set.all %}
                    {{ payment.get_payment_description }}
                    <div class="uuid">{{ payment.pk }}</div>
                  {% endfor %}
                </div>
              {% else %}
                Bank transfer
                <br />
                {% for item, value in invoice.bank_account.get_short_info %}
                  {{ item }}: {{ value }}
                  <br />
                {% endfor %}
                Reference: {{ invoice.number }}
                <br />
              {% endif %}
            </td>
            <td>{{ invoice.get_payment_qrcode }}</td>
          </tr>
        </tbody>
      </table>
      {% with payment_url=invoice.get_payment_url %}
        {% if payment_url %}
          <p>
            Prefer card payment? <a href="{{ payment_url }}">{{ payment_url }}</a>
          </p>
        {% endif %}
      {% endwith %}
      <p>
        {% if invoice.is_draft %}
          Should you have any questions concerning this quotation, please contact us at <a href="mailto:sales@weblate.org">sales@weblate.org</a>.
        {% endif %}
        {% if invoice.vat_rate == 0 %}
          {% if invoice.customer.is_eu %}

            VAT exempt under reverse charge mechanism pursuant to Article 196 of Directive 2006/112/EC.

            Reverse charge applies.

            VAT to be accounted for by the recipient in accordance with the EU VAT rules.
          {% else %}
            VAT not applicable because the place of supply is outside the EU.

          {% endif %}
        {% endif %}
        {% if not invoice.is_draft %}This is a computer-generated invoice; signature not required.{% endif %}
      </p>
      <table id="details">
        <tbody>
          <tr>
            <th>
              {% if invoice.is_draft %}
                Quote date
              {% else %}
                Date of taxable supply
              {% endif %}
            </th>
            <th>CIN (IČ)</th>
            <th>Managing director</th>
            <th>Trade register</th>
            <th>Contact</th>
          </tr>
          <tr>
            <td>{{ invoice.issue_date|date }}</td>
            <td>21668027</td>
            <td>Michal Čihař</td>
            <td>C 52324/KSUL Krajský soud v Ústí nad Labem</td>
            <td>
              <a href="mailto:sales@weblate.org">sales@weblate.org</a>
            </td>
          </tr>
          <tr>
            <th>Account holder</th>
            <th>Account number</th>
            <th>BIC</th>
            <th>Issuing bank</th>
            <th></th>
          </tr>
          <tr>
            <td>Weblate s.r.o.</td>
            <td>{{ invoice.bank_account.number }}</td>
            <td>{{ invoice.bank_account.bic }}</td>
            <td>{{ invoice.bank_account.bank }}</td>
            <td class="thanks">♥ Thank you!</td>
          </tr>
        </tbody>
      </table>
    </footer>
  </body>
</html>
