<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="invoices:invoice.css" media="print" rel="stylesheet">
    <title>Weblate {{ invoice.get_kind_display }} {{ invoice.number }}</title>
    <meta name="description"
          content="Weblate {{ invoice.get_kind_display }} {{ invoice.number }} for {{ invoice.customer.name }}">
    <meta name="dcterms.created" content="{{ invoice.issue_date.isoformat }}">
    <meta name="author" content="Weblate s.r.o.">
  </head>

  <body>
    <header>
      <img class="logo" src="invoices:invoice-logo.svg" alt="Weblate">
      <h1>{{ invoice.get_kind_display }} number {{ invoice.number }}</h1>
      <p>{{ invoice.issue_date|date }}</p>
    </header>

    <div id="contacts" class="fullwidth">
      <address id="to">
        <h2>
          {% if invoice.is_draft %}
            Quote for
          {% else %}
            Invoice to
          {% endif %}
        </h2>
        {{ invoice.customer.name }}
        <br />
        {{ invoice.customer.address }}
        <br />
        {% if invoice.customer.address_2 %}
          {{ invoice.customer.address_2 }}
          <br />
        {% endif %}
        {{ invoice.customer.postcode }} {{ invoice.customer.city }}
        <br />
        {{ invoice.customer.country.name }}
        <br />
        {% if invoice.customer.vat %}
          VAT ID: {{ invoice.customer.vat }}
          <br />
        {% endif %}
        {% if invoice.customer.tax %}
          Reg: {{ invoice.customer.tax }}
          <br />
        {% endif %}
      </address>

      <address id="from">
        <h2>Issued by</h2>
        Weblate s.r.o
        <br />
        Nábřežní 694
        <br />
        471 54 Cvikov
        <br />
        Czechia
        <br />
        VAT ID: CZ21668027
      </address>
    </div>

    {% if invoice.customer_reference %}<p>Customer reference: {{ invoice.customer_reference }}</p>{% endif %}

    <table id="items">
      <thead>
        <tr>
          <th>Description</th>
          <th>Quantity</th>
          <th>Rate</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <tbody>
        {% for item in invoice.all_items %}
          <tr>
            <td>{{ item.description }}</td>
            <td>{{ item.display_quantity }}</td>
            <td>{{ item.display_price }}</td>
            <td>{{ item.display_total_price }}</td>
          </tr>
        {% endfor %}
        {% if invoice.discount %}
          <tr>
            <td>{{ invoice.discount.description }}</td>
            <td></td>
            <td>{{ invoice.discount.display_percents }}</td>
            <td>{{ invoice.display_total_discount }}</td>
          </tr>
        {% endif %}
      </tbody>
      <tfoot>
        {% if invoice.vat_rate %}
          <tr>
            <td>Exchange rate for VAT</td>
            <td></td>
            <td>{{ invoice.exchange_rate_czk }} Kč</td>
            <td></td>
          </tr>
          <tr>
            <td>Total excluding VAT</td>
            <td></td>
            <td>{{ invoice.total_amount_no_vat_czk }} Kč</td>
            <td>{{ invoice.display_total_amount_no_vat }}</td>
          </tr>
          <tr>
            <td>VAT {{ invoice.vat_rate }}%</td>
            <td></td>
            <td>{{ invoice.total_vat_czk }} Kč</td>
            <td>{{ invoice.display_total_vat }}</td>
          </tr>
          <tr class="subtotal">
            <td>Total including VAT</td>
            <td></td>
            <td>{{ invoice.total_amount_czk }} Kč</td>
            <td>{{ invoice.display_total_amount }}</td>
          </tr>
        {% else %}
          <tr>
            <td>Grand total</td>
            <td></td>
            <td></td>
            <td>{{ invoice.display_total_amount }}</td>
          </tr>
        {% endif %}
      </tfoot>
    </table>

    <footer>
      <table id="total" class="fullwidth">
        <thead>
          <tr>
            <th>
              {% if invoice.is_draft %}
                Quote amount
              {% else %}
                Total due
              {% endif %}
            </th>
            <th>
              {% if invoice.is_draft %}
                Valid until
              {% else %}
                Due by
              {% endif %}
            </th>
            <th>Payment</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <strong>{{ invoice.display_total_amount }}</strong>
            </td>
            <td>{{ invoice.due_date|date }}</td>
            <td>
              {% if invoice.is_draft %}
                Bank transfer or card payments are available
              {% elif invoice.prepaid %}
                Do not pay, already paid
              {% else %}
                Bank transfer
                <br />
                {% if invoice.get_currency_display == "CZK" %}
                  Bank account:  2002907393 / 2010
                {% elif invoice.get_currency_display == "EUR" %}
                  IBAN: CZ30 2010 0000 0023 0290 7395
                {% elif invoice.get_currency_display == "USD" %}
                  Bank account: 2603015278
                  BIC/SWIFT: FIOBCZPPXXX
                {% elif invoice.get_currency_display == "GBP" %}
                  Bank account: 2803015280
                  BIC/SWIFT: FIOBCZPPXXX
                {% endif %}
                <br />
                Reference: {{ invoice.number }}
                <br />
              {% endif %}
            </td>
            <td>{{ invoice.get_payment_qrcode }}</td>
          </tr>
        </tbody>
      </table>
      {% with payment_url=invoice.get_payment_url %}
        {% if payment_url %}
          <p>
            Prefer card payment? <a href="{{ payment_url }}">{{ payment_url }}</a>
          </p>
        {% endif %}
      {% endwith %}
      {% if invoice.is_draft %}
        <p>Should you have any questions concerning this quotation, please contact us at sales@weblate.org.</p>
      {% endif %}
      {% if invoice.vat_rate == 0 %}
        <p>
          The place of supply is considered to be in your country pursuant to Section 9 (1) Value Added Tax Act No. 235/2004 Coll. The person to whom the service is rendered is liable to declare and pay VAT in his country (reverse charge) according to European Directive 206/112/ES.
        </p>
      {% endif %}
      <table id="details">
        <tbody>
          <tr>
            <th>
              {% if invoice.is_draft %}
                Quote date
              {% else %}
                Date of taxable supply
              {% endif %}
            </th>
            <th>CIN (IČ)</th>
            <th>Managing director</th>
            <th>Trade register</th>
            <th>Contact</th>
          </tr>
          <tr>
            <td>{{ invoice.issue_date|date }}</td>
            <td>21668027</td>
            <td>Michal Čihař</td>
            <td>C 52324/KSUL Krajský soud v Ústí nad Labem</td>
            <td>
              <a href="mailto:info@weblate.org">info@weblate.org</a>
            </td>
          </tr>
          <tr>
            <th>Account holder</th>
            <th>Account number</th>
            <th>BIC</th>
            <th>Issuing bank</th>
            <th></th>
          </tr>
          <tr>
            <td>Weblate s.r.o.</td>
            <td>
              {% if invoice.get_currency_display == "CZK" %}
                2002907393 / 2010
              {% elif invoice.get_currency_display == "EUR" %}
                2302907395 / 2010
              {% elif invoice.get_currency_display == "USD" %}
                2603015278 / 2010
              {% elif invoice.get_currency_display == "GBP" %}
                2803015280 / 2010
              {% endif %}
            </td>
            <td>FIOBCZPPXXX</td>
            <td>Fio banka, a.s., Na Florenci 2139/2, 11000 Praha, Czechia</td>
            <td class="thanks">♥ Thank you!</td>
          </tr>
        </tbody>
      </table>
    </footer>
  </body>
</html>
