@page {
  margin: 1cm;
}

html,
a {
  color: #14213d;
  font-family: Source Sans Pro;
  font-size: 11pt;
  line-height: 1.6;
}
p {
  padding: 0 3mm;
}
h2 {
  font-size: 11pt;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
}
header {
  display: block;
  padding-bottom: 1.3cm;
}

h1 {
  font-size: 12pt;
  padding-top: 3mm;
}
header p,
header h1 {
  text-align: right;
  margin: 0;
}
img {
  position: absolute;
  max-width: 40%;
  margin: 0;
  padding: 0;
}

.fullwidth {
  border-style: solid;
  border-width: 5mm 1cm;
  margin: 0 -1cm;
  padding: 0;
  width: 19cm;
  background: #d5f5ee;
  border-color: #d5f5ee;
}

#contacts {
  display: flex;
}
address {
  font-style: normal;
}
#contacts address#to {
  flex: 1;
}
#contacts address#from,
#contacts address#from {
  color: #a9a;
  text-align: right;
}

#items {
  width: 100%;
  border-collapse: collapse;
  margin: 5mm 0;
}
#items th {
  font-weight: 400;
}
#items thead {
  border-bottom: 0.2mm solid #a9a;
}
#items tfoot,
#items .subtotal {
  border-top: 0.2mm solid #a9a;
}
#items td:last-of-type {
  text-align: right;
}
#items th,
#items td {
  text-align: center;
  padding: 0 3mm;
}
#items th,
#items td {
  text-align: right;
  white-space: nowrap;
}
#items th:first-of-type,
#items td:first-of-type {
  text-align: left;
  white-space: normal;
}
#items tfoot tr:first-of-type td {
  padding-top: 1cm;
  margin-top: 1cm;
}
footer {
  display: block;
  bottom: 0;
  position: absolute;
}
#details td,
#details th,
#total td,
#total th {
  text-align: center;
}
#details {
  width: 100%;
}
em.period {
  display: block;
}
footer p,
footer table {
  margin-top: 5mm;
}
em.period,
footer p,
footer p a,
#details,
#details a {
  font-size: 8pt;
}
#total strong {
  font-size: 18pt;
}
.thanks,
.reference {
  color: #1fa385;
}
.thanks {
  font-weight: 700;
}
svg {
  width: 2.5cm;
}
