{% load i18n %}
<section class="about">
    <div class="row">
        <div class="section-title">{% trans "Learn more" %}</div>
        <p>{% trans "Dive in, or leverage extensive skills and experience from our team of professionals, giving focused advice attentive to your exact needs." %}</p>
        <a href="{% url 'hosting' %}#trial" class="button inline black">{% trans "Production test" %}</a>
        <a href="https://hosted.weblate.org/projects/sandbox/" class="button inline border rev">{% trans "Demo" %}</a>
    </div>
</section>
