{% load i18n %}
<section class="about">
    <div class="row">
        <div class="section-title">{% trans "Learn more about Weblate" %}</div>
        <p>{% trans "Dive into Weblate for free, or connect with our team of professionals for more focused advice attentive to your exact needs. Take advantage of extensive skills & experience in over 150 languages." %}</p>
        <a href="{% url 'hosting' %}#trial" class="button inline black">{% trans "Try Weblate gratis" %}</a>
        <a href="https://hosted.weblate.org/projects/sandbox/" class="button inline border rev">{% trans "See a demo" %}</a>
    </div>
</section>
