{% load i18n %}
<section class="about">
    <div class="row">
        <div class="section-title">{% trans "Know more about Weblate" %}</div>
        <p>{% trans "Dive into Weblate for free, or connect with our team of professionals for a more focused advice on your exact needs. We have extensive skills & experience with over 150+ languages." %}</p>
        <a href="#" class="button inline black">{% trans "Try Weblate free" %}</a>
        <a href="https://hosted.weblate.org/projects/sandbox/" class="button inline border rev">{% trans "See a demo" %}</a>
    </div>
</section>
