{% load i18n %}
{% load static %}

<div class="f-box">
<a href="https://docs.weblate.org/en/latest/admin/continuous.html#continuous-translation">
    <div class="icon"><img src="{% static "img/icon-localization.svg" %}" /></div>
    <h3>{% trans "Continuous Localization" %}</h3>
    <p>{% trans "Automated localization workflow follows your project development closely." %}</p>
</a>
</div>
<div class="f-box">
<a href="https://docs.weblate.org/en/latest/user/checks.html">
    <div class="icon"><img src="{% static "img/icon-checks.svg" %}" /></div>
    <h3>{% trans "Quality Checks" %}</h3>
    <p>{% trans "Customizable quality checks helps improve translation quality." %}</p>
</a>
</div>
<div class="f-box">
<a href="https://docs.weblate.org/en/latest/faq.html#how-does-weblate-credit-translators">
    <div class="icon"><img src="{% static "img/icon-attribution.svg" %}" /></div>
    <h3>{% trans "Attribution" %}</h3>
    <p>{% trans "All translators are properly credited in the version control system." %}</p>
</a>
</div>
