{% load i18n static %}

<div class="f-box">
  <a href="https://docs.weblate.org/en/latest/admin/continuous.html#continuous-translation">
    <div class="icon">
      <img src="{% static "img/icon-localization.svg" %}" />
    </div>
    <h3>{% translate "Continuous Localization" %}</h3>
    <p>{% translate "Automated localization workflow follows your project development closely." %}</p>
  </a>
</div>
<div class="f-box">
  <a href="https://docs.weblate.org/en/latest/user/checks.html">
    <div class="icon">
      <img src="{% static "img/icon-checks.svg" %}" />
    </div>
    <h3>{% translate "Quality Checks" %}</h3>
    <p>{% translate "Customizable quality checks helps improve translation quality." %}</p>
  </a>
</div>
<div class="f-box">
  <a href="https://docs.weblate.org/en/latest/faq.html#how-does-weblate-credit-translators">
    <div class="icon">
      <img src="{% static "img/icon-attribution.svg" %}" />
    </div>
    <h3>{% translate "Attribution" %}</h3>
    <p>{% translate "All translators are properly credited in the version control system." %}</p>
  </a>
</div>
