{% load i18n %}
<nav class="main-menu">
    <ul>
        <li class="{% if request.resolver_match.url_name == 'features' %} active{% endif %}"><a href="{% url 'features'%}">{% trans "Features" %}</a></li>
        <li class="{% if request.resolver_match.url_name == 'download' %} active{% endif %} hide1025"><a href="{% url 'download' %}">{% trans "Download" %}</a></li>
        <li class="{% if request.resolver_match.url_name == 'hosting' %} active{% endif %}"><a href="{% url 'hosting' %}">{% trans "Pricing" %}</a></li>
        <li class="{% if request.resolver_match.url_name == 'contribute' %} active{% endif %}"><a href="{% url 'contribute' %}">{% trans "Contribute" %}</a></li>
        <li class="{% if request.resolver_match.url_name == 'donate' or request.resolver_match.url_name == 'donate-new' %} active{% endif %}"><a href="{% url 'donate' %}">{% trans "Donate" %}</a></li>
        {% if full_menu or footer%}
        <li class="{% if request.resolver_match.url_name == 'careers' %} active{% endif %}"><a href="{% url 'careers' %}">{% trans "Careers" %}</a></li>
        {% endif %}
        {% if full_menu %}
        <li><a href="https://shop.spreadshirt.net/weblate/">{% trans "Merchandise" %}</a></li>
        <li class="{% if request.resolver_match.url_name == 'discover' %} active{% endif %}"><a href="{% url 'discover' %}">{% trans "Discover" %}</a></li>
        {% endif %}
        <li class="menu-light gethelp{% if request.resolver_match.url_name == 'support' %} active{% endif %}"><a href="{% url 'support' %}">{% trans "Get help" %}</a></li>
        <li class="menu-light{% if request.resolver_match.url_name == 'news' or request.resolver_match.url_name == 'news-archive' or request.resolver_match.url_name == 'post' %} active{% endif %} hide1025"><a href="{% url 'news' %}">{% trans "Blog" %}</a></li>
        <li class="menu-light{% if request.resolver_match.url_name == 'about' %} active{% endif %} hide890"><a href="{% url 'about' %}">{% trans "About" %}</a></li>
        <li class="menu-light hide1100"><a href="https://docs.weblate.org/">{% trans "Docs" %}</a></li>
        {% if mobile_menu %}
        <li class="menu-light"><a href="https://hosted.weblate.org/" target="_blank">{% trans "Go Weblate!" %}</a></li>
        {% endif %}
    </ul>
</nav>
