{% load humanize i18n prices %}

<section class="pricing">
  <div class="row">
    <h2 class="section-title">
      {% translate "<strong>Gratis</strong> or <strong>Premium</strong>—it’s up to you" %}
    </h2>
    <div class="flex">
      <div class="box box-tabs">
        <h3>{% translate "Premium Cloud" %}</h3>
        <p>{% translate "for ease and comfort" %}</p>
        <ul class="pricing-tabs">
          {% for package in hosting_packages %}
            <li {% if forloop.first %}class="current"{% endif %}
                data-tab="plan-{{ package.name }}">{{ package.short_name }}</li>
          {% endfor %}
        </ul>
        {% for package in hosting_packages %}
          <div id="plan-{{ package.name }}"
               class="tab-content {% if forloop.first %}current{% endif %}">
            <table>
              <tr>
                <td>{% translate "Hosted strings" context "Hosting plan parameter" %}</td>
                <td>{{ package.limit_hosted_strings|intcomma }}</td>
              </tr>
              <tr>
                <td>{% translate "Languages" context "Hosting plan parameter" %}</td>
                <td>{% translate "Unlimited" %}</td>
              </tr>
              <tr>
                <td>{% translate "Projects" context "Hosting plan parameter" %}</td>
                <td>{% translate "Unlimited" %}</td>
              </tr>
              <tr>
                <td>{% translate "Components" context "Hosting plan parameter" %}</td>
                <td>{% translate "Unlimited" %}</td>
              </tr>
            </table>
            <div class="half first">
              <div class="box-price">
                <strong>{{ package.monthly_price|price_format }}</strong><span class="period">
                  {% filter lower %}
                    {% translate "Monthly" %}
                  {% endfilter %}
                </span>
              </div>
            </div>
            <div class="half">
              <div class="box-price">
                <span class="save">{% blocktranslate with percent=20 %}Save {{ percent }}%{% endblocktranslate %}</span><strong>{{ package.price|price_format }}</strong><span class="period">
                  {% filter lower %}
                    {% translate "Yearly" %}
                  {% endfilter %}
                </span>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="box">
        <h3>{% translate "Self-hosted" context "Hosting plan" %}</h3>
        <p>{% translate "for complete control" %}</p>

        <table>
          <tr>
            <td>{% translate "Hosted strings" context "Hosting plan parameter" %}</td>
            <td>{% translate "Unlimited" %}</td>
          </tr>
          <tr>
            <td>{% translate "Languages" context "Hosting plan parameter" %}</td>
            <td>{% translate "Unlimited" %}</td>
          </tr>
          <tr>
            <td>{% translate "Projects" context "Hosting plan parameter" %}</td>
            <td>{% translate "Unlimited" %}</td>
          </tr>
          <tr>
            <td>{% translate "Components" context "Hosting plan parameter" %}</td>
            <td>{% translate "Unlimited" %}</td>
          </tr>
        </table>
        <div class="box-price">
          {% url 'support' as url %}<strong>{% translate "Gratis" %}</strong>
          <br />
          {% blocktranslate %}with paid <a href="{{ url }}">support</a>{% endblocktranslate %}
        </div>
      </div>
      <div class="box">
        <h3>{% translate "Gratis Weblate" %}</h3>
        <p>{% translate "for libre projects" %}</p>

        <table>
          <tr>
            <td>{% translate "Hosted strings" context "Hosting plan parameter" %}</td>
            <td>{{ 160000|intcomma }}</td>
          </tr>
          <tr>
            <td>{% translate "Languages" context "Hosting plan parameter" %}</td>
            <td>{% translate "Unlimited" %}</td>
          </tr>
          <tr>
            <td>{% translate "Projects" context "Hosting plan parameter" %}</td>
            <td>1</td>
          </tr>
          <tr>
            <td>{% translate "Components" context "Hosting plan parameter" %}</td>
            <td>{% translate "Unlimited" %}</td>
          </tr>
        </table>
        <div class="box-price">
          <strong>{% translate "Gratis" %}</strong>
          <br />
          {% blocktranslate with url="https://hosted.weblate.org/hosting/" %}upon <a href="{{ url }}">request</a>{% endblocktranslate %}
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <a href="{% url 'hosting' %}" class="button">{% translate "Compare all plans" %}</a>
  </div>
</section>
