{% load i18n %}
	<section class="pricing">
    	<div class="row">
            <h2 class="section-title">{% trans "<strong>Free</strong> or <strong>Premium</strong> — it’s up to you" %}</h2>
            <div class="box box-tabs">
                <h3>{% trans "Premium Cloud" %}</h3>
                <p>{% trans "for ease & comfort" %}</p>
                <ul class="pricing-tabs">
                    <li class="current" data-tab="basic">Basic</li>
                    <li data-tab="medium">Medium</li>
                    <li data-tab="advanced">Advanced</li>
                    <li data-tab="enterprise">Enterprise</li>
                </ul>
                <div id="basic" class="tab-content current">
                    <table>
                        <tr>
                            <td>Source strings</td>
                            <td>1 000</td>
                        </tr>
                        <tr>
                            <td>Languages</td>
                            <td>15</td>
                        </tr>
                        <tr>
                            <td>Projects</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Components</td>
                            <td>Unlimited</td>
                        </tr>
                    </table>
                    <div class="half first">
                        <div class="box-price"><strong>€19</strong><br />monthly</div>
                    </div>
                    <div class="half">
                        <div class="box-price"><span>Save 17%</span><strong>€199</strong><br />yearly</div>
                    </div>
                </div>
                <div id="medium" class="tab-content">
                    <table>
                        <tr>
                            <td>Source strings</td>
                            <td>5 000</td>
                        </tr>
                        <tr>
                            <td>Languages</td>
                            <td>15</td>
                        </tr>
                        <tr>
                            <td>Projects</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Components</td>
                            <td>Unlimited</td>
                        </tr>
                    </table>
                    <div class="half first">
                        <div class="box-price"><strong>€19</strong><br />monthly</div>
                    </div>
                    <div class="half">
                        <div class="box-price"><span>Save 17%</span><strong>€199</strong><br />yearly</div>
                    </div>
                </div>                
                <div id="advanced" class="tab-content">
                    <table>
                        <tr>
                            <td>Source strings</td>
                            <td>10 000</td>
                        </tr>
                        <tr>
                            <td>Languages</td>
                            <td>15</td>
                        </tr>
                        <tr>
                            <td>Projects</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Components</td>
                            <td>Unlimited</td>
                        </tr>
                    </table>
                    <div class="half first">
                        <div class="box-price"><strong>€19</strong><br />monthly</div>
                    </div>
                    <div class="half">
                        <div class="box-price"><span>Save 17%</span><strong>€199</strong><br />yearly</div>
                    </div>
                </div>                
                <div id="enterprise" class="tab-content">
                    <table>
                        <tr>
                            <td>Source strings</td>
                            <td>Unlimited</td>
                        </tr>
                        <tr>
                            <td>Languages</td>
                            <td>Unlimited</td>
                        </tr>
                        <tr>
                            <td>Projects</td>
                            <td>Unlimited</td>
                        </tr>
                        <tr>
                            <td>Components</td>
                            <td>Unlimited</td>
                        </tr>
                    </table>
                    <div class="half first">
                        <div class="box-price"><strong>€19</strong><br />monthly</div>
                    </div>
                    <div class="half">
                        <div class="box-price"><span>Save 17%</span><strong>€199</strong><br />yearly</div>
                    </div>
                </div>                
            </div>            
            <div class="box">
                <h3>Self Hosted</h3>
                <p>for complete control</p>
                
                <table>
                	<tr>
                    	<td>Source strings</td>
                    	<td>Unlimited</td>
                    </tr>
                	<tr>
                    	<td>Languages</td>
                    	<td>Unlimited</td>
                    </tr>
                	<tr>
                    	<td>Projects</td>
                    	<td>Unlimited</td>
                    </tr>
                	<tr>
                    	<td>Components</td>
                    	<td>Unlimited</td>
                    </tr>
                </table>
                <div class="box-price"><strong>Free</strong><br />with paid <a href="#">support</a></div>
            </div>            
            <div class="box">
                <h3 class="green">Free Weblate</h3>
                <p>for non-profit projects</p>
                
                <table>
                	<tr>
                    	<td>Source strings</td>
                    	<td>Negotiable</td>
                    </tr>
                	<tr>
                    	<td>Languages</td>
                    	<td>Negotiable</td>
                    </tr>
                	<tr>
                    	<td>Projects</td>
                    	<td>1</td>
                    </tr>
                	<tr>
                    	<td>Components</td>
                    	<td>25</td>
                    </tr>
                </table>
                <div class="box-price"><strong>Free</strong><br />upon <a href="#">request</a></div>
            </div>  
            <div class="clear"></div>
            <a href="#" class="button">Compare all plans</a>          
    	</div>
    </section>
