{% load i18n %}
{% load static %}

<style>

.testimonial1{
    width: 365px;
    height: 347px;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
    margin-top: 10px;
}

.testimonial2{
    height: 291px;
    width: 365px;
    border-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
    margin-top: 33px;
}

.testimonial3{
    width: 365px;
    height: 347px;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
    margin-top: 10px;
}

.icon-review{
    text-align: left;   
}
.icon-review img{
    margin-left: 50px;
}
.icon-review p{
    margin-left:35px;
    margin-top: -25px;
    width: 70%;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color:#2A3744 ;
}

.circle-user{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    left: 32px;
    margin-top: 20px;
}
.circle-user img{
    margin: 0px;
    border-radius: 50%;
}

.icon-user{
    display: flex;
    text-align: left;
}
.contentt{
    margin-top: 20px;
    margin-left: 45px;
}
.contentt a{
    color: #1FA385;
    line-height: 23px;
    text-decoration: underline;
}
.unqimg{
    margin: 0px !important;
}
.custom-btn {
    margin-top: 20px;
}
.custom-btn a{
  text-decoration: none;
}

</style>

<style>

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

html,
body {
  height: 100%
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  color: #151515;
  background-color: #fff;
  margin: 0
}

a {
  text-decoration: none
}

.slider-slide {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;

}

.slider-number {
  font-size: 40px;
  color: #fff;
  display: block
}

.page {
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  max-width: 650px
}

.page-heading {
  font-size: 28px;
  color: #151515;
  margin: 30px 0 0 0
}

.page-desc {
  font-size: 12px;
  color: #636363;
  margin-top: 2px;
  margin-bottom: 10px;
  display: inline-block
}

.page-link {
  font-weight: 700;
  font-size: 14px;
  color: #0652dd;
  margin-bottom: 30px;
  display: block
}

.page-link:hover,
.page-link:focus {
  color: #151515
}

.page-slider {
  width: 100%;
  height: 400px
}

.page-code {
  font-size: 15px;
  padding: 15px 0;
  display: block
}

.page-code .code-line {
  display: block;
  margin-left: 30px
}

.page-code .code-line-deep {
  display: block;
  margin-left: 60px
}

.container,
.footer,
.main,
.header {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto
}

.header {
  padding: 40px
}

.header-heading {
  font-weight: 700;
  font-size: 32px;
  color: #151515;
  margin: 0
}

.main {
  background-color: #fff
}

.main-column {
  flex: 1 1 50%;
  padding: 10px 40px
}

.content {
  margin-bottom: 65px
}

.content .content-heading {
  font-weight: 700;
  font-size: 22px;
  color: #151515;
  margin-bottom: 10px;
  margin-top: 0
}

.content .content-line {
  width: 50px;
  height: 2px;
  text-align: left;
  background-color: #636363;
  border: 0;
  margin: 0
}

.content .content-desc {
  font-size: 13px;
  line-height: 22px;
  color: #636363
}

.content .content-desc.has-bg {
  font-size: 12px;
  color: #151515;
  padding: 6px;
  border: 2px solid #636363
}

.content .content-link {
  font-size: 12px;
  color: #fff;
  display: inline-block;
  padding: 8px 12px;
  margin-top: 15px;
  background-color: #151515;
  transition: all .2s
}

.content .content-link:hover,
.content .content-link:focus {
  color: #151515;
  background-color: #fff
}

@media screen and (min-width: 600px) {
  .main {
    display: -webkit-flex;
    display: flex
  }
}


</style>

<style>
  .simple-slider .slider-btn.slider-btn-prev {
	left: 2px !important;
    background-position: left !important;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1) !important;
    background: white !important;
    border-radius: 50% !important;
    width: 50px !important;
    height: 50px !important;
}

.simple-slider .slider-btn.slider-btn-next {
	right: 2px !important;
    background-position: right !important;
    border-radius: 50% !important;
    width: 50px !important;
    height: 50px !important;
    background: white !important;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1) !important;
}

.simple-slider .slider-btn.slider-btn-next img{
	padding: 18px !important;
}

.simple-slider .slider-btn.slider-btn-prev img{
    padding: 18px !important;
}
</style>

<div>
   <a href=""><img src="{% static "img/Siemens-logo.png" %}" alt="Siemens" /></a>
   <a href=""><img src="{% static "img/Dyson-logo.png" %}" alt="Dyson" /></a>
   <a href=""><img src="{% static "img/YouGov-logo.png" %}" alt="YouGov" /></a>
</div>
<br>
<div class="simple-slider page-slider">
    <div class="slider-wrapper">
      <div class="slider-slide is-bright">
        <div class="testimonial2">
            <div class="icon-review">
                <img src="{% static "img/Quotes.png" %}" alt="Quotes" />
                <p>Weblate is gorgeous app! It really saved my life. Translations are managed within same version control as code. Weblate is gorgeous app! It really my life. Translations are managed within.</p>
            </div>
            <div class="icon-user">
                <div class="circle-user">
                    <img src="{% static "img/donald.png" %}" alt="Quotes" />
                </div>
                <div class="contentt">
                    <p>Donald McCalister</p>
                    <a href=""><p>Dyson Electronics</p></a>
                    <!-- <img class="unqimg" src="{% static "img/dyson-group.png" %}" alt="Quotes" /> -->
              </div>
            </div>
            
        </div>
        </div>


<div class="slider-slide">
<div class="testimonial3">
    <div class="icon-review">
        <img src="{% static "img/Quotes.png" %}" alt="Quotes" />
    <p>Weblate is gorgeous app! It really saved my life. Translations are managed within same version control system as code. Weblate is gorgeous app! It really saved my life. Translations are managed within same version control system as code.</p>
    </div>
    <div class="icon-user">
        <!-- <div class="circle-user">
            

        </div> -->
        <div class="contentt">
            <p>Elvis McCalister</p>
            <a href="" style="text-decoration: none;font-weight: bold;color: black;"><p>No Case Study Ltd.</p></a>
            <img class="unqimg" src="{% static "img/dyson-group.png" %}" alt="Quotes" />

        </div>
    </div>

</div>
</div>
<div class="slider-slide">
  <div class="testimonial1">
      <div class="icon-review">
          <img src="{% static "img/Quotes.png" %}" alt="Quotes" />
      <p>Weblate is gorgeous app! It really saved my life. Translations are managed within same version control system as code. Weblate is gorgeous app! It really saved my life. Translations are managed within same version control system as code.</p>
      </div>
      <div class="icon-user">
          <!-- <div class="circle-user"> -->
              
  
          <!-- </div> -->
          <div class="contentt">
              <p>Jonathan McCalister</p>
              <a href=""><p>Siemens Inc.</p></a>
              <img class="unqimg" src="{% static "img/siemens-group.png" %}" alt="Quotes" />
  
          </div>
      </div>
  </div>
  </div>

</div>
<div class="slider-btn slider-btn-prev"><img src="{% static "img/chevron.png" %}" style="margin: 0px;padding:18px;" alt="Quotes" /></div>
   <div class="slider-btn slider-btn-next"><img src="{% static "img/chevron1.png" %}" style="margin: 0px;padding:18px;" alt="Quotes" /></div>
</div>
<br>
<br>
<div class="custom-btn">
    <a href="" class="button border small rev inline" target="_blank">{% trans "See case studies" %}</a>
</div>



