{% load i18n %}
{% load static %}
<a href="https://l10n.opensuse.org/"><img src="{% static "img/logo-opensuse.svg" %}" alt="openSUSE" /></a>
<a href="https://translations.documentfoundation.org/"><img src="{% static "img/logo-libreoffice.svg" %}" alt="LibreOffice" /></a>
<a href="https://translate.fedoraproject.org/"><img src="{% static "img/logo-fedora.svg" %}" alt="Fedora" /></a>
<a href="https://hosted.weblate.org/engage/freedombox/"><img src="{% static "img/logo-freedombox.svg" %}" alt="Freedombox" /></a>
<a href="https://hosted.weblate.org/projects/collabora-online/"><img src="{% static "img/logo-collabora.svg" %}" alt="Collabora" /></a>
<div class="clear"></div>
<a href="{% url 'discover' %}" class="button border small rev inline">{% trans "Discover Weblate" %}</a>
