{% load i18n %}
{% load static %}
<a href="https://hosted.weblate.org/engage/turris/"><img src="{% static "img/logo-turris.svg" %}" alt="#" /></a>
<a href="https://hosted.weblate.org/engage/sonic-pi/"><img src="{% static "img/logo-pi.svg" %}" alt="#" /></a>
<a href="https://l10n.opensuse.org/"><img src="{% static "img/logo-opensuse.svg" %}" alt="#" /></a>
<a href="https://hosted.weblate.org/engage/phpmyadmin/"><img src="{% static "img/logo-pma.svg" %}" alt="#" /></a>
<a href="https://hosted.weblate.org/engage/freedombox/"><img src="{% static "img/logo-freedombox.svg" %}" alt="#" /></a>
<div class="clear"></div>
<a href="https://hosted.weblate.org/projects/" class="button border small green inline">{% trans "See all projects" %}</a>
