{% load i18n %}

<p>
  {% translate "Payments by credit card, bank transfer or cryptocurrency transaction are accepted." %}
  {% blocktranslate with contact="mailto:sales@weblate.org" %}Please <a href="{{ contact }}">get in touch</a> for more details and possibilities.{% endblocktranslate %}
  {% translate "All listed prices exclude VAT." %}
  {% translate "EU end users and Czech companies will be charged with additional 21% VAT." %}
  {% translate "The reverse charge applies to invoices issued to businesses within the EU." %}
</p>
