{% extends "base.html" %}
{% load i18n %}

{% block content %}
<section class="content">
    <div class="row">
        <div class="wrap">
            <h1 class="section-title min-m">{% block title %}{% trans "Server error" %}{% endblock %}</h1>
            <div class="page-desc">
                <p>{% blocktrans %}The server had serious problems while serving your request. We've just sent our trained monkeys to fix the issue.{% endblocktrans %}</p>
            </div>
        </div>
        <div class="wrap">
<script
  src="https://browser.sentry-cdn.com/8.18.0/bundle.min.js"
  integrity="sha384-mWIp3Htm0X/7WJBW79NMBx3vx8VQ/KYcbdAkNY0RUstb1IuKtEPtAyLcdB6rHO1x"
  crossorigin="anonymous"
></script>

{% if sentry_event_id %}
  <script>
    Sentry.init({ dsn: "

  https://5eb5194266692a262a4f8a6aad7a25b6@o4507304895905792.ingest.de.sentry.io/4507486269866064" });
    Sentry.showReportDialog({
      eventId: "{{ sentry_event_id }}",
    });
  </script>
{% endif %}
        </div>
    </div>
</section>
{% endblock %}
