{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block body_class %}page pabout light{% endblock %}

{% block content %}
<section class="content">
    <div class="row">
        <div class="wrap">
            <h1 class="section-title min-m">{% block title %}{% trans "The Weblate Way" %}{% endblock %}</h1>
            <div class="page-desc">
                <p>{% block description %}{% trans "We love localization and libre software enough to build a privacy-respecting localization tool and provide it as copylefted libre software. It all started in 2012." %}{% endblock %}</p>
            </div>

            <div class="aboutus-list">
                <div class="box green">
                    <img class="avatar" src="{% static "img/MichalPhoto.png" %}" />
                    <div class="date">{% trans "February 2012" %}—Michal Čihař</div>
                    <h2><a href="{% url 'post' slug='looking-pootle-alternative' %}">{% trans "Looking for a Pootle alternative" %}</a></h2>
                    <p>{% trans "…The key feature is full integration with Git. Changes are committed to a local Git branch and easily merged back." %}</p>
                </div>
                <div class="box blue">
                    <div class="date">{% trans "March 2012" %}—Michal Čihař</div>
                    <h2><a href="{% url 'post' slug='announcing-weblate' %}">{% trans "Announcing Weblate" %}</a></h2>
                    <p>{% trans "…After about a week of development, Weblate is announced; a web-based translation tool with tight Git integration." %}</p>
                </div>
                <div class="box blue">
                    <div class="date">{% trans "April 2012" %}—Michal Čihař</div>
                    <h2><a href="{% url 'post' slug='why-weblate' %}">{% trans "Why Weblate?" %}</a></h2>
                    <p>
                        {% trans "Instead of settling with an existing solution, Weblate was made to have:" %}<br />
                        ◦ {% trans "Git integration" %}<br />
                        ◦ {% trans "Translator attribution" %}<br />
                        ◦ {% trans "Handling of several branches" %}<br />
                        ◦ {% trans "Displaying context" %}<br />
                        ◦ {% trans "Sane merging of translations" %}<br />
                        ◦ {% trans "Consistency checks" %}
                    </p>
                </div>
                <div class="box green">
                    <div class="date">{% trans "Today" %}—Michal Čihař</div>
                    <h2>{% trans "Weblate grows and the future is open to new opportunities." %}</h2>
                </div>
            </div>

            <h2 class="section-title crypto">{% trans "Your Weblate Team" %}</h2>
            <div class="weblate-team">
                <div class="weblate-team-content">
                   <img src="https://hosted.weblate.org/avatar/80/nijel.png" alt="Michal Čihař" />
                     <div class="content-p">
                       <p>Michal Čihař</p>
                       <br>
                       <t>{% trans "Author of the idea; code and development leader. He’s also designing custom and large-scale solutions." %}</t>
                    </div>
                </div>
                <div class="weblate-team-content">
                    <img src="https://hosted.weblate.org/avatar/80/orangesunny.png" alt="Benjamin Alan Jamie" />
                    <div class="content-p">
                        <p>Benjamin Alan Jamie</p>
                        <br>
                        <t>{% trans "Community manager and support guru who’s helping you with smooth workflows. Our salesperson." %}</t>
                    </div>
                    </div>
                    <div class="weblate-team-content">
                        <img src="https://hosted.weblate.org/avatar/80/vitavalka.png" alt="Víťa Válka" />
                        <div class="content-p">
                            <p>Víťa Válka</p>
                            <br>
                            <t>{% trans "Interface and graphics designer elevating user happiness. He’s continually optimizing Weblate." %}</t>
                        </div>
                        </div>


            </div>

            <h2 class="section-title crypto">{% trans "Contributors and translators united" %}</h2>
            <div class="supporters-items">
                {% for contributor in contributors %}
                <a href="{{ contributor.author.html_url }}" title="{{ contributor.author.login }}"><img src="{{ contributor.author.avatar_url }}&amp;s=64" class="supporters supporters-avatar" /></a>
                {% endfor %}
            </div>

            <h2 class="section-title crypto">{% trans "The Weblate history" %}</h2>
            <div class="half half-translations history">
                <a class="trans-item" href="{% url 'post' slug='new-weblate-40' %}">
                    <div class="trans-title">{% trans "April 2020" %}—Weblate 4.0</div>
                    <div class="trans-project">{% trans "Improved translation memory and support for intermediate translations" %}</div>
                </a>
                <a class="trans-item" href="{% url 'post' slug='weblate-34' %}">
                    <div class="trans-title">{% trans "January 2019" %}—Weblate 3.4</div>
                    <div class="trans-project">{% trans "Automatic detection of translatable files in a repository" %}</div>
                </a>
                <a class="trans-item" href="{% url 'post' slug='weblate-3-0' %}">
                    <div class="trans-title">{% trans "June 2018" %}—Weblate 3.0</div>
                    <div class="trans-project">{% trans "Weblate 3.0 is released with rewritten and more flexible access control" %}</div>
                </a>
                <a class="trans-item" href="{% url 'post' slug='weblate-220' %}">
                    <div class="trans-title">{% trans "April 2018" %}—Weblate 2.20</div>
                    <div class="trans-project">{% trans "Built-in translation memory" %}</div>
                </a>
                <a class="trans-item" href="{% url 'post' slug='weblate-219' %}">
                    <div class="trans-title">{% trans "February 2018" %}—Weblate 2.19</div>
                    <div class="trans-project">{% trans "Introducing addons to customize the localization workflow" %}</div>
                </a>
                <a class="trans-item" href="{% url 'post' slug='weblate-217' %}">
                    <div class="trans-title">{% trans "February 2018" %}—Weblate 2.17</div>
                    <div class="trans-project">{% trans "Bringing more fine grained per project ACL settings" %}</div>
                </a>
                <a class="trans-item" href="{% url 'post' slug='making-weblate-more-secure-and-robust' %}">
                    <div class="trans-title">{% trans "April 2017" %}</div>
                    <div class="trans-project">{% trans "Security program opened at HackerOne" %}</div>
                </a>
                <a class="trans-item" href="{% url 'post' slug='weblate-29' %}">
                    <div class="trans-title">{% trans "November 2016" %}—Weblate 2.9</div>
                    <div class="trans-project">{% trans "Support for uploading screenshots to provide better context for translators" %}</div>
                </a>
                <a href="{% url 'milestone-archive' %}" class="button center">{% trans "Show older milestones" %}</a>
            </div>
        </div>
    </div>
</section>
<section class="donations-info aboutus">
    <div class="di-section">
        <div class="half half-img rotate">
            <img src="{% static "img/michal-cihar.jpg" %}" />
        </div>
        <div class="half half-content">
            <h2>Michal Čihař</h2>
            <div class="user-info">{% trans "Founder of Weblate" %}</div>
            <p>{% blocktrans %}Michal is a libre software enthusiast born and residing in Prague, Czech Republic. He is a long term contributor to various libre software projects like <a href="https://weblate.org/">Weblate</a>, <a href="https://wammu.eu/">Gammu</a>, <a href="https://www.phpmyadmin.net/">phpMyAdmin</a> and <a href="https://www.debian.org/">Debian</a>.{% endblocktrans %}</p>
            <p>{% trans "After employment in several technology companies, since early 2016, Michal dedicated himself to providing services to companies focusing on localization and Weblate." %}</p>
        </div>
    </div>
</section>
{% include "snippets/about.html" %}
<section class="contact">
    <div class="row">
        <h2 class="section-title">{% trans "Contact" %}</h2>
        <div class="contact">
            <div class="form-line">
                <div class="line-left">{% trans "E-mail" %}</div>
                <div class="line-right">
                <a href="mailto:info@weblate.org">info@weblate.org</a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="form-line">
                <div class="line-left">{% trans "Provider" %}</div>
                <div class="line-right">
                Ing. Michal Čihař<br />
                Nábřežní 694<br />
                471 54, Cvikov, {% trans "Czechia" %}<br/>
                </div>
                <div class="clear"></div>
            </div>
            <div class="form-line">
                <div class="line-left">{% trans "Business ID" %}</div>
                <div class="line-right">
                04705904
                </div>
                <div class="clear"></div>
            </div>
            <div class="form-line">
                <div class="line-left">{% trans "VAT ID" %}</div>
                <div class="line-right">
                CZ8003280318
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <a href="mailto:info@weblate.org" class="button inline">{% trans "Contact us" %}</a>
    <div>
</section>
{% include "snippets/bottom.html" %}
{% endblock %}
