{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load i18n_noop %}

{% block body_class %}page contribute light{% endblock %}


{% block content %}
  <section class="content">
    <div class="row">
      <div class="wrap">
        <h1 class="section-title min-m">
          {% block title %}
            {% trans "Career at Weblate" %}
          {% endblock %}

        </h1>
        <div class="page-desc">
          <p>
            {% block description %}
              {% trans "Weblate, the libre localization platform, wants you on the team!" %}
            {% endblock %}

          </p>
          <a href="{% url 'about' %}" class="button inline">{% trans "Learn more" %}</a>
          <a href="mailto:michal@weblate.org" class="button inline border rev">{% trans "Contact us" %}</a>
        </div>
        <div class="wrap features">
          <div class="f-box">
            <div class="icon">
              <img src="{% static "img/icon-software.svg" %}" />
            </div>
            <h3>{% trans_noop "Libre software advocates" %}</h3>
            <p>
              {% trans_noop "We embrace open source principles, with all our code and issues accessible to the public, fostering collaboration and transparency." %}
            </p>
          </div>
          <div class="f-box">
            <div class="icon">
              <img src="{% static "img/icon-earth.svg" %}" />
            </div>
            <h3>{% trans_noop "Remote work flexibility" %}</h3>
            <p>
              {% trans_noop "Enjoy the convenience of working remotely while collaborating with a diverse team of dedicated individuals." %}
            </p>
          </div>
          <div class="f-box">
            <div class="icon">
              <img src="{% static "img/icon-finance.svg" %}" />
            </div>
            <h3>{% trans_noop "Room for growth" %}</h3>
            <p>
              {% trans_noop "As a small company, we offer opportunities for personal and professional development. Every team member has space to contribute and grow." %}
            </p>
          </div>
        </div>

        <div class="contribution-list clear">
          <div class="flex">
            <div class="box">
              <h2>{% trans_noop "Front-end developer" %}</h2>

              <p>
                {% trans_noop "Are you passionate about improving user experiences and making a meaningful impact? Join us as a front-end developer to elevate Weblate's interface!" %}
              </p>

              <ul>

                <li>
                  <strong>{% trans_noop "Freedom to Innovate:" %}</strong> {% trans_noop "Our front-end, currently powered by Bootstrap and jQuery, offers you the opportunity to shape its future by selecting the frameworks that best fit our goals." %}
                </li>

                <li>
                  <strong>{% trans_noop "Strong Foundation:" %}</strong> {% trans_noop "Our Python-based back-end utilizes Django, Django REST framework, Celery, Translate Toolkit, and more, providing a solid backbone for further enhancements." %}
                </li>

                <li>
                  <strong>{% trans_noop "Open Collaboration:" %}</strong>

                  {% blocktrans with issues="https://github.com/WeblateOrg/weblate/issues?q=is%3Aopen%20label%3A%22Area%3A%20ux%22" %}Dive into our <a href="{{ issues }}">open issues</a> to gain insights and contribute to our dynamic ecosystem.{% endblocktrans %}
                  {% blocktrans with issues="https://github.com/WeblateOrg/weblate/issues?q=is%3Aopen%20label%3A%22Area%3A%20ux%22%20label%3A%22good%20first%20issue%22%20" %}Showcase your skills by tackling one of our <a href="{{ issues }}">good first issues</a> and making a tangible impact.{% endblocktrans %}
                </li>

              </ul>


              <h3>{% trans_noop "Desired Skills &amp; Experience" %}</h3>

              <ul>
                <li>{% trans_noop "Strong skills in front-end development and user experience design." %}</li>
                <li>{% trans_noop "Proficiency in written and spoken English." %}</li>
                <li>{% trans_noop "Passion for open source principles and collaborative development." %}</li>
              </ul>

              <p>
                {% trans_noop "If you're ready to contribute your expertise and shape the future of Weblate, apply now to join our team!" %}
              </p>

              <a href="mailto:michal@weblate.org?subject=Front-end developer for Weblate"
                 class="button bottom-left">{% trans "Apply now" %}</a>
            </div>
            <div class="box">
              <h2>{% trans_noop "Customer success and care" %}</h2>

              <p>
                {% trans_noop "We're looking for a person who loves communicating with people and bringing them happiness by helping them get the most out of Weblate. Do you want to support our worldwide community?" %}
              </p>


              <ul>

                <li>
                  <strong>{% trans_noop "User success:" %}</strong>
                  {% trans_noop "You will work with Weblate users to assess their needs and advise them on using Weblate. Collecting feedback and passing it on to our team is important as well. You will work with companies paying for Weblate services and also with the community members running Libre hosting plans." %}
                </li>
                <li>
                  <strong>{% trans_noop "Backed by the care team and engineers:" %}</strong>
                  {% trans_noop "Our customer care team is the contact point for users seeking help. Our engineers will closely cooperate with you on resolving the requests, and your partners in the care team will guide you with all the steps you don’t know yet." %}
                </li>

                <li>
                  <strong>{% trans_noop "A range of options:" %}</strong>

                  {% trans_noop "Plenty of work for a flexible team. You can expand into other areas of work where you feel comfortable, and free the hands of your teammates for other tasks. Be it publishing articles on our blog, managing social media, discussing with our community, or improving Weblate documentation. The choice is yours, and team discussion is open." %}
                </li>

              </ul>


              <h3>{% trans_noop "Desired Skills &amp; Experience" %}</h3>

              <ul>
                <li>{% trans_noop "A desire for teamwork in the friendly, energetic ensemble." %}</li>
                <li>{% trans_noop "Ability to swiftly learn technical details and communicate them to techn-savy, and translate to non-technical audiences." %}</li>
                <li>{% trans_noop "Fluency in written and spoken English. Other languages are beneficial." %}</li>
                <li>{% trans_noop "Passion for the principles of libre software and collaborative development." %}</li>
              </ul>

              <p>
                {% trans_noop "Ready to help us shape the future of Weblate by contributing your talents and efforts? Apply to join our team now!" %}
              </p>

              <a href="mailto:benjamin@weblate.org?subject=Customer care for Weblate"
                 class="button bottom-left">{% trans "Apply now" %}</a>
            </div>
            <!--
            <div class="box">
              <h2>{% trans_noop "Python developer" %}</h2>

              <p>
                {% trans_noop "Are you passionate about developing new features, optimizing back-end, and integrating with third-party products? Join us as a Python developer to drive innovation and efficiency at Weblate!" %}
              </p>

              <h3>{% trans_noop "Why choose us:" %}</h3>

              <ul>

                <li>
                  <strong>{% trans_noop "Freedom to Innovate:" %}</strong> {% trans_noop "We encourage proactive problem-solving, where your insights and suggestions for enhancements are valued and considered for implementation." %}
                </li>

                <li>
                  <strong>{% trans_noop "Strong Foundation:" %}</strong> {% trans_noop "Our Python-based back-end utilizes Django, Django REST framework, Celery, Translate Toolkit, and more, providing a solid backbone for further enhancements." %}
                </li>

                <li>
                  <strong>{% trans_noop "Open Collaboration:" %}</strong>

                  {% blocktrans with issues="https://github.com/WeblateOrg/weblate/issues?q=is%3Aopen%20-label%3A%22Area%3A%20ux%22" %}Dive into our <a href="{{ issues }}">open issues</a> to gain insights and contribute to our dynamic ecosystem.{% endblocktrans %}
                  {% blocktrans with issues="https://github.com/WeblateOrg/weblate/issues?q=is%3Aopen%20-label%3A%22Area%3A%20ux%22%20label%3A%22good%20first%20issue%22%20" %}Showcase your skills by tackling one of our <a href="{{ issues }}">good first issues</a> and making a tangible impact.{% endblocktrans %}
                </li>

              </ul>


              <h3>{% trans_noop "Desired Skills &amp; Experience" %}</h3>

              <ul>
                <li>{% trans_noop "Strong skills in Python development and experience with Django and related frameworks." %}</li>
                <li>{% trans_noop "Proficiency in written and spoken English." %}</li>
                <li>{% trans_noop "Passion for open source principles and collaborative development." %}</li>
              </ul>

              <p>
                {% trans_noop "If you're ready to contribute your expertise and shape the future of Weblate, apply now to join our team!" %}
              </p>

              <a href="mailto:michal@weblate.org?subject=Python developer for Weblate" class="button bottom-left">{% trans_noop "Apply now" %}</a>
            </div>
            -->
            <!--
                <div class="box">
                    <h2>{% trans_noop "Full-stack developer" %}</h2>
                    <ul>
                        <li>{% trans_noop "We're looking for a front-end developer who will not be afraid of touching the back-end as well." %}</li>
                        <li>{% trans_noop "Our front-end is currently using Bootstrap and jQuery, but we want to improve." %}</li>
                        <li>{% trans_noop "The back-end is in Python, using Django, Django REST framework, Celery, Translate Toolkit, and many others." %}</li>
                        <li>{% blocktrans with issues="https://github.com/WeblateOrg/weblate/issues?q=is%3Aissue%20state%3Aopen%20type%3AFeature" %}Browse the <a href="{{ issues }}">open issues</a> to gain insight into what we are looking for.{% endblocktrans %}</li>
                        <li>{% blocktrans with issues="https://github.com/WeblateOrg/weblate/labels/good%20first%20issue" %}Grab one of the <a href="{{ issues }}">good first issues</a> to show us your expertise.{% endblocktrans %}</li>
                        <li>{% trans_noop "It is all libre software, all our code and issues are open to the public." %}</li>
                        {% include "snippets/career.html" %}
                    </ul>
                    <a href="mailto:michal@weblate.org?subject=Full-stack developer for Weblate" class="button bottom-left">{% trans_noop "Apply now" %}</a>
                </div>
                <div class="box">
                    <h2>{% trans_noop "Customer care and sales" %}</h2>
                    <ul>
                        <li>{% trans_noop "We're looking for a person who loves to speak with the people and will help them in getting the most out of our product." %}</li>
                        <li>{% trans_noop "You will work with customers to assess their needs and advise them on using Weblate." %}</li>
                        <li>{% trans_noop "You will be a contact for customers who are seeking help. Our engineers will closely cooperate with you on resolving the customer issues." %}</li>
                        <li>{% trans_noop "You can expand into other areas where you feel comfortable: publish articles on our blogs, manage social media, discuss with our community, or improve our documentation." %}</li>
                        {% include "snippets/career.html" %}
                    </ul>
                    <a href="mailto:michal@weblate.org?subject=Customer care and sales for Weblate" class="button bottom-left">{% trans_noop "Apply now" %}</a>
                </div>
                -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bottom contribute-bottom">
    <div class="row">{% include "snippets/box-join.html" %}</div>
  </section>

{% endblock %}
