{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load static %}
{% load prices %}

{% block body_class %}page light{% endblock %}

{% block content %}
<section class="content">
    <div class="row">
        <div class="wrap">
            <h1 class="section-title min-m">{% block title %}{% trans "Discover Weblate" %}{% endblock %}</h1>

            <div class="page-desc">
              <p>
                {% block description %}
                   {% blocktrans %}Check out who’s using Weblate already. We are a community of translators and localization specialists who use and improve our common tool to empower readers and app users around the World. Find your favorite projects and start contributing together with us.{% endblocktrans %}
                {% endblock %}
              </p>
            </div>
            <div class="search-bar">
              <a href="{% url 'user' %}" class="link float-right discover-add">{% trans "Add yours" %}</a>
              <form action="{% url 'discover' %}">
                <input type="text" class="search-input" placeholder="{% trans "project name" %}" name="q" aria-label="{% trans "project name" %}" value="{{ query }}" />
                <input type="submit" class="button inline black" value="{% trans "Search" %}" />
              </form>
            </div>

            <div class="articles">
              {% for service in discoverable_services %}
                <div class="article discover" id="d{{ service.pk }}">
                  <div class="img">
                    <a href="{{ service.site_url }}">
                      <img class="discover-img" src="{% if service.discover_image %}{{ service.discover_image.url }}{% else %}{{ service.site_url }}/exports/og.png{% endif %}" />
                    </a>
                  </div>
                  <div class="content">
                    {% with projects=service.project_set.all %}
                      <div class="counts float-right">
                          {% blocktrans count cnt=projects|length with count=projects|length|intcomma|make_strong %}{{ count }} project{% plural %}{{ count }} projects{% endblocktrans %}<br />
                          {% blocktrans count cnt=service.site_users with count=service.site_users|intcomma|make_strong %}{{ count }} translator{% plural %}{{ count }} translators{% endblocktrans %}
                      </div>
                      <h2><a href="{{ service.site_url }}" lang="en" dir="ltr">{{ service.site_title }}</a></h2>
                      {% if service.discover_text %}
                        <p lang="en" dir="ltr">{{ service.discover_text }}</p>
                      {% endif %}
                      <p lang="en" dir="ltr" class="projects">
                        {% if service.matched_projects %}
                          {% for project in service.matched_projects %}
                            <a class="project" href="{{ service.site_url }}{{ project.url }}">{{ project.name }}</a>
                          {% endfor %}
                          {% if service.non_matched_projects_count %}
                            <a href="{{ service.site_url }}/projects/"><img src="{% static "img/three-dots.svg" %}" title="{% blocktrans count count=service.non_matched_projects_count %}…and {{ count }} more{% plural %}…and {{ count }} more{% endblocktrans %}" /></a>
                          {% endif %}
                        {% else %}
                          {% for project in service.project_set.all|slice:":20" %}
                            <a class="project" href="{{ service.site_url }}{{ project.url }}">{{ project.name }}</a>
                          {% endfor %}
                          {% if projects|length > 20 %}
                            <a href="{{ service.site_url }}/projects/"><img src="{% static "img/three-dots.svg" %}" title="{% blocktrans count count=projects|length|add:-20 %}…and {{ count }} more{% plural %}…and {{ count }} more{% endblocktrans %}" /></a>
                          {% endif %}
                        {% endif %}
                        {% if service.pk in user_services %}
                          <a class="button small float-right" href="{% url "service-discovery" pk=service.pk %}">{% trans "Customize listing" %}</a>
                        {% endif %}
                        <div class="clear"></div>
                      </p>
                    {% endwith %}
                  </div>
                </div>
              {% empty %}
                <h2 id="which" class="section-title payment-conditions">{% trans "No servers matched your search." %}</h2>
              {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
