{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load prices %}

{% block body_class %}page light{% endblock %}

{% block content %}
<section class="content">
    <div class="row">
        <div class="wrap">
            <h1 class="section-title min-m">{% block title %}{% trans "Discover Weblate" %}{% endblock %}</h1>
            <div class="page-desc">
                {% url 'support' as url %}
                <p>{% block description %}
                  {% blocktrans %}Discover who is using Weblate, and contribute to your favorite projects.{% endblocktrans %}
                {% endblock %}</p>
            </div>
            <h2 id="which" class="section-title payment-conditions">Please stay tuned, this page is currently being implemented.</h2>
        </div>
    </div>
</section>

{% endblock %}
