{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load prices %}

{% block body_class %}page light{% endblock %}

{% block content %}
<section class="content">
    <div class="row">
        <div class="wrap">
            <h1 class="section-title min-m">{% block title %}{% trans "Discover Weblate" %}{% endblock %}</h1>
            <div class="page-desc">
              <p>
                {% block description %}
                  {% blocktrans %}Discover who is using Weblate, and contribute to your favorite projects.{% endblocktrans %}
                {% endblock %}
              </p>
              <a href="{% url 'user' %}" class="button inline">{% trans "Manage your services" %}</a>
              <a href="https://hosted.weblate.org/engage/weblate/" class="button inline border rev">{% trans "Translate the app" %}</a>
            </div>
            <h2 id="which" class="section-title payment-conditions">Please stay tuned, this page is currently being implemented.</h2>

            <div class="articles archive">
              {% for service in discoverable_services %}
                <div class="article" id="d{{ service.pk }}">
                  <div class="img">
                    <a href="{{ service.site_url }}">
                      <img class="discover-img" src="{% if service.discover_image %}{{ service.discover_image.url }}{% else %}{{ service.site_url }}/exports/og.png{% endif %}" />
                    </a>
                  </div>
                  <div class="content">
                    <h2><a href="{{ service.site_url }}" lang="en" dir="ltr">{{ service.site_title }}</a></h2>
                    {% with projects=service.project_set.all %}
                      <div class="date">
                          {% blocktrans count count=projects|length %}{{ count }} project{% plural %}{{ count }} projects{% endblocktrans %}
                      </div>
                      {% if service.discover_text %}
                        <p lang="en" dir="ltr">{{ service.discover_text }}</p>
                      {% endif %}
                      <p lang="en" dir="ltr">
                        {% for project in service.project_set.all|slice:":20" %}
                          <a href="{{ service.site_url }}{{ project.url }}">{{ project.name }}</a>
                        {% endfor %}
                        {% if projects|length > 20 %}
                          {% blocktrans count count=projects|length|add:-20 %}…and {{ count }} more{% plural %}…and {{ count }} more{% endblocktrans %}
                        {% endif %}
                      </p>
                    {% endwith %}
                  </div>
                </div>
              {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
