{% extends "base.html" %}

{% load downloads i18n static %}

{% block body_class %}page download light{% endblock %}

{% block content %}
  <section class="content">
    <div class="row">
      <div class="wrap">
        <h1 class="section-title min-m">
          {% block title %}
            {% translate "Download Weblate" %}
          {% endblock title %}

        </h1>
        <div class="page-desc">
          <p>
            {% block description %}
              {% translate "All Weblate source code is freely available for you to use, modify, share and distribute. Discuss it with your associates." %}
            {% endblock description %}

          </p>
          <a href="https://github.com/WeblateOrg/weblate/" class="button inline">{% translate "View sources" %}</a>
          <a href="{% url 'support' %}" class="button inline border rev">{% translate "Get premium service" %}</a>
        </div>

        <div class="quick-installation">
          <a href="https://docs.weblate.org/en/latest/admin/install.html"
             class="button right">{% translate "Quick setup" %}</a>
          <div class="quick-title">{% translate "Quick Installation" %}</div>
          <p>
            {% blocktranslate with url="https://docs.weblate.org/en/latest/admin/install.html" %}Weblate is easiest to install using <strong>pip</strong> or <strong>Docker</strong>, please follow the <a href="{{ url }}">Quick setup guide</a> for more detailed instructions.{% endblocktranslate %}
          </p>
        </div>
        <div class="download-wrap">
          <h2 class="section-title left">{% translate "Download source code" %}</h2>
          <p>{% translate "Latest releases for download" %}</p>

          <div class="download-list">
            {% for download in downloads %}
              {% downloadlink download %}
            {% endfor %}
          </div>

          <h2 class="section-title left">{% translate "Cloud or virtualization images" %}</h2>
          <p>
            {% translate "Weblate can be run in any cloud or virtualization environment. The following guides will show you detailed info about some of the most common platforms." %}
          </p>
        </div>
        <div class="donations-cols download-cols">
          <div class="col">
            <div class="d-logo">
              <img src="{% static "img/docker.svg" %}" alt="Docker" />
            </div>
            <div class="title">{% translate "Running Weblate in a Docker container" %}</div>
            <a href="https://docs.weblate.org/en/latest/admin/install/docker.html"
               class="button">{% translate "Docker guide" %}</a>
          </div>
          <div class="col">
            <div class="d-logo">
              <img src="{% static "img/openshift.svg" %}" alt="OpenShift" />
            </div>
            <div class="title">{% translate "Running Weblate on the OpenShift platform" %}</div>
            <a href="https://docs.weblate.org/en/latest/admin/install/openshift.html"
               class="button">{% translate "OpenShift guide" %}</a>
          </div>
          <div class="col">
            <div class="d-logo">
              <img src="{% static "img/kubernetes.svg" %}" alt="Kubernetes" />
            </div>
            <div class="title">{% translate "Running Weblate on the Kubernetes platform" %}</div>
            <a href="https://docs.weblate.org/en/latest/admin/install/kubernetes.html"
               class="button">{% translate "Kubernetes guide" %}</a>
          </div>
        </div>
        <div class="download-wrap">
          <h2 class="section-title left">{% translate "GitHub repository" %}</h2>
          <p>
            {% blocktranslate with url="https://github.com/WeblateOrg" %}Weblate is developed on <a href="{{ url }}">GitHub</a>, you can fork it there, find <a href="{{ url }}">more repositories</a>, or just:{% endblocktranslate %}
          </p>

          <pre>
# Weblate
git clone https://github.com/WeblateOrg/weblate.git

# {% translate "Weblate command line client" %}
git clone https://github.com/WeblateOrg/wlc.git</pre>

          <h2 class="section-title left">{% translate "Weblate command line client" %}</h2>
          <p>
            {% blocktranslate with url='https://docs.weblate.org/en/latest/wlc.html' %}You can control Weblate remotely using <a href="{{ url }}">wlc</a>, which can be installed from Python pip:{% endblocktranslate %}
          </p>
          <blockquote>
            <p>pip3 install wlc</p>
          </blockquote>
        </div>
      </div>
    </div>
  </section>
  {% include "snippets/bottom.html" %}
{% endblock content %}
