{% extends "base.html" %}

{% load i18n static %}

{% block body_class %}page pfeatures light{% endblock %}

{% block content %}
  <section class="content">
    <div class="row">
      <div class="wrap">
        <h1 class="section-title min-m">
          {% block title %}
            {% translate "Weblate features" %}
          {% endblock title %}

        </h1>
        <div class="page-desc">
          <p>
            {% block description %}
              {% blocktranslate %}As a feature rich computer aided translation tool, Weblate saves both developers and translators time. Make your users happier!{% endblocktranslate %}
            {% endblock description %}

            {% blocktranslate %}Browse the <a href="https://docs.weblate.org/">documentation</a> to learn more.{% endblocktranslate %}
          </p>
        </div>
        <div class="wrap features">{% include "snippets/features-1.html" %}</div>
      </div>
    </div>
  </section>
  <section class="interface">
    <div class="row">
      <div class="inter-title">{% translate "Easy to use interface" %}</div>
      <img src="{% static "img/BigScreenshot.png" %}"
           class="photo"
           alt="{% translate "Weblate screenshot" %}" />
      <div class="inter-checks">
        <div class="title">{% translate "Customizable quality checks" %}</div>
        <img src="{% static "img/dialog-checks.png" %}"
             alt="{% translate "Weblate screenshot" %}" />
      </div>
      <div class="inter-context">
        <div class="title">{% translate "Detailed context" %}</div>
        <p>
          {% translate "Translators are provided detailed translation context, from translation files, or data enriched within Weblate." %}
        </p>
        <img src="{% static "img/source-info.png" %}"
             alt="{% translate "Weblate screenshot" %}" />
      </div>
      <div class="inter-fluent">
        <div class="title">{% translate "Fluent communication" %}</div>
        <p>{% translate "All translations are tracked and can be commented." %}</p>
        <img src="{% static "img/comment-new.png" %}"
             alt="{% translate "Weblate screenshot" %}" />
      </div>
    </div>
  </section>
  <section class="content no-mar">
    <div class="row">
      <div class="wrap features">
        {% include "snippets/features-2.html" %}
        <div class="f-box">
          <a href="https://docs.weblate.org/en/latest/admin/access.html">
            <div class="icon">
              <img src="{% static "img/icon-control.svg" %}" />
            </div>
            <h3>{% translate "Access Control" %}</h3>
            <p>{% translate "Fine-tune access rights to fit your environment." %}</p>
          </a>
        </div>
        <div class="f-box">
          <a href="https://docs.weblate.org/en/latest/user/profile.html#subscriptions">
            <div class="icon">
              <img src="{% static "img/icon-notifications.svg" %}" />
            </div>
            <h3>{% translate "Smart Notifications" %}</h3>
            <p>{% translate "Translators can be notified of new strings to translate or other events." %}</p>
          </a>
        </div>
        <div class="f-box">
          <a href="https://docs.weblate.org/en/latest/api.html">
            <div class="icon">
              <img src="{% static "img/icon-api.svg" %}" />
            </div>
            <h3>{% translate "Integration API" %}</h3>
            <p>{% translate "Integrate Weblate with third-party services." %}</p>
          </a>
        </div>
        <div class="f-box">
          <a href="https://docs.weblate.org/en/latest/formats.html">
            <div class="icon">
              <img src="{% static "img/icon-formats.svg" %}" />
            </div>
            <h3>{% translate "Multiple File Formats" %}</h3>
            <p>{% translate "Use any common file localization format, like gettext, JSON, XLIFF or resource strings, etc." %}</p>
          </a>
        </div>
        <div class="f-box">
          <a href="https://docs.weblate.org/en/latest/faq.html#how-do-i-translate-several-branches-at-once">
            <div class="icon">
              <img src="{% static "img/icon-branches.svg" %}" />
            </div>
            <h3>{% translate "Branch Support" %}</h3>
            <p>{% translate "Handle different translation versions by pushing them automatically to different branches." %}</p>
          </a>
        </div>
        <div class="f-box">
          <a href="https://docs.weblate.org/en/latest/admin/translating.html#additional">
            <div class="icon">
              <img src="{% static "img/icon-context.svg" %}" />
            </div>
            <h3>{% translate "Translation Context" %}</h3>
            <p>
              {% translate "Description, nearby strings, images, related source code and glossary entries—for every string." %}
            </p>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="formats">
    <div class="row">
      <a class="format-item"
         href="https://docs.weblate.org/en/latest/formats/android.html">{% translate "Android string resources" %} <span lang="en" dir="ltr">strings.xml</span></a>
      <a class="format-item"
         href="https://docs.weblate.org/en/latest/formats/apple.html">{% translate "Apple iOS strings" %} <span lang="en" dir="ltr">.strings</span></a>
      <a class="format-item"
         href="https://docs.weblate.org/en/latest/formats/appstore.html">{% translate "App store metadata files" %} <span lang="en" dir="ltr">.txt</span></a>
      <a class="format-item" href="https://docs.weblate.org/en/latest/formats/arb.html">{% translate "ARB file" %} <span lang="en" dir="ltr">.arb</span></a>
      <a class="format-item" href="https://docs.weblate.org/en/latest/formats/csv.html">{% translate "CSV files" %} <span lang="en" dir="ltr">.csv</span></a>
      <a class="format-item" href="https://docs.weblate.org/en/latest/formats/dtd.html">{% translate "DTD files" %} <span lang="en" dir="ltr">.dtd</span></a>
      <a class="format-item"
         href="https://docs.weblate.org/en/latest/formats/excel.html">{% translate "Excel Open XML" %} <span lang="en" dir="ltr">.xslx</span></a>
      <a class="format-item"
         href="https://docs.weblate.org/en/latest/formats/flatxml.html">{% translate "Flat XML files" %} <span lang="en" dir="ltr">.xml</span></a>
      <a class="format-item"
         href="https://docs.weblate.org/en/latest/formats/fluent.html">{% translate "Fluent format" %} <span lang="en" dir="ltr">.ftl</span></a>
      <a class="format-item"
         href="https://docs.weblate.org/en/latest/formats/gettext.html">{% translate "GNU gettext" %} <span lang="en" dir="ltr">.po, .pot, .mo</span></a>
      <a class="format-item"
         href="https://docs.weblate.org/en/latest/formats/go-i18n.html">{% translate "go-i18n JSON files" %} <span lang="en" dir="ltr">.json</span></a>
      <a class="format-item"
         href="https://docs.weblate.org/en/latest/formats/gotext.html">{% translate "gotext JSON files" %} <span lang="en" dir="ltr">.json</span></a>
      <a class="format-item" href="https://docs.weblate.org/en/latest/formats/gwt.html">{% translate "GWT properties" %} <span lang="en" dir="ltr">.properties</span></a>
      <a class="format-item" href="https://docs.weblate.org/en/latest/formats/html.html">{% translate "HTML files" %} <span lang="en" dir="ltr">.html</span></a>
      <a class="format-item"
         href="https://docs.weblate.org/en/latest/formats/i18next.html">{% translate "i18next JSON files" %} <span lang="en" dir="ltr">.json</span></a>
      <a class="format-item" href="https://docs.weblate.org/en/latest/formats/idml.html">{% translate "IDML Format" %} <span lang="en" dir="ltr">.idml</span></a>
      <a class="format-item" href="https://docs.weblate.org/en/latest/formats/ini.html">{% translate "INI translations" %} <span lang="en" dir="ltr">.ini</span></a>
      <a class="format-item"
         href="https://docs.weblate.org/en/latest/formats/innosetup.html">{% translate "Inno Setup INI translations" %} <span lang="en" dir="ltr">.islu</span></a>
      <a class="format-item" href="https://docs.weblate.org/en/latest/formats/java.html">{% translate "Java properties" %} <span lang="en" dir="ltr">.properties</span></a>
      <a class="format-item"
         href="https://docs.weblate.org/en/latest/formats/joomla.html">{% translate "Joomla translations" %} <span lang="en" dir="ltr">.ini</span></a>
      <a class="format-item" href="https://docs.weblate.org/en/latest/formats/json.html">{% translate "JSON files" %} <span lang="en" dir="ltr">.json</span></a>
      <a class="format-item" href="https://docs.weblate.org/en/latest/formats/json.html">{% translate "React Intl" %} <span lang="en" dir="ltr">.json</span></a>
      <a class="format-item" href="https://docs.weblate.org/en/latest/formats/json.html">{% translate "Vue I18n" %} <span lang="en" dir="ltr">.json</span></a>
      <a class="format-item"
         href="https://docs.weblate.org/en/latest/formats/laravel.html">{% translate "Laravel PHP strings" %} <span lang="en" dir="ltr">.php</span></a>
      <a class="format-item"
         href="https://docs.weblate.org/en/latest/formats/markdown.html">{% translate "Markdown files" %} <span lang="en" dir="ltr">.md</span></a>
      <a class="format-item"
         href="https://docs.weblate.org/en/latest/formats/mi18n.html">{% translate "mi18n lang files" %} <span lang="en" dir="ltr">.lang</span></a>
      <a class="format-item" href="https://docs.weblate.org/en/latest/formats/moko.html">{% translate "Mobile Kotlin resources" %} <span lang="en" dir="ltr">.xml</span></a>
      <a class="format-item" href="https://docs.weblate.org/en/latest/formats/odf.html">{% translate "OpenDocument Format" %} <span lang="en" dir="ltr">.odt, .ods, .odp</span></a>
      <a class="format-item" href="https://docs.weblate.org/en/latest/formats/php.html">{% translate "PHP strings" %} <span lang="en" dir="ltr">.php</span></a>
      <a class="format-item" href="https://docs.weblate.org/en/latest/formats/qt.html">{% translate "Qt Linguist .ts" %} <span lang="en" dir="ltr">.ts</span></a>
      <a class="format-item"
         href="https://docs.weblate.org/en/latest/formats/resourcedict.html">{% translate "ResourceDictionary files" %} <span lang="en" dir="ltr">.xaml</span></a>
      <a class="format-item" href="https://docs.weblate.org/en/latest/formats/resx.html">{% translate ".NET resource files (RESX, RESW)" %} <span lang="en" dir="ltr">.resx, .resw</span></a>
      <a class="format-item" href="https://docs.weblate.org/en/latest/formats/ruby.html">{% translate "Ruby YAML files" %} <span lang="en" dir="ltr">.yaml</span></a>
      <a class="format-item"
         href="https://docs.weblate.org/en/latest/formats/stringsdict.html">{% translate "Stringsdict format" %} <span lang="en" dir="ltr">.stringsdict</span></a>
      <a class="format-item"
         href="https://docs.weblate.org/en/latest/formats/subtitles.html">{% translate "Subtitle files" %} <span lang="en" dir="ltr">.srt</span></a>
      <a class="format-item" href="https://docs.weblate.org/en/latest/formats/tbx.html">{% translate "TermBase eXchange format" %} <span lang="en" dir="ltr">.tbx</span></a>
      <a class="format-item" href="https://docs.weblate.org/en/latest/formats/txt.html">{% translate "Text files" %} <span lang="en" dir="ltr">.txt</span></a>
      <a class="format-item"
         href="https://docs.weblate.org/en/latest/formats/webextension.html">{% translate "WebExtension JSON" %} <span lang="en" dir="ltr">.json</span></a>
      <a class="format-item"
         href="https://docs.weblate.org/en/latest/formats/winrc.html">{% translate "Windows RC files" %} <span lang="en" dir="ltr">.rc</span></a>
      <a class="format-item"
         href="https://docs.weblate.org/en/latest/formats/xliff.html">{% translate "XLIFF" %} <span lang="en" dir="ltr">.xliff</span></a>
      <a class="format-item" href="https://docs.weblate.org/en/latest/formats/yaml.html">{% translate "YAML files" %} <span lang="en" dir="ltr">.yaml</span></a>

    </div>
  </section>
  <section class="content no-mar">
    <div class="row">
      <div class="wrap features">
        <div class="f-box">
          <a href="https://docs.weblate.org/en/latest/user/translating.html#glossary">
            <div class="icon">
              <img src="{% static "img/icon-glossary.svg" %}" />
            </div>
            <h3>{% translate "Glossaries" %}</h3>
            <p>{% translate "Define frequently used terminology for consistency." %}</p>
          </a>
        </div>
        <div class="f-box">
          <a href="https://docs.weblate.org/en/latest/user/translating.html#user-comments">
            <div class="icon">
              <img src="{% static "img/icon-feedback.svg" %}" />
            </div>
            <h3>{% translate "Feedback Acquisition" %}</h3>
            <p>{% translate "Use Weblate to acquire feedback on source strings to improve them." %}</p>
          </a>
        </div>
        <div class="f-box">
          <a href="https://docs.weblate.org/en/latest/user/files.html">
            <div class="icon">
              <img src="{% static "img/icon-export.svg" %}" />
            </div>
            <h3>{% translate "Export and Import" %}</h3>
            <p>{% translate "Translations can be downloaded for offline translation and merged back." %}</p>
          </a>
        </div>
        <div class="f-box">
          <a href="https://docs.weblate.org/en/latest/contributing/about.html#project-goals">
            <div class="icon">
              <img src="{% static "img/icon-integrated.svg" %}" />
            </div>
            <h3>{% translate "Fully Integrated" %}</h3>
            <p>{% translate "Translations are managed within the same version control system as your code." %}</p>
          </a>
        </div>
        <div class="f-box">
          <a href="https://docs.weblate.org/">
            <div class="icon">
              <img src="{% static "img/icon-documentation.svg" %}" />
            </div>
            <h3>{% translate "Documentation" %}</h3>
            <p>{% translate "Comprehensive documentation covering both setup and use." %}</p>
          </a>
        </div>
        <div class="f-box">
          <a href="https://docs.weblate.org/en/latest/workflows.html">
            <div class="icon">
              <img src="{% static "img/icon-reviews.svg" %}" />
            </div>
            <h3>{% translate "Easy Reviews" %}</h3>
            <p>{% translate "Several options for translators to review contributions made by peers." %}</p>
          </a>
        </div>
        <div class="f-box">
          <a href="https://docs.weblate.org/en/latest/admin/languages.html">
            <div class="icon">
              <img src="{% static "img/icon-languages.svg" %}" />
            </div>
            <h3>{% translate "Language support" %}</h3>
            <p>{% translate "Support for over 500 languages out of the box. Others can be added too." %}</p>
          </a>
        </div>
        <div class="f-box">
          <a href="https://docs.weblate.org/en/latest/devel/share.html">
            <div class="icon">
              <img src="{% static "img/icon-promotion.svg" %}" />
            </div>
            <h3>{% translate "Promotion" %}</h3>
            <p>{% translate "Built-in features to attract a wider audience for your translation project." %}</p>
          </a>
        </div>
        <div class="f-box">
          <a href="https://docs.weblate.org/en/latest/devel/reporting.html">
            <div class="icon">
              <img src="{% static "img/icon-reporting.svg" %}" />
            </div>
            <h3>{% translate "Reporting" %}</h3>
            <p>{% translate "Reports are generated to provide info on project activity." %}</p>
          </a>
        </div>
        <div class="f-box">
          <a href="https://docs.weblate.org/en/latest/vcs.html">
            <div class="icon">
              <img src="{% static "img/icon-versioncontrol.svg" %}" />
            </div>
            <h3>{% translate "Version Control" %}</h3>
            <p>{% translate "Talks directly with your version control system, currently Git and Mercurial are supported." %}</p>
          </a>
        </div>
        <div class="f-box">
          <a href="https://docs.weblate.org/en/latest/vcs.html">
            <div class="icon">
              <img src="{% static "img/icon-collaboration.svg" %}" />
            </div>
            <h3>{% translate "Collaboration Sites" %}</h3>
            <p>
              {% translate "Native support for software development sites such as GitLab, GitHub, Pagure, Azure, Gitea, or Bitbucket." %}
            </p>
          </a>
        </div>
        <div class="f-box">
          <a href="https://hosted.weblate.org/">
            <div class="icon">
              <img src="{% static "img/icon-responsiveui.svg" %}" />
            </div>
            <h3>{% translate "Responsive UI" %}</h3>
            <p>{% translate "User interface that works nicely on desktop, tablets and phones in both light and dark mode." %}</p>
          </a>
        </div>
        <div class="f-box">
          <a href="https://docs.weblate.org/en/latest/admin/memory.html">
            <div class="icon">
              <img src="{% static "img/icon-memory.svg" %}" />
            </div>
            <h3>{% translate "Translation memory" %}</h3>
            <p>{% translate "Reuse existing translations to save time and costs." %}</p>
          </a>
        </div>
        <div class="f-box">
          <a href="https://docs.weblate.org/en/latest/admin/addons.html">
            <div class="icon">
              <img src="{% static "img/icon-addon.svg" %}" />
            </div>
            <h3>{% translate "Translation add-ons" %}</h3>
            <p>{% translate "Customize localization workflow with various add-ons." %}</p>
          </a>
        </div>
        <div class="f-box">
          <a href="https://docs.weblate.org/en/latest/admin/backup.html">
            <div class="icon">
              <img src="{% static "img/icon-backup.svg" %}" />
            </div>
            <h3>{% translate "Backups" %}</h3>
            <p>{% translate "Built-in remote backups to prevent data loss." %}</p>
          </a>
        </div>
        <div class="f-box">
          <a href="https://docs.weblate.org/en/latest/admin/translating.html#screenshots">
            <div class="icon">
              <img src="{% static "img/icon-screenshot.svg" %}" />
            </div>
            <h3>{% translate "Screenshots" %}</h3>
            <p>{% translate "Provide visual context for the translations." %}</p>
          </a>
        </div>
        <div class="f-box">
          <a href="https://docs.weblate.org/en/latest/user/translating.html#variants">
            <div class="icon">
              <img src="{% static "img/icon-magnet.svg" %}" />
            </div>
            <h3>{% translate "Variants" %}</h3>
            <p>{% translate "Group variants of strings for easier translating." %}</p>
          </a>
        </div>
        <div class="f-box">
          <a href="https://docs.weblate.org/en/latest/workflows.html#source-quality-gateway">
            <div class="icon">
              <img src="{% static "img/icon-layers.svg" %}" />
            </div>
            <h3>{% translate "Intermediate language" %}</h3>
            <p>{% translate "Proofread strings from developers before translating them." %}</p>
          </a>
        </div>
        <div class="f-box">
          <a href="https://docs.weblate.org/en/latest/admin/machine.html">
            <div class="icon">
              <img src="{% static "img/icon-translate-variant.svg" %}" />
            </div>
            <h3>{% translate "Automatic translation" %}</h3>
            <p>{% translate "Translations or suggestions can be done by machine translation services or AI." %}</p>
          </a>
        </div>
        <div class="f-box">
          <a href="https://docs.weblate.org/en/latest/admin/projects.html">
            <div class="icon">
              <img src="{% static "img/icon-file-tree-outline.svg" %}" />
            </div>
            <h3>{% translate "Organize translations" %}</h3>
            <p>{% translate "Categorize the translation files to ease navigation." %}</p>
          </a>
        </div>
        <div class="f-box">
          <a href="https://docs.weblate.org/en/latest/user/translating.html#keyboard-shortcuts">
            <div class="icon">
              <img src="{% static "img/icon-keyboard-outline.svg" %}" />
            </div>
            <h3>{% translate "Keyboard operation" %}</h3>
            <p>{% translate "Use keyboard to effectively navigate while translating." %}</p>
          </a>
        </div>
      </div>
    </div>
  </section>
  {% include "snippets/pricing.html" %}
  {% include "snippets/about.html" %}
{% endblock content %}
