{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block body_class %}page pfeatures light{% endblock %}

{% block content %}
	<section class="content">
    	<div class="row">
            <div class="wrap">
                <h1 class="section-title min-m">{% block title %}{% trans "Weblate features" %}{% endblock %}</h1>
                <div class="page-desc"><p>
                    {% block description %}{% blocktrans %}As a feature rich computer aided translation tool, Weblate saves both developers and translators time. Make your users happier!{% endblocktrans %}{% endblock %}
                    {% blocktrans %}Browse the <a href="https://docs.weblate.org/">documentation</a> to learn more.{% endblocktrans %}</p></div>
                <div class="wrap features">
                {% include "snippets/features-1.html" %}
                </div>
            </div>
    	</div>
    </section>
    <section class="interface">
    	<div class="row">
        	<div class="inter-title">{% trans "Easy to use interface" %}</div>
            <img src="{% static "img/BigScreenshot.png" %}" class="photo" alt="{% trans "Weblate screenshot" %}" />
            <div class="inter-checks">
                <div class="title">{% trans "Customizable quality checks" %}</div>
                <img src="{% static "img/dialog-checks.png" %}" alt="{% trans "Weblate screenshot" %}" />
            </div>
            <div class="inter-context">
            	<div class="title">{% trans "Detailed context" %}</div>
            	<p>{% trans "Translators are provided detailed translation context, from translation files, or data enriched within Weblate." %}</p>
                <img src="{% static "img/source-info.png" %}" alt="{% trans "Weblate screenshot" %}" />
            </div>
            <div class="inter-fluent">
            	<div class="title">{% trans "Fluent communication" %}</div>
            	<p>{% trans "All translations are tracked and can be commented." %}</p>
                <img src="{% static "img/comment-new.png" %}" alt="{% trans "Weblate screenshot" %}" />
            </div>
    	</div>
    </section>
	<section class="content no-mar">
    	<div class="row">
            <div class="wrap features">
                {% include "snippets/features-2.html" %}
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/admin/access.html">
                    <div class="icon"><img src="{% static "img/icon-control.svg" %}" /></div>
                    <h3>{% trans "Access Control" %}</h3>
                    <p>{% trans "Fine-tune access rights to fit your environment." %}</p>
                </a>
                </div>
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/user/profile.html#subscriptions">
                    <div class="icon"><img src="{% static "img/icon-notifications.svg" %}" /></div>
                    <h3>{% trans "Smart Notifications" %}</h3>
                    <p>{% trans "Translators can be notified of new strings to translate or other events." %}</p>
                </a>
                </div>
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/api.html">
                    <div class="icon"><img src="{% static "img/icon-api.svg" %}" /></div>
                    <h3>{% trans "Integration API" %}</h3>
                    <p>{% trans "Integrate Weblate with third-party services." %}</p>
                </a>
                </div>
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/formats.html">
                    <div class="icon"><img src="{% static "img/icon-formats.svg" %}" /></div>
                    <h3>{% trans "Multiple File Formats" %}</h3>
                    <p>{% trans "All widely used file formats for localization are supported, gettext, JSON, XLIFF or resource strings, etc." %}</p>
                </a>
                </div>
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/faq.html#how-do-i-translate-several-branches-at-once">
                    <div class="icon"><img src="{% static "img/icon-branches.svg" %}" /></div>
                    <h3>{% trans "Branch Support" %}</h3>
                    <p>{% trans "Handle different translation versions by pushing them automatically to different branches." %}</p>
                </a>
                </div>
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/admin/translating.html#additional">
                    <div class="icon"><img src="{% static "img/icon-context.svg" %}" /></div>
                    <h3>{% trans "Translation Context" %}</h3>
                    <p>{% trans "Context, comments, nearby translations, images and corresponding source code for every string." %}</p>
                </a>
                </div>
            </div>
    	</div>
    </section>
    <section class="formats">
    	<div class="row">
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#gettext">{% trans "gettext" %} <span lang="en" dir="ltr">.po, .pot, .mo</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#xliff">{% trans "XLIFF" %} <span lang="en" dir="ltr">.xliff</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#javaprop">{% trans "Java" %} <span lang="en" dir="ltr">.properties</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#gwt">{% trans "GWT" %} <span lang="en" dir="ltr">.properties</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#joomla">{% trans "Joomla" %} <span lang="en" dir="ltr">.ini</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#qtling">{% trans "Qt" %} <span lang="en" dir="ltr">.ts</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#aresource">{% trans "Android" %} <span lang="en" dir="ltr">.xml</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#js-i18next">{% trans "i18next" %} <span lang="en" dir="ltr">.json</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#webex">{% trans "WebExtension" %} <span lang="en" dir="ltr">.json</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#json">{% trans "Key and value" %} <span lang="en" dir="ltr">.json</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#json">{% trans "React Intl" %} <span lang="en" dir="ltr">.json</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#json">{% trans "Vue I18n" %} <span lang="en" dir="ltr">.json</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#go-i18n-json">go-i18n <span lang="en" dir="ltr">.json</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#arb">ARB <span lang="en" dir="ltr">.arb</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#php">{% trans "PHP" %} <span lang="en" dir="ltr">.php</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#php">{% trans "Laravel" %} <span lang="en" dir="ltr">.php</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#apple">{% trans "iOS" %} <span lang="en" dir="ltr">.strings</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#xlsx">{% trans "Excel" %} <span lang="en" dir="ltr">.xslx</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#dtd">{% trans "Mozilla DTD" %} <span lang="en" dir="ltr">.dtd</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#dotnet">{% trans ".NET resource files" %} <span lang="en" dir="ltr">.resx, .resw</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#csv">{% trans "CSV" %} <span lang="en" dir="ltr">.csv</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#yaml">{% trans "YAML" %} <span lang="en" dir="ltr">.yaml</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#ryaml">{% trans "Ruby" %} <span lang="en" dir="ltr">.yaml</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#appstore">{% trans "App store metadata" %} <span lang="en" dir="ltr">.txt</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#subtitles">{% trans "Subtitles" %} <span lang="en" dir="ltr">.srt</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#winrc">{% trans "Windows" %} <span lang="en" dir="ltr">.rc</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#html">{% trans "HTML" %} <span lang="en" dir="ltr">.html</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#odf">{% trans "OpenDocument" %} <span lang="en" dir="ltr">.odt, .ods, .odp</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#idml">{% trans "IDML" %} <span lang="en" dir="ltr">.idml</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#ini">{% trans "INI files" %} <span lang="en" dir="ltr">.ini</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#islu">{% trans "Inno Setup" %} <span lang="en" dir="ltr">.islu</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#tmx">{% trans "TermBase eXchange" %} <span lang="en" dir="ltr">.tbx</span></a>
    	</div>
    </section>
	<section class="content no-mar">
    	<div class="row">
            <div class="wrap features">
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/user/translating.html#glossary">
                    <div class="icon"><img src="{% static "img/icon-glossary.svg" %}" /></div>
                    <h3>{% trans "Glossaries" %}</h3>
                    <p>{% trans "Define frequently used terminology for consistency." %}</p>
                </a>
                </div>
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/user/translating.html#user-comments">
                    <div class="icon"><img src="{% static "img/icon-feedback.svg" %}" /></div>
                    <h3>{% trans "Feedback Acquisition" %}</h3>
                    <p>{% trans "Use Weblate to acquire feedback on source strings to improve them." %}</p>
                </a>
                </div>
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/user/files.html">
                    <div class="icon"><img src="{% static "img/icon-export.svg" %}" /></div>
                    <h3>{% trans "Export and Import" %}</h3>
                    <p>{% trans "Translations can be downloaded for offline translation and merged back." %}</p>
                </a>
                </div>
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/contributing/about.html#project-goals">
                    <div class="icon"><img src="{% static "img/icon-integrated.svg" %}" /></div>
                    <h3>{% trans "Fully Integrated" %}</h3>
                    <p>{% trans "Translations are managed within the same version control system as your code." %}</p>
                </a>
                </div>
                <div class="f-box">
                <a href="https://docs.weblate.org/">
                    <div class="icon"><img src="{% static "img/icon-documentation.svg" %}" /></div>
                    <h3>{% trans "Documentation" %}</h3>
                    <p>{% trans "Comprehensive documentation covering both setup and use." %}</p>
                </a>
                </div>
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/workflows.html">
                    <div class="icon"><img src="{% static "img/icon-reviews.svg" %}" /></div>
                    <h3>{% trans "Easy Reviews" %}</h3>
                    <p>{% trans "Several options for translators to review contributions made by peers." %}</p>
                </a>
                </div>
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/admin/languages.html">
                    <div class="icon"><img src="{% static "img/icon-languages.svg" %}" /></div>
                    <h3>{% trans "Language support" %}</h3>
                    <p>{% trans "Support for over 500 languages out of the box. Others can be added too." %}</p>
                </a>
                </div>
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/devel/share.html">
                    <div class="icon"><img src="{% static "img/icon-promotion.svg" %}" /></div>
                    <h3>{% trans "Promotion" %}</h3>
                    <p>{% trans "Built-in features to attract a wider audience for your translation project." %}</p>
                </a>
                </div>
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/devel/reporting.html">
                    <div class="icon"><img src="{% static "img/icon-reporting.svg" %}" /></div>
                    <h3>{% trans "Reporting" %}</h3>
                    <p>{% trans "Reports are generated to provide info on project activity." %}</p>
                </a>
                </div>
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/vcs.html">
                    <div class="icon"><img src="{% static "img/icon-versioncontrol.svg" %}" /></div>
                    <h3>{% trans "Version Control" %}</h3>
                    <p>{% trans "Talks directly with your version control system, currently Git and Mercurial are supported." %}</p>
                </a>
                </div>
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/vcs.html">
                    <div class="icon"><img src="{% static "img/icon-collaboration.svg" %}" /></div>
                    <h3>{% trans "Collaboration Sites" %}</h3>
                    <p>{% trans "Native support for software development sites such as GitLab, GitHub, Pagure, or Bitbucket." %}</p>
                </a>
                </div>
                <div class="f-box">
                <a href="https://hosted.weblate.org/">
                    <div class="icon"><img src="{% static "img/icon-responsiveui.svg" %}" /></div>
                    <h3>{% trans "Responsive UI" %}</h3>
                    <p>{% trans "User interface that works nicely on desktop, tablets and phones." %}</p>
                </a>
                </div>
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/admin/memory.html">
                    <div class="icon"><img src="{% static "img/icon-memory.svg" %}" /></div>
                    <h3>{% trans "Translation memory" %}</h3>
                    <p>{% trans "Reuse existing translations to save time and costs." %}</p>
                </a>
                </div>
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/admin/addons.html">
                    <div class="icon"><img src="{% static "img/icon-addon.svg" %}" /></div>
                    <h3>{% trans "Translation addons" %}</h3>
                    <p>{% trans "Customize localization workflow with various addons." %}</p>
                </a>
                </div>
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/admin/backup.html">
                    <div class="icon"><img src="{% static "img/icon-backup.svg" %}" /></div>
                    <h3>{% trans "Backups" %}</h3>
                    <p>{% trans "Built-in remote backups to prevent data loss." %}</p>
                </a>
                </div>
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/admin/translating.html#screenshots">
                    <div class="icon"><img src="{% static "img/icon-screenshot.svg" %}" /></div>
                    <h3>{% trans "Screenshots" %}</h3>
                    <p>{% trans "Provide visual context for the translations." %}</p>
                </a>
                </div>
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/user/translating.html#variants">
                    <div class="icon"><img src="{% static "img/icon-magnet.svg" %}" /></div>
                    <h3>{% trans "Variants" %}</h3>
                    <p>{% trans "Group variants of a strings for easier translating." %}</p>
                </a>
                </div>
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/workflows.html#source-quality-gateway">
                    <div class="icon"><img src="{% static "img/icon-layers.svg" %}" /></div>
                    <h3>{% trans "Intermediate language" %}</h3>
                    <p>{% trans "Proofread strings from developers before translating them." %}</p>
                </a>
                </div>
            </div>
    	</div>
    </section>
{% include "snippets/pricing.html" %}
{% include "snippets/about.html" %}
{% endblock %}
