{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Weblate features" %}{% endblock %}
{% block description %}{% blocktrans %}As a feature rich computer aided translation tool, Weblate saves both developers and translators time.{% endblocktrans %}{% endblock %}
{% block body_class %}page pfeatures light{% endblock %}

{% block content %}
	<section class="content">
    	<div class="row">
            <div class="wrap">
                <h1 class="section-title min-m">{% trans "Weblate features" %}</h1>
                <div class="page-desc"><p>{% blocktrans %}As a feature rich computer aided translation tool, Weblate saves both developers and translators time. View the <a href="https://docs.weblate.org/">complete documentation</a> to learn more, and make your users happier!{% endblocktrans %}</p></div>
                <div class="wrap features">
                {% include "snippets/features-1.html" %}
                </div>            
            </div>
    	</div>
    </section>
    <section class="interface">
    	<div class="row">
        	<div class="inter-title">{% trans "Easy to use interface" %}</div>
            <img src="{% static "img/BigScreenshot.png" %}" class="photo" alt="{% trans "Weblate screenshot" %}" />
            <div class="inter-checks">
                <div class="title">{% trans "Customizable quality checks" %}</div>
                <img src="{% static "img/dialog-checks.png" %}" alt="{% trans "Weblate screenshot" %}" />
            </div>
            <div class="inter-context">
            	<div class="title">{% trans "Detailed context" %}</div>
            	<p>{% trans "Translators are provided detailed information about translation context from the translation files or enriched within Weblate." %}</p>
                <img src="{% static "img/source-info.png" %}" alt="{% trans "Weblate screenshot" %}" />
            </div>
            <div class="inter-fluent">
            	<div class="title">{% trans "Fluent communication" %}</div>
            	<p>{% trans "All translations are tracked and can be commented." %}</p>
                <img src="{% static "img/comment-new.png" %}" alt="{% trans "Weblate screenshot" %}" />
            </div>
    	</div>
    </section>
	<section class="content no-mar">
    	<div class="row">
            <div class="wrap features">
                {% include "snippets/features-2.html" %}
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/admin/access.html">
                    <div class="icon"><img src="{% static "img/icon-control.svg" %}" /></div>
                    <h3>{% trans "Access Control" %}</h3>
                    <p>{% trans "Access rights can be fine tuned depending on your environment." %}</p>
                </a>
                </div>            
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/user/profile.html#subscriptions">
                    <div class="icon"><img src="{% static "img/icon-notifications.svg" %}" /></div>
                    <h3>{% trans "Smart Notifications" %}</h3>
                    <p>{% trans "Translators can be notified on new strings to translate or other events." %}</p>
                </a>
                </div>            
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/api.html">
                    <div class="icon"><img src="{% static "img/icon-api.svg" %}" /></div>
                    <h3>{% trans "Integration API" %}</h3>
                    <p>{% trans "Thanks to the API you can integrate Weblate with third party services." %}</p>
                </a>
                </div>            
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/formats.html">
                    <div class="icon"><img src="{% static "img/icon-formats.svg" %}" /></div>
                    <h3>{% trans "Multiple File Formats" %}</h3>
                    <p>{% trans "Weblate supports all widely used file formats for localization, like gettext, JSON, XLIFF or resource strings." %}</p>
                </a>
                </div>            
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/faq.html#how-do-i-translate-several-branches-at-once">
                    <div class="icon"><img src="{% static "img/icon-branches.svg" %}" /></div>
                    <h3>{% trans "Branches Support" %}</h3>
                    <p>{% trans "Weblate can handle different versions of the translation by pushing them to different branches automatically." %}</p>
                </a>
                </div>            
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/user/translating.html">
                    <div class="icon"><img src="{% static "img/icon-context.svg" %}" /></div>
                    <h3>{% trans "Translation Context" %}</h3>
                    <p>{% trans "Translator can always see important context information like comments or corresponding source code." %}</p>
                </a>
                </div>            
            </div>
    	</div>
    </section>
    <section class="formats">
    	<div class="row">
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#gettext">Gettext <span>.po, .pot, .mo</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#xliff">XLIFF <span>.xliff</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#javaprop">Java <span>.properties</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#joomla">Joomla <span>.ini</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#qtling">Qt <span>.ts</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#aresource">Android <span>.xml</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#js-i18next">i18next <span>.json</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#webex">WebExtension <span>.json</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#json">Key value <span>.json</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#php">PHP <span>.php</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#apple">iOS <span>.strings</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#xlsx">Excel <span>.xslx</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#dtd">Mozilla DTD <span>.dtd</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#dotnet">.Net resource files <span>.resx, .resw</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#csv">CSV <span>.csv</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#yaml">YAML <span>.yaml</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#ryaml">Ruby <span>.yaml</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#appstore">App store metadatada <span>.txt</span></a>
        	<a class="format-item" href="https://docs.weblate.org/en/latest/formats.html#subtitles">Subtitles <span>.srt</span></a>
    	</div>
    </section>
	<section class="content no-mar">
    	<div class="row">
            <div class="wrap features">
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/user/translating.html#glossary">
                    <div class="icon"><img src="{% static "img/icon-glossary.svg" %}" /></div>
                    <h3>{% trans "Glossary" %}</h3>
                    <p>{% trans "Translators can define their own glossary to stay consistent in frequently used terminology." %}</p>
                </a>
                </div>            
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/faq.html#how-do-i-provide-feedback-on-source-string">
                    <div class="icon"><img src="{% static "img/icon-feedback.svg" %}" /></div>
                    <h3>{% trans "Feedback Acquisition" %}</h3>
                    <p>{% trans "You can also use Weblate to acquire feedback on source strings and thus improve them." %}</p>
                </a>
                </div>            
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/user/translating.html#export-and-import">
                    <div class="icon"><img src="{% static "img/icon-export.svg" %}" /></div>
                    <h3>{% trans "Export & Import" %}</h3>
                    <p>{% trans "Translations can be downloaded for offline translation and merged back." %}</p>
                </a>
                </div>            
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/about.html#project-goals">
                    <div class="icon"><img src="{% static "img/icon-integrated.svg" %}" /></div>
                    <h3>{% trans "Fully Integrated" %}</h3>
                    <p>{% trans "Translations are managed within same version control system as code." %}</p>
                </a>
                </div>            
                <div class="f-box">
                <a href="https://docs.weblate.org/">
                    <div class="icon"><img src="{% static "img/icon-documentation.svg" %}" /></div>
                    <h3>{% trans "Documentation" %}</h3>
                    <p>{% trans "Weblate comes with comprehensive documentation covering both setup and usage." %}</p>
                </a>
                </div>            
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/faq.html#how-do-i-review-others-translations">
                    <div class="icon"><img src="{% static "img/icon-reviews.svg" %}" /></div>
                    <h3>{% trans "Easy Reviews" %}</h3>
                    <p>{% trans "Translators have several options to review contributions made by peers." %}</p>
                </a>
                </div>            
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/faq.html#where-do-language-definition-come-from-and-how-can-i-add-own">
                    <div class="icon"><img src="{% static "img/icon-languages.svg" %}" /></div>
                    <h3>{% trans "300 languages" %}</h3>
                    <p>{% trans "Weblate supports over 300 languages out of the box, others can be defined by administrator." %}</p>
                </a>
                </div>            
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/devel/index.html#promotion">
                    <div class="icon"><img src="{% static "img/icon-promotion.svg" %}" /></div>
                    <h3>{% trans "Promotion" %}</h3>
                    <p>{% trans "Weblate provides you various ways to promote your translation project." %}</p>
                </a>
                </div>            
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/devel/index.html#reports">
                    <div class="icon"><img src="{% static "img/icon-reporting.svg" %}" /></div>
                    <h3>{% trans "Reporting" %}</h3>
                    <p>{% trans "Weblate generates various reports to provide information about project activity." %}</p>
                </a>
                </div>            
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/faq.html#faq-vcs">
                    <div class="icon"><img src="{% static "img/icon-versioncontrol.svg" %}" /></div>
                    <h3>{% trans "Version Control" %}</h3>
                    <p>{% trans "Weblate talks directly with your version control system, currently Git and Mercurial are supported." %}</p>
                </a>
                </div>            
                <div class="f-box">
                <a href="https://docs.weblate.org/en/latest/faq.html#faq-vcs">
                    <div class="icon"><img src="{% static "img/icon-collaboration.svg" %}" /></div>
                    <h3>{% trans "Collaboration Sites" %}</h3>
                    <p>{% trans "Weblate has native support for many software development sites such as GitHub, Bitbucket or GitLab." %}</p>
                </a>
                </div>            
                <div class="f-box">
                <a href="https://hosted.weblate.org/">
                    <div class="icon"><img src="{% static "img/icon-responsiveui.svg" %}" /></div>
                    <h3>{% trans "Responsive UI" %}</h3>
                    <p>{% trans "Weblate has responsive UI which will work nicely on your desktop, tablet or phone." %}</p>
                </a>
                </div>            
            </div>
    	</div>
    </section>
{% include "snippets/pricing.html" %}
{% include "snippets/about.html" %}
{% endblock %}
