{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Gratis hosting for libre software on Weblate" %}{% endblock %}
{% block header %}{% trans "Gratis hosting for libre software on Weblate" %}{% endblock %}
{% block description %}
{% block headline %}{% trans "We love libre software, and we offer gratis plans for hosting such translations." %}{% endblock %}
{% endblock %}

{% block extrajumbo %}
<p>
<a class="btn btn-info btn-lg" href="https://hosted.weblate.org/hosting/" role="button"><i class="fas fa-comment"></i> {% trans "Ask for hosting" %}</a>
</p>
{% endblock %}

{% block content %}


<h2 id="free">{% trans "Gratis hosting for libre software" %}</h2>

<p>
{% blocktrans %}If you are interested in using Weblate for your libre software, you can ask to have your translations hosted on <a href="https://hosted.weblate.org/">hosted.weblate.org</a>. This allows use of Weblate without installing and maintaining it.{% endblocktrans %}
</p>

<h3>{% trans "Conditions for gratis for libre software hosting" %}</h3>

<ul>
<li>{% trans 'Translated content has to be released under <a href="https://en.wikipedia.org/wiki/Free_software_license">libre license</a>.' %}</li>
<li>{% trans "The source code has to be libre licensed, and publicly available in a supported version control system." %}</li>
<li>{% trans "There is no guarantee for service availability or quality." %}</li>
</ul>

<h3>{% trans "Asking for hosting" %}</h3>

<p>
{% blocktrans with "https://hosted.weblate.org/hosting/" as url %}Please use <a href="{{ url }}">contact form on Hosted Weblate</a> to request hosting. The following info is needed:{% endblocktrans %}
</p>

<ul>
<li>{% trans "Info about your project." %}</li>
<li>{% trans "Project website." %}</li>
<li>{% trans "URL of repository with translations." %}</li>
<li>{% trans "Path to translations within the repository." %}</li>
</ul>

<h3 id="free-users">{% trans "User management" %}</h3>

<p>
{% blocktrans %}The gratis for libre software plan does not allow changing project visibility, nor limiting which users can contribute to the translation.{% endblocktrans %}
</p>
<p>
{% blocktrans %}This limitation can be lifted by purchasing the "Basic" hosting plan - you have the same limits, but get extended user management capabilities.{% endblocktrans %}
</p>

<h3>{% trans "Translation workflow" %}</h3>

<p>
{% blocktrans %}All translated repositories are available using the HTTPS protocol, with similar naming as on the website - the weblate/master translation is published as <code>https://hosted.weblate.org/git/weblate/master/</code>. You can figure out the URL from the component info tab.{% endblocktrans %}
</p>

<p>
{% blocktrans with "https://docs.weblate.org/en/latest/admin/continuous.html#github-setup" as GitHub and "https://docs.weblate.org/en/latest/admin/continuous.html#bitbucket-setup" as Bitbucket and "https://docs.weblate.org/en/latest/admin/continuous.html#gitlab-setup" as GitLab %}Weblate can automatically receive changes from major code hosting services, see our documentation for setup on <a href="{{ github }}">GitHub</a>, <a href="{{ bitbucket }}">Bitbucket</a> or <a href="{{ gitlab }}">GitLab</a>.{% endblocktrans %}
</p>

<p>
{% blocktrans with "https://docs.weblate.org/en/latest/admin/continuous.html#hosted-push" as docs %}If you want Weblate to automatically push changes as well, add the Weblate push user to collaborators, and let us know you want to use this option. See <a href="{{ docs }}">documentation</a> for more detailed instructions.{% endblocktrans %}
</p>

<h3>{% trans "Support gratis for libre software hosting" %}</h3>

<p>
{% url 'donate' as donate_url %}
{% blocktrans with 'https://liberapay.com/Weblate/' as gittip_url %}The hosting is provided gratis, but running the server and maintaining it costs some money, so you are welcome to use <a href="{{ gittip_url }}">Liberapay</a> or <a href="{{ donate_url }}">other ways to donate</a>.{% endblocktrans %}
</p>

{% include "vat.html" %}

{% endblock %}
