{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load prices %}

{% block body_class %}page pricing light{% endblock %}

{% block content %}
<section class="content">
    <div class="row">
        <div class="wrap">
            <h1 class="section-title min-m">{% block title %}{% trans "Weblate Pricing" %}{% endblock %}</h1>
            <div class="page-desc">
                {% url 'support' as url %}
                <p>{% block description %}
                  {% blocktrans %}Use Weblate as a service, set up your own, or <a href="{{ url }}">get help</a> for on-premise hosting — all with the convenience of the premium support.{% endblocktrans %}
                  {% blocktrans %}Our team is ready to help you run Weblate smoothly.{% endblocktrans %}
                {% endblock %}</p>
            </div>
            <h2 id="which" class="section-title payment-conditions">{% trans "Compare Cloud and Self-hosted Features" %}</h2>
            <div class="pricing-table">
                <div class="pricing-table-left">
                    <div class="col">
                        <div class="line">
                            <span class="middle">{% trans "System maintenance" %}</span>
                        </div>
                        <div class="line">
                            <span class="middle">{% trans "Weblate installation" %}</span>
                        </div>
                        <div class="line">
                            <span class="middle">{% trans "Weblate upgrades" %}</span>
                        </div>
                        <div class="line">
                            <span class="middle">{% trans "Access to backups" %}</span>
                        </div>
                        <div class="line">
                            <span class="middle">{% trans "Complete configuration customization" %}</span>
                        </div>
                        <div class="line">
                            <span class="middle">{% trans "Single sign-on" %}</span>
                        </div>
                        <div class="line">
                            <span class="middle">{% trans "Priority e-mail support" %}</span>
                        </div>
                        <div class="line">
                            <span class="middle">{% trans "Shared translation memory" %}</span>
                        </div>
                        <div class="line">
                            <span class="middle">{% trans "Priority bug fixing" %}</span>
                        </div>
                    </div>
                </div>
                <div class="pricing-table-right">
                    <div class="pricing-table-right-inner">
                        <div class="col">
                            <div class="head line blue">
                                <strong>{% trans "Cloud" context "Hosting plan" %}</strong><br />
                                {% trans "Hosted Weblate" %}
                            </div>
                            <div class="line">
                                <span class="check"></span>
                            </div>
                            <div class="line">
                                <span class="check"></span>
                            </div>
                            <div class="line">
                                <span class="check"></span>
                            </div>
                            <div class="line">
                                <span class="info" title="{% blocktrans %}Backups and restoring is automatic on Hosted Weblate.{% endblocktrans %}">i</span>
                            </div>
                            <div class="line">
                                <span class="cross"></span>
                            </div>
                            <div class="line">
                                <span class="cross"></span>
                            </div>
                            <div class="line">
                                <span class="check"></span>
                            </div>
                            <div class="line">
                                <span class="check"></span>
                            </div>
                            <div class="line">
                                <span class="check"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="head line blue">
                                <strong>{% trans "Dedicated cloud" context "Hosting plan" %}</strong><br />
                            </div>
                            <div class="line">
                                <span class="check"></span>
                            </div>
                            <div class="line">
                                <span class="check"></span>
                            </div>
                            <div class="line">
                                <span class="check"></span>
                            </div>
                            <div class="line">
                                <span class="check"></span>
                            </div>
                            <div class="line">
                                <span class="check"></span>
                            </div>
                            <div class="line">
                                <span class="check"></span>
                            </div>
                            <div class="line">
                                <span class="check"></span>
                            </div>
                            <div class="line">
                                <span class="cross"></span>
                            </div>
                            <div class="line">
                                <span class="check"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="head line red">
                                <strong>{% trans "Self-hosted" context "Hosting plan" %}</strong><br />
                                {% trans "Extended support" %}
                            </div>
                            <div class="line">
                                <span class="cross"></span>
                            </div>
                            <div class="line">
                                <a href="{% url 'support' %}#install">{{ 300 | price_format }}</a>
                            </div>
                            <div class="line">
                                <span class="check"></span>
                            </div>
                            <div class="line">
                                <a href="{% url 'support' %}#backup">{% trans "Optional" %}</a>
                            </div>
                            <div class="line">
                                <span class="check"></span>
                            </div>
                            <div class="line">
                                <span class="check"></span>
                            </div>
                            <div class="line">
                                <span class="check"></span>
                            </div>
                            <div class="line">
                                <span class="cross"></span>
                            </div>
                            <div class="line">
                                <span class="check"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="head line red">
                                <strong>{% trans "Self-hosted" context "Hosting plan" %}</strong><br />
                                {% trans "Basic support" %}
                            </div>
                            <div class="line">
                                <span class="cross"></span>
                            </div>
                            <div class="line">
                                <a href="{% url 'support' %}#install">{% trans "Optional" %}</a>
                            </div>
                            <div class="line">
                                <span class="cross"></span>
                            </div>
                            <div class="line">
                                <a href="{% url 'support' %}#backup">{% trans "Optional" %}</a>
                            </div>
                            <div class="line">
                                <span class="check"></span>
                            </div>
                            <div class="line">
                                <span class="check"></span>
                            </div>
                            <div class="line">
                                <span class="check"></span>
                            </div>
                            <div class="line">
                                <span class="cross"></span>
                            </div>
                            <div class="line">
                                <span class="check"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="head line red">
                                <strong>{% trans "Self-hosted" context "Hosting plan" %}</strong><br />
                                {% trans "Gratis" %}
                            </div>
                            <div class="line">
                                <span class="cross"></span>
                            </div>
                            <div class="line">
                                <span class="cross"></span>
                            </div>
                            <div class="line">
                                <span class="cross"></span>
                            </div>
                            <div class="line">
                                <a href="{% url 'support' %}#backup">{% trans "Optional" %}</a>
                            </div>
                            <div class="line">
                                <span class="check"></span>
                            </div>
                            <div class="line">
                                <span class="check"></span>
                            </div>
                            <div class="line">
                                <span class="cross"></span>
                            </div>
                            <div class="line">
                                <span class="cross"></span>
                            </div>
                            <div class="line">
                                <span class="cross"></span>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="pricing-table-tabs">
                            <div class="col">
                                <div class="line price">
                                    {% trans "From" %}
                                    <strong>{{ 17 | price_format }}</strong>
                                    {% filter upper %}{% trans "a month" %}{% endfilter %}
                                </div>
                                <div class="line">
                                    <a href="#hosted" class="button dedicated-toggle">{% trans "See options" %}</a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="line price">
                                    {% trans "From" %}
                                    <strong>{{ 25 | price_format }}</strong>
                                    {% filter upper %}{% trans "a month" %}{% endfilter %}
                                </div>
                                <div class="line">
                                    <a href="#hosted" class="button dedicated-toggle dedicated-enable">{% trans "See options" %}</a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="line price">
                                    &nbsp;
                                    <strong>{{ 63 | price_format }}</strong>
                                    {% filter upper %}{% trans "a month" %}{% endfilter %}
                                </div>
                                <div class="line">
                                    <a href="{% url 'subscription-new' %}?plan=extended" class="button">{% trans "Buy now" %}</a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="line price">
                                    &nbsp;
                                    <strong>{{ 42 | price_format }}</strong>
                                    {% filter upper %}{% trans "a month" %}{% endfilter %}
                                </div>
                                <div class="line">
                                    <a href="{% url 'subscription-new' %}?plan=basic" class="button">{% trans "Buy now" %}</a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="line price">
                                    &nbsp;
                                    <strong>{% trans "Gratis" %}</strong>
                                    &nbsp;
                                </div>
                                <div class="line">
                                    <a href="{% url 'download' %}" class="button border rev">{% trans "Download" %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <h2 id="hosted" class="section-title payment-conditions">{% trans "Cloud-hosted Price Options" %}</h2>
            <div class="page-desc small">
                <p class="small">{% blocktrans with "mailto:sales@weblate.org" as contact %}Hosted Weblate allows localization without any extra effort, and <strong>premium support</strong> backed by core developers and professional translators. Ask about hosting of larger projects, or let us answer your questions by <a href="{{ contact }}">getting in touch</a>—we are ready to find the perfect solution.{% endblocktrans %}</p>
            </div>

            <div class="pricing-table-top">
              {% blocktrans %}<b>14-day gratis trial</b> included in all cloud plans{% endblocktrans %}
            </div>
            <div class="pricing-table">
                <div class="pricing-table-left">
                    <div class="col">
                        <div class="line">
                            <span class="middle"><a href="https://docs.weblate.org/en/latest/admin/continuous.html">{% trans "Continuous localization" %}</a></span>
                        </div>
                        <div class="line">
                            <span class="middle"><a href="#strings">{% trans "Source strings" %}</a></span>
                        </div>
                        <div class="line">
                            <span class="middle"><a href="https://docs.weblate.org/en/latest/admin/languages.html">{% trans "Target languages" %}</a></span>
                        </div>
                        <div class="line">
                            <span class="middle"><a href="https://docs.weblate.org/en/latest/admin/projects.html#project-configuration">{% trans "Translation projects" %}</a></span>
                        </div>
                        <div class="line">
                            <span class="middle"><a href="https://docs.weblate.org/en/latest/admin/projects.html#component-configuration">{% trans "Translation components" %}</a></span>
                        </div>
                        <div class="line">
                            <span class="middle"><a href="https://docs.weblate.org/en/latest/admin/access.html#manage-users">{% trans "Number of translators" %}</a></span>
                        </div>
                        <div class="line">
                            <span class="middle"><a href="#which">{% trans "Dedicated instance" %}</a></span>
                        </div>
                    </div>
                </div>
                <div class="pricing-table-right">
                    <div class="pricing-table-right-inner">
                        <div class="col">
                            <div class="head line blue">
                                <strong>{% trans "Basic" context "Hosting plan" %}</strong><br />
                                {% trans "cloud" %}
                            </div>
                            <div class="line">
                                <span class="check"></span>
                            </div>
                            <div class="line">
                                <strong>{{ 1000|intcomma }}</strong>
                            </div>
                            <div class="line">
                                <strong>15</strong>
                            </div>
                            <div class="line">
                                1
                            </div>
                            <div class="line">
                                <span class="green">{% trans "Unlimited" %}</span>
                            </div>
                            <div class="line">
                                <span class="green">{% trans "Unlimited" %}</span>
                            </div>
                            <div class="line">
                                <span title="{% blocktrans with price=100|price_format %}Additional charge {{ price }}/year, only available with yearly billing{% endblocktrans %}">{{ 100 | price_format }}</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="head line blue">
                                <strong>{% trans "Medium" context "Hosting plan" %}</strong><br />
                                {% trans "cloud" %}
                            </div>
                            <div class="line">
                                <span class="check"></span>
                            </div>
                            <div class="line">
                                <strong>{{ 3000|intcomma }}</strong>
                            </div>
                            <div class="line">
                                <strong>30</strong>
                            </div>
                            <div class="line">
                                2
                            </div>
                            <div class="line">
                                <span class="green">{% trans "Unlimited" %}</span>
                            </div>
                            <div class="line">
                                <span class="green">{% trans "Unlimited" %}</span>
                            </div>
                            <div class="line">
                                <span title="{% blocktrans with price=100|price_format %}Additional charge {{ price }}/year, only available with yearly billing{% endblocktrans %}">{{ 100 | price_format }}</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="head line blue">
                                <strong>{% trans "Advanced" context "Hosting plan" %}</strong><br />
                                {% trans "cloud" %}
                            </div>
                            <div class="line">
                                <span class="check"></span>
                            </div>
                            <div class="line">
                                <strong>{{ 10000|intcomma }}</strong>
                            </div>
                            <div class="line">
                                <strong>60</strong>
                            </div>
                            <div class="line">
                                <span class="green">{% trans "Unlimited" %}</span>
                            </div>
                            <div class="line">
                                <span class="green">{% trans "Unlimited" %}</span>
                            </div>
                            <div class="line">
                                <span class="green">{% trans "Unlimited" %}</span>
                            </div>
                            <div class="line">
                                <span title="{% blocktrans with price=100|price_format %}Additional charge {{ price }}/year, only available with yearly billing{% endblocktrans %}">{{ 100 | price_format }}</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="head line blue">
                                <strong>{% trans "Enterprise" context "Hosting plan" %}</strong><br />
                                {% trans "cloud" %}
                            </div>
                            <div class="line">
                                <span class="check"></span>
                            </div>
                            <div class="line">
                                <strong>{{ 50000|intcomma }}</strong>
                            </div>
                            <div class="line">
                                <strong>100</strong>
                            </div>
                            <div class="line">
                                <span class="green">{% trans "Unlimited" %}</span>
                            </div>
                            <div class="line">
                                <span class="green">{% trans "Unlimited" %}</span>
                            </div>
                            <div class="line">
                                <span class="green">{% trans "Unlimited" %}</span>
                            </div>
                            <div class="line">
                                <span class="check"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="head line">
                                <strong>{% trans "Custom" context "Hosting plan" %}</strong><br />
                                {% trans "and dedicated" %}
                            </div>
                            <div class="line">
                                <span class="check"></span>
                            </div>
                            <div class="line">
                                {% blocktrans with count=50000|intcomma %}over <strong>{{ count }}</strong>{% endblocktrans %}
                            </div>
                            <div class="line">
                                {% blocktrans with count=100|intcomma %}over <strong>{{ count }}</strong>{% endblocktrans %}
                            </div>
                            <div class="line">
                                <span class="green">{% trans "Unlimited" %}</span>
                            </div>
                            <div class="line">
                                <span class="green">{% trans "Unlimited" %}</span>
                            </div>
                            <div class="line">
                                <span class="green">{% trans "Unlimited" %}</span>
                            </div>
                            <div class="line">
                                <span class="check"></span>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="pricing-table-tabs-menu">
                            <ul>
                                <li class="current" data-tab="monthly">{% trans "Monthly" %}</li>
                                <li data-tab="yearly" id="yearly-pricing">{% trans "Yearly" %}</li>
                            </ul>
                            <div class="tabs-checkbox">
                              <input type="checkbox" name="dedicated" id="dedicated-checkbox">
                              <label for="dedicated-checkbox">{% trans "Dedicated instance" %}</label>
                            </div>
                            <div class="tabs-info">
                              {% trans "<strong>Save more</strong> with longer pre-payment!" %}
                            </div>
                        </div>
                        <div class="pricing-table-tabs">
                            <div id="monthly" class="tab-content current">
                                <div class="col">
                                    <div class="line price">
                                        <strong>{{ 19 | price_format }}</strong>
                                        {% filter upper %}{% trans "Monthly" %}{% endfilter %}
                                    </div>
                                    <div class="line">
                                        <a href="https://hosted.weblate.org/trial/" class="button">{% trans "Gratis trial" %}</a>
                                    </div>
                                    <div class="line last">

                                    </div>
                                </div>
                                <div class="col">
                                    <div class="line price">
                                        <strong>{{ 49 | price_format }}</strong>
                                        {% filter upper %}{% trans "Monthly" %}{% endfilter %}
                                    </div>
                                    <div class="line">
                                        <a href="https://hosted.weblate.org/trial/" class="button">{% trans "Gratis trial" %}</a>
                                    </div>
                                    <div class="line last">

                                    </div>
                                </div>
                                <div class="col">
                                    <div class="line price">
                                        <strong>{{ 99 | price_format }}</strong>
                                        {% filter upper %}{% trans "Monthly" %}{% endfilter %}
                                    </div>
                                    <div class="line">
                                        <a href="https://hosted.weblate.org/trial/" class="button">{% trans "Gratis trial" %}</a>
                                    </div>
                                    <div class="line last">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="line price">
                                        <strong>{{ 299 | price_format }}</strong>
                                        {% filter upper %}{% trans "Monthly" %}{% endfilter %}
                                    </div>
                                    <div class="line">
                                        <a href="https://hosted.weblate.org/trial/" class="button">{% trans "Gratis trial" %}</a>
                                    </div>
                                    <div class="line last">

                                    </div>
                                </div>
                                <div class="col">
                                    <div class="line price small">
                                        {% blocktrans %}<b>Ask</b> for options{% endblocktrans %}
                                    </div>
                                    <div class="line">
                                        <a href="mailto:sales@weblate.org" class="button">{% trans "Contact us" %}</a>
                                    </div>
                                    <div class="line last">

                                    </div>
                                </div>
                            </div>
                            <div id="yearly" class="tab-content">
                                <div class="col">
                                    <div class="line price">
                                        <strong>{{ 199 | price_format }}</strong>
                                        {% filter upper %}{% trans "Yearly" %}{% endfilter %}
                                    </div>
                                    <div class="line">
                                        <a href="https://hosted.weblate.org/trial/" class="button">{% trans "Gratis trial" %}</a>
                                    </div>
                                    <div class="line last">

                                    </div>
                                </div>
                                <div class="col">
                                    <div class="line price">
                                        <strong>{{ 499 | price_format }}</strong>
                                        {% filter upper %}{% trans "Yearly" %}{% endfilter %}
                                    </div>
                                    <div class="line">
                                        <a href="https://hosted.weblate.org/trial/" class="button">{% trans "Gratis trial" %}</a>
                                    </div>
                                    <div class="line last">

                                    </div>
                                </div>
                                <div class="col">
                                    <div class="line price">
                                        <strong>{{ 999 | price_format }}</strong>
                                        {% filter upper %}{% trans "Yearly" %}{% endfilter %}
                                    </div>
                                    <div class="line">
                                        <a href="https://hosted.weblate.org/trial/" class="button">{% trans "Gratis trial" %}</a>
                                    </div>
                                    <div class="line last">
                                        {% comment %}<span class="red"><strong>20 % Savings</strong><br />in April</span>{% endcomment %}
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="line price">
                                        <strong>{{ 2999 | price_format }}</strong>
                                        {% filter upper %}{% trans "Yearly" %}{% endfilter %}
                                    </div>
                                    <div class="line">
                                        <a href="https://hosted.weblate.org/trial/" class="button">{% trans "Gratis trial" %}</a>
                                    </div>
                                    <div class="line last">

                                    </div>
                                </div>
                                <div class="col">
                                    <div class="line price small">
                                        {% blocktrans %}<b>Ask</b> for options{% endblocktrans %}
                                    </div>
                                    <div class="line">
                                        <a href="mailto:sales@weblate.org" class="button">{% trans "Contact us" %}</a>
                                    </div>
                                    <div class="line last">

                                    </div>
                                </div>
                            </div>
                            <div id="dedicated" class="tab-content">
                                <div class="col">
                                    <div class="line price">
                                        <strong>{{ 299 | price_format }}</strong>
                                        {% filter upper %}{% trans "Yearly" %}{% endfilter %}
                                    </div>
                                    <div class="line">
                                        <a href="{% url 'subscription-new' %}?plan=hosted:basic" class="button">{% trans "Buy now" %}</a>
                                    </div>
                                    <div class="line last">

                                    </div>
                                </div>
                                <div class="col">
                                    <div class="line price">
                                        <strong>{{ 599 | price_format }}</strong>
                                        {% filter upper %}{% trans "Yearly" %}{% endfilter %}
                                    </div>
                                    <div class="line">
                                        <a href="{% url 'subscription-new' %}?plan=hosted:medium" class="button">{% trans "Buy now" %}</a>
                                    </div>
                                    <div class="line last">

                                    </div>
                                </div>
                                <div class="col">
                                    <div class="line price">
                                        <strong>{{ 1099 | price_format }}</strong>
                                        {% filter upper %}{% trans "Yearly" %}{% endfilter %}
                                    </div>
                                    <div class="line">
                                        <a href="{% url 'subscription-new' %}?plan=hosted:advanced" class="button">{% trans "Buy now" %}</a>
                                    </div>
                                    <div class="line last">
                                        {% comment %}<span class="red"><strong>20 % Savings</strong><br />in April</span>{% endcomment %}
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="line price">
                                        <strong>{{ 2999 | price_format }}</strong>
                                        {% filter upper %}{% trans "Yearly" %}{% endfilter %}
                                    </div>
                                    <div class="line">
                                        <a href="{% url 'subscription-new' %}?plan=hosted:enterprise" class="button">{% trans "Buy now" %}</a>
                                    </div>
                                    <div class="line last">

                                    </div>
                                </div>
                                <div class="col">
                                    <div class="line price small">
                                        {% blocktrans %}<b>Ask</b> for options{% endblocktrans %}
                                    </div>
                                    <div class="line">
                                        <a href="mailto:sales@weblate.org" class="button">{% trans "Contact us" %}</a>
                                    </div>
                                    <div class="line last">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="section-title crypto payment-conditions">{% trans "Payment" %}</h2>
            <div class="page-desc small">
                {% include "snippets/vat.html" %}
            </div>
            <h2 class="section-title crypto payment-conditions" id="strings">{% trans "Source strings" %}</h2>
            <div class="page-desc small">
                <p>{% trans "Pricing is based on the number of source strings and target languages. A source string is a text unit defined in a translation format. It can be a word, sentence or paragraph." %}</p>
            </div>

            <div class="libre-hosting" id="libre">
              <h2>{% trans "Weblate proudly supports libre projects" %}</h2>
              <p>
                {% blocktrans with url="https://hosted.weblate.org/hosting/" %}<a href="{{ url }}">Set up your libre project</a> using the <strong>Libre plan</strong> gratis.{% endblocktrans %}
                {% blocktrans %}The same as the <strong>Advanced plan</strong>, for your libre software project.{% endblocktrans %}
            </p>
            </div>

            <div class="wrap supporters">
                <h2 class="section-title hp-style">{% trans "Join existing users and supporters" %}</h2>
                {% include "snippets/users.html" %}
            </div>
        </div>
    </div>
</section>

{% include "snippets/bottom.html" %}
{% include "snippets/about.html" %}
{% endblock %}
