{% extends "base.html" %}

{% load humanize i18n prices %}

{% block body_class %}page pricing light{% endblock %}

{% block content %}
  <section class="content">
    <div class="row">
      <div class="wrap">
        <h1 class="section-title min-m">
          {% block title %}
            {% translate "Weblate Pricing" %}
          {% endblock title %}

        </h1>
        <div class="page-desc">
          {% url 'support' as url %}
          <p>
            {% block description %}
              {% blocktranslate %}Use Weblate as a service, set up your own, or <a href="{{ url }}">get help</a> for on-premise hosting — all with the convenience of the premium support.{% endblocktranslate %}
              {% blocktranslate %}Our team is ready to help you run Weblate smoothly.{% endblocktranslate %}
            {% endblock description %}

          </p>
        </div>
        <h2 id="which" class="section-title payment-conditions">{% translate "Compare Cloud and Self-hosted Features" %}</h2>
        <div class="pricing-table">
          <div class="pricing-table-left">
            <div class="col">
              <div class="line">
                <span class="middle">{% translate "System maintenance" %}</span>
              </div>
              <div class="line">
                <span class="middle">{% translate "Weblate installation" %}</span>
              </div>
              <div class="line">
                <span class="middle">{% translate "Weblate upgrades" %}</span>
              </div>
              <div class="line">
                <span class="middle">{% translate "Access to backups" %}</span>
              </div>
              <div class="line">
                <span class="middle">{% translate "Complete configuration customization" %}</span>
              </div>
              <div class="line">
                <span class="middle">{% translate "Single sign-on" %}</span>
              </div>
              <div class="line">
                <span class="middle">{% translate "Priority e-mail support" %}</span>
              </div>
              <div class="line">
                <span class="middle">{% translate "Shared translation memory" %}</span>
              </div>
              <div class="line">
                <span class="middle">{% translate "Priority bug fixing" %}</span>
              </div>
            </div>
          </div>
          <div class="pricing-table-right">
            <div class="pricing-table-right-inner">
              <div class="col">
                <div class="head line blue">
                  <strong>{% translate "Cloud" context "Hosting plan" %}</strong>
                  <br />
                  {% translate "Hosted Weblate" %}
                </div>
                <div class="line">
                  <span class="check"></span>
                </div>
                <div class="line">
                  <span class="check"></span>
                </div>
                <div class="line">
                  <span class="check"></span>
                </div>
                <div class="line">
                  <span class="info"
                        title="{% blocktranslate %}Backups and restores are automatic on Hosted Weblate.{% endblocktranslate %}">i</span>
                </div>
                <div class="line">
                  <span class="cross"></span>
                </div>
                <div class="line">
                  <span class="cross"></span>
                </div>
                <div class="line">
                  <span class="check"></span>
                </div>
                <div class="line">
                  <span class="check"></span>
                </div>
                <div class="line">
                  <span class="check"></span>
                </div>
              </div>
              <div class="col">
                <div class="head line blue">
                  <strong>{% translate "Dedicated cloud" context "Hosting plan" %}</strong>
                  <br />
                </div>
                <div class="line">
                  <span class="check"></span>
                </div>
                <div class="line">
                  <span class="check"></span>
                </div>
                <div class="line">
                  <span class="check"></span>
                </div>
                <div class="line">
                  <span class="check"></span>
                </div>
                <div class="line">
                  <span class="check"></span>
                </div>
                <div class="line">
                  <span class="check"></span>
                </div>
                <div class="line">
                  <span class="check"></span>
                </div>
                <div class="line">
                  <span class="cross"></span>
                </div>
                <div class="line">
                  <span class="check"></span>
                </div>
              </div>
              <div class="col">
                <div class="head line red">
                  <strong>{% translate "Self-hosted" context "Hosting plan" %}</strong>
                  <br />
                  {% translate "Extended support" %}
                </div>
                <div class="line">
                  <span class="cross"></span>
                </div>
                <div class="line">
                  <a href="{% url 'support' %}#install">{{ 480|price_format }}</a>
                </div>
                <div class="line">
                  <span class="check"></span>
                </div>
                <div class="line">
                  <a href="{% url 'support' %}#backup">{% translate "Optional" %}</a>
                </div>
                <div class="line">
                  <span class="check"></span>
                </div>
                <div class="line">
                  <span class="check"></span>
                </div>
                <div class="line">
                  <span class="check"></span>
                </div>
                <div class="line">
                  <span class="cross"></span>
                </div>
                <div class="line">
                  <span class="check"></span>
                </div>
              </div>
              <div class="col">
                <div class="head line red">
                  <strong>{% translate "Self-hosted" context "Hosting plan" %}</strong>
                  <br />
                  {% translate "Basic support" %}
                </div>
                <div class="line">
                  <span class="cross"></span>
                </div>
                <div class="line">
                  <a href="{% url 'support' %}#install">{% translate "Optional" %}</a>
                </div>
                <div class="line">
                  <span class="cross"></span>
                </div>
                <div class="line">
                  <a href="{% url 'support' %}#backup">{% translate "Optional" %}</a>
                </div>
                <div class="line">
                  <span class="check"></span>
                </div>
                <div class="line">
                  <span class="check"></span>
                </div>
                <div class="line">
                  <span class="check"></span>
                </div>
                <div class="line">
                  <span class="cross"></span>
                </div>
                <div class="line">
                  <span class="check"></span>
                </div>
              </div>
              <div class="col">
                <div class="head line red">
                  <strong>{% translate "Self-hosted" context "Hosting plan" %}</strong>
                  <br />
                  {% translate "Gratis" %}
                </div>
                <div class="line">
                  <span class="cross"></span>
                </div>
                <div class="line">
                  <span class="cross"></span>
                </div>
                <div class="line">
                  <span class="cross"></span>
                </div>
                <div class="line">
                  <a href="{% url 'support' %}#backup">{% translate "Optional" %}</a>
                </div>
                <div class="line">
                  <span class="check"></span>
                </div>
                <div class="line">
                  <span class="check"></span>
                </div>
                <div class="line">
                  <span class="cross"></span>
                </div>
                <div class="line">
                  <span class="cross"></span>
                </div>
                <div class="line">
                  <span class="cross"></span>
                </div>
              </div>
              <div class="clear"></div>
              <div class="pricing-table-tabs">
                <div class="col">
                  <div class="line price">
                    {% translate "From" %}
                    <strong>{{ hosted_package.per_month_cost|price_format }}</strong>
                    {% filter upper %}
                      {% translate "a month" %}
                    {% endfilter %}
                  </div>
                  <div class="line">
                    <a href="#hosted" class="button dedicated-toggle">{% translate "See options" %}</a>
                  </div>
                </div>
                <div class="col">
                  <div class="line price">
                    {% translate "From" %}
                    <strong>{{ dedicated_package.per_month_cost|price_format }}</strong>
                    {% filter upper %}
                      {% translate "a month" %}
                    {% endfilter %}
                  </div>
                  <div class="line">
                    <a href="#hosted" class="button dedicated-toggle dedicated-enable">{% translate "See options" %}</a>
                  </div>
                </div>
                <div class="col">
                  <div class="line price">
                    &nbsp;
                    <strong>{{ basic_support_package.per_month_cost|price_format }}</strong>
                    {% filter upper %}
                      {% translate "a month" %}
                    {% endfilter %}
                  </div>
                  <div class="line">
                    <a href="{% url 'subscription-new' %}?plan=extended" class="button">{% translate "Buy now" %}</a>
                  </div>
                </div>
                <div class="col">
                  <div class="line price">
                    &nbsp;
                    <strong>{{ extended_support_package.per_month_cost|price_format }}</strong>
                    {% filter upper %}
                      {% translate "a month" %}
                    {% endfilter %}
                  </div>
                  <div class="line">
                    <a href="{% url 'subscription-new' %}?plan=basic" class="button">{% translate "Buy now" %}</a>
                  </div>
                </div>
                <div class="col">
                  <div class="line price">
                    &nbsp;
                    <strong>{% translate "Gratis" %}</strong>
                    &nbsp;
                  </div>
                  <div class="line">
                    <a href="{% url 'download' %}" class="button border rev">{% translate "Download" %}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <h2 id="hosted" class="section-title payment-conditions">{% translate "Cloud-hosted Price Options" %}</h2>
        <div class="page-desc small">
          <p class="small">
            {% blocktranslate with contact="mailto:sales@weblate.org" %}Hosted Weblate allows localization without any extra effort, and <strong>premium support</strong> backed by core developers and professional translators. Ask about hosting of larger projects, or let us answer your questions by <a href="{{ contact }}">getting in touch</a>—we are ready to find the perfect solution.{% endblocktranslate %}
          </p>
        </div>
        <div class="page-desc small">
          <p class="small">
            {% blocktranslate %}Cloud hosting prices are based purely on number of strings. All plans include all Weblate features.{% endblocktranslate %}
          </p>
        </div>

        <div class="pricing-table-top">
          {% blocktranslate %}<b>14-day gratis trial</b> included in all cloud plans{% endblocktranslate %}
        </div>
        <div class="pricing-table">
          <div class="pricing-table-left">
            <div class="col">
              <div class="line">
                <span class="middle"><a href="https://docs.weblate.org/en/latest/admin/continuous.html">{% translate "Continuous localization" %}</a></span>
              </div>
              <div class="line">
                <span class="middle"><a href="#strings">{% translate "Hosted strings" %}</a></span>
              </div>
              <div class="line">
                <span class="middle"><a href="https://docs.weblate.org/en/latest/admin/projects.html#project-configuration">{% translate "Translation projects" %}</a></span>
              </div>
              <div class="line">
                <span class="middle"><a href="https://docs.weblate.org/en/latest/admin/projects.html#component-configuration">{% translate "Translation components" %}</a></span>
              </div>
              <div class="line">
                <span class="middle"><a href="https://docs.weblate.org/en/latest/admin/access.html#manage-users">{% translate "Number of translators" %}</a></span>
              </div>
              <div class="line">
                <span class="middle"><a href="#which">{% translate "Dedicated instance" %}</a></span>
              </div>
            </div>
          </div>
          <div class="pricing-table-right pricing-table-right-2">
            <div class="pricing-table-right-inner pricing-table-right-inner-2">
              {% for package in hosting_packages %}
                <div class="col">
                  <div class="head line blue">
                    <strong>{{ package.short_name }}</strong>
                  </div>
                  <div class="line">
                    <span class="check"></span>
                  </div>
                  <div class="line">
                    <strong>{{ package.limit_hosted_strings|intcomma }}</strong>
                  </div>
                  <div class="line">
                    <span class="green">∞</span>
                  </div>
                  <div class="line">
                    <span class="green">∞</span>
                  </div>
                  <div class="line">
                    <span class="green">∞</span>
                  </div>
                  <div class="line">
                    {% if package.can_be_dedicated %}<span class="check"></span>{% endif %}
                  </div>
                </div>
              {% endfor %}
              <div class="col">
                <div class="head line">
                  <strong>{% translate "Custom" context "Hosting plan" %}</strong>
                </div>
                <div class="line">
                  <span class="check"></span>
                </div>
                <div class="line">
                  <span class="green">∞</span>
                </div>
                <div class="line">
                  <span class="green">∞</span>
                </div>
                <div class="line">
                  <span class="green">∞</span>
                </div>
                <div class="line">
                  <span class="green">∞</span>
                </div>
                <div class="line">
                  <span class="check"></span>
                </div>
              </div>
              <div class="clear"></div>
              <div class="pricing-table-tabs-menu">
                <ul>
                  <li class="current" data-tab="monthly">{% translate "Monthly" %}</li>
                  <li data-tab="yearly" id="yearly-pricing">{% translate "Yearly" %}</li>
                </ul>
                <div class="tabs-checkbox">
                  <input type="checkbox" name="dedicated" id="dedicated-checkbox">
                  <label for="dedicated-checkbox">{% translate "Dedicated instance" %}</label>
                </div>
                <div class="tabs-info">
                  {% translate "<strong>Save 20%</strong> with annual subscription!" %}
                </div>
              </div>
              <div class="pricing-table-tabs">
                <div id="monthly" class="tab-content current">
                  {% for package in hosting_packages %}
                    <div class="col">
                      <div class="line price">
                        <strong>{{ package.monthly_price|price_format }}</strong>
                        {% filter upper %}
                          {% translate "Monthly" %}
                        {% endfilter %}
                      </div>
                      <div class="line">
                        <a href="https://hosted.weblate.org/trial/" class="button">{% translate "Gratis trial" %}</a>
                      </div>
                      <div class="line last"></div>
                    </div>
                  {% endfor %}
                  <div class="col">
                    <div class="line price small">
                      {% blocktranslate %}<b>Ask</b> for options{% endblocktranslate %}
                    </div>
                    <div class="line">
                      <a href="mailto:sales@weblate.org" class="button">{% translate "Contact us" %}</a>
                    </div>
                    <div class="line last"></div>
                  </div>
                </div>
                <div id="yearly" class="tab-content">
                  {% for package in hosting_packages %}
                    <div class="col">
                      <div class="line price">
                        <strong>{{ package.price|price_format }}</strong>
                        {% filter upper %}
                          {% translate "Yearly" %}
                        {% endfilter %}
                      </div>
                      <div class="line">
                        <a href="https://hosted.weblate.org/trial/" class="button">{% translate "Gratis trial" %}</a>
                      </div>
                      <div class="line last"></div>
                    </div>
                  {% endfor %}
                  <div class="col">
                    <div class="line price small">
                      {% blocktranslate %}<b>Ask</b> for options{% endblocktranslate %}
                    </div>
                    <div class="line">
                      <a href="mailto:sales@weblate.org" class="button">{% translate "Contact us" %}</a>
                    </div>
                    <div class="line last"></div>
                  </div>
                </div>
                <div id="dedicated" class="tab-content">
                  {% for package in hosting_packages %}
                    {% if not package.can_be_dedicated %}
                      <div class="col">
                        <div class="line price small"></div>
                        <div class="line last"></div>
                      </div>
                    {% else %}
                      <div class="col">
                        <div class="line price">
                          <strong>{{ package.price|price_format }}</strong>
                          {% filter upper %}
                            {% translate "Yearly" %}
                          {% endfilter %}
                        </div>
                        <div class="line">
                          <a href="{% url 'subscription-new' %}?plan=dedicated:160k" class="button">{% translate "Buy now" %}</a>
                        </div>
                        <div class="line last"></div>
                      </div>
                    {% endif %}
                  {% endfor %}
                  <div class="col">
                    <div class="line price small">
                      {% blocktranslate %}<b>Ask</b> for options{% endblocktranslate %}
                    </div>
                    <div class="line">
                      <a href="mailto:sales@weblate.org" class="button">{% translate "Contact us" %}</a>
                    </div>
                    <div class="line last"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h2 class="section-title crypto payment-conditions">{% translate "Payment" %}</h2>
        <div class="page-desc small">{% include "snippets/vat.html" %}</div>
        <h2 class="section-title crypto payment-conditions" id="strings">{% translate "Hosted strings" %}</h2>
        <div class="page-desc small">
          <p>
            {% translate "Pricing is based on the number of strings in all used languages. A string is a text unit defined in a translation format. It can be a word, sentence, or paragraph." %}
          </p>
        </div>

        <div class="libre-hosting" id="libre">
          <h2>{% translate "Weblate proudly supports libre projects" %}</h2>
          <p>
            {% blocktranslate with url="https://hosted.weblate.org/hosting/" %}If you feel that being supported by Weblate will help your libre project, <a href="{{ url }}">set it up</a> and get the <strong>Libre plan</strong> gratis.{% endblocktranslate %}
            {% blocktranslate %}It has the same limits as the <strong>160k plan</strong>, and is only for public projects.{% endblocktranslate %}
          </p>
        </div>

        <div class="wrap supporters">
          <h2 class="section-title hp-style">{% translate "Join existing users and supporters" %}</h2>
          {% include "snippets/users.html" %}
        </div>
      </div>
    </div>
  </section>

  {% include "snippets/bottom.html" %}
  {% include "snippets/about.html" %}
{% endblock content %}
