{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load timestamps %}

{% block title %}{% trans "Weblate - web-based localization" %}{% endblock %}
{% block description %}
{% endblock %}

{% block body_class %}{% endblock %}

{% block box %}
    <section class="main-box">
    	<div class="row">
            <div class="box">
            	<h1>{% trans "Web-based <strong>continuous</strong> localization system" %}</h1>
                <p>{% blocktrans with projects=1150 countries=115 %}Weblate is a libre software web-based continuous localization system used by over {{projects}}+ opensource projects &amp; companies in over {{countries}}+ countries around the World.{% endblocktrans %}</p>
            	<a href="https://hosted.weblate.org/" class="button inline">{% trans "Try Weblate" %}</a>
                <div class="inline-info"><a href="{% url 'features' %}">or see all features</a></div>
            </div>
    	</div>
    </section>
{% endblock %}

{% block content %}
	<section class="content">
    	<div class="row">
            <div class="wrap supporters">
                <h2 class="section-title">{% trans "Users & Supporters" %}</h2>
                {% include "snippets/users.html" %}
            </div>            
            <div class="wrap countries">
            	<div class="half half-text">
                	<div class="countries-number">115+ Countries</div>
                	<h2>{% trans "Weblate translates the world of software applications" %}</h2>
                    <p>{% trans "Weblate is a libre web-based localization tool with tight version control integration. It features simple and clean user interface, propagation of translations across components, quality checks and automatic linking to source files." %}</p>
                </div>
            	<div class="half half-translations">
                    {% for change in changes %}
                	<div class="trans-item">
                        <div class="trans-title">{% blocktrans count count=change.recent_changes with when=change.last_change|recently %}{{ count }} translation {{ when }}{% plural %}{{ count }} translations {{ when }}{% endblocktrans %}</div>
                        <div class="trans-project">project <a href="{{ change.url }}">{{ change.name }}</a></div>
                    </div>
                    {% endfor %}
                	<div class="trans-bottom">
                        <div class="trans-number">{% blocktrans count intcount=activity_sum with count=activity_sum|intcomma  %}{{ count }} translation{% plural %}{{ count }} translations{% endblocktrans %}</div>
                        <div class="trans-days">{% trans "in last 7 days" %}</div>
                    </div>
                </div>
            </div>    
            <div class="clear"></div>        
			<div class="wrap features">
                <h2 class="section-title hp-style">{% trans "Robust set of features" %}</h2>
                {% include "snippets/features-1.html" %}
                {% include "snippets/features-2.html" %}
            	<a href="{% url 'hosting' %}" class="button inline">{% trans "See pricing" %}</a>
                <div class="inline-info"><a href="{% url 'features' %}">or explore complete features</a></div>
            </div>            
    	</div>
    </section>
    {% include "snippets/pricing.html" %}
    {% include "snippets/bottom.html" with extra_css="hp" %}
{% endblock %}
