{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Weblate - web-based localization" %}{% endblock %}
{% block description %}
{% endblock %}

{% block body_class %}{% endblock %}

{% block box %}
    <section class="main-box">
    	<div class="row">
            <div class="box">
            	<h1>{% trans "Web-based <strong>continuous</strong> localization system" %}</h1>
                <p>{% blocktrans with projects=1150 countries=115 %}Weblate is a libre software web-based continuous localization system used by over {{projects}}+ opensource projects &amp; companies in over {{countries}}+ countries around the World.{% endblocktrans %}</p>
            	<a href="https://hosted.weblate.org/" class="button inline">{% trans "Try Weblate" %}</a>
                <div class="inline-info"><a href="{% url 'features' %}">or see all features</a></div>
            </div>
    	</div>
    </section>
{% endblock %}

{% block content %}
	<section class="content">
    	<div class="row">
            <div class="wrap supporters">
                <h2 class="section-title">{% trans "Users & Supporters" %}</h2>
                <a href="#"><img src="{% static "img/logo-turris.svg" %}" alt="#" /></a>
                <a href="#"><img src="{% static "img/logo-pi.svg" %}" alt="#" /></a>
                <a href="#"><img src="{% static "img/logo-opensuse.svg" %}" alt="#" /></a>
                <a href="#"><img src="{% static "img/logo-pma.svg" %}" alt="#" /></a>
                <a href="#"><img src="{% static "img/logo-freedombox.svg" %}" alt="#" /></a>
                <div class="clear"></div>
                <a href="https://hosted.weblate.org/projects/" class="button border small green inline">{% trans "See all projects" %}</a>
            </div>            
            <div class="wrap countries">
            	<div class="half half-text">
                	<div class="countries-number">115+ Countries</div>
                	<h2>{% trans "Weblate translates the world of software applications" %}</h2>
                    <p>{% trans "Weblate is a libre web-based localization tool with tight version control integration. It features simple and clean user interface, propagation of translations across components, quality checks and automatic linking to source files." %}</p>
                </div>
                <!-- TODO: content -->
            	<div class="half half-translations">
                	<div class="trans-item">
                        <div class="trans-title">12 strings translated just recently</div>
                        <div class="trans-project">project <span>opensuse</span></div>
                    </div>
                	<div class="trans-item">
                        <div class="trans-title">3 strings translated recently</div>
                        <div class="trans-project">project <span>opensuse</span></div>
                    </div>
                	<div class="trans-item">
                        <div class="trans-title">37 strings translated recently</div>
                        <div class="trans-project">project <span>turris</span></div>
                    </div>
                	<div class="trans-item">
                        <div class="trans-title">9 strings translated just recently</div>
                        <div class="trans-project">project <span>php my admin</span></div>
                    </div>
                	<div class="trans-item">
                        <div class="trans-title">12 strings translated just recently</div>
                        <div class="trans-project">project <span>opensuse</span></div>
                    </div>
                	<div class="trans-item">
                        <div class="trans-title">12 strings translated just recently</div>
                        <div class="trans-project">project <span>opensuse</span></div>
                    </div>
                	<div class="trans-item">
                        <div class="trans-title">3 strings translated recently</div>
                        <div class="trans-project">project <span>opensuse</span></div>
                    </div>
                	<div class="trans-item">
                        <div class="trans-title">37 strings translated recently</div>
                        <div class="trans-project">project <span>turris</span></div>
                    </div>
                	<div class="trans-item">
                        <div class="trans-title">9 strings translated just recently</div>
                        <div class="trans-project">project <span>php my admin</span></div>
                    </div>
                	<div class="trans-item">
                        <div class="trans-title">12 strings translated just recently</div>
                        <div class="trans-project">project <span>opensuse</span></div>
                    </div>
                	<div class="trans-bottom">
                        <div class="trans-number">1.328 translations</div>
                        <div class="trans-days">in last 7 days</div>
                    </div>
                </div>
            </div>    
            <div class="clear"></div>        
			<div class="wrap features">
                <h2 class="section-title">{% trans "Robust set of features" %}</h2>
                {% include "snippets/features-1.html" %}
                {% include "snippets/features-2.html" %}
            	<a href="{% url 'hosting' %}" class="button inline">{% trans "See pricing" %}</a>
                <div class="inline-info"><a href="{% url 'features' %}">or explore complete features</a></div>
            </div>            
    	</div>
    </section>
    {% include "snippets/pricing.html" %}
    <section class="bottom hp">
    	<div class="row">
            <div class="box join">
            	<div class="title">{% trans "<strong>Join the community</strong> & contribute by development" %}</div>
                <p>{% trans "Weblate is a platform for one of the most positive and empowering communities of open source software. We learn and grow together and we connect the world" %}.</p>
                <a href="#" class="button">{% trans "Contribute with us" %}</a>
            </div>
            <div class="box donate">
            	<div class="title">{% trans "<strong>Donate</strong> — to change the World to become a better place" %}</div>
                <p>{% trans "Give yourself a happy moment. Help us build Weblate by small or bigger donation. We would use the funds wisely on hosting and manpower. Drive the change." %}</p>
                <a href="#" class="button">{% trans "Donations welcome" %}</a>
            </div>
    	</div>
    </section>

{% endblock %}
