{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
  <section class="content">
    <div class="row">
      <div class="wrap">
        <h1 class="section-title min-m">
          {% block title %}
            {% trans "Privacy Policy" %}
          {% endblock %}

        </h1>
        <div class="page-desc">
          <p>
            {% block description %}
              {% trans "The legal documents necessary to offer our services." %}
            {% endblock %}

            {% trans "The Privacy Policy document is legally-binding in English, translations are provided for your convenience." %}
          </p>
          {% if LANGUAGE_CODE != "en" %}
            <a href="https://weblate.org/en/privacy/" class="button inline">{% trans "View English version" %}</a>
          {% endif %}
          <a href="{% static "Weblate_Privacy_Policy.pdf" %}" class="button inline">{% trans "Download as PDF" %}</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="wrap">
        <div class="tos">{% include "legal/documents/privacy.html" with hide_english=True terms_url="/privacy/" %}</div>
      </div>
    </div>
  </section>
{% endblock %}
