{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Weblate support" %}{% endblock %}
{% block header %}{% trans "Weblate support" %}{% endblock %}
{% block description %}
{% block headline %}{% blocktrans %}Weblate is copylefted libre software with community support. Cloud hosted Weblate subscribers receive priority support at no extra charge. All other users can prepay for ad-hoc help packages.{% endblocktrans %}{% endblock %}
{% endblock %}

{% block extrajumbo %}
<p>
<a class="btn btn-info btn-lg" href="https://github.com/WeblateOrg/weblate/issues/new/choose" role="button"><i class="fas fa-bug"></i> {% trans "Report issue" %}</a>
</p>
{% endblock %}
{% block body_class %}page gethelp light{% endblock %}

{% block content %}
<section class="content">
    <div class="row">
        <div class="wrap">
            <h1 class="section-title min-m">{% trans "Get help" %}</h1>
            <div class="page-desc">
                <p>{% trans "Weblate is a copylefted libre software with community support. Hosted Weblate Cloud subscribers receive priority support at no extra charge. Other users can prepay for ad-hoc help packages." %}</p>
                <a href="https://github.com/WeblateOrg/weblate/issues/new/choose" class="button inline">{% trans "Report issue" %}</a>
            </div>
            
            <div class="help-cols">
                <div class="col">
                    <div class="icon"><img src="{% static "img/icon-bugs.svg" %}" alt="#" /></div>
                    <div class="content">
                        <div class="title">{% trans "Bugs and feature requests" %}</div>
                        <p>{% blocktrans with url="https://github.com/WeblateOrg/weblate/issues" %}Issues and ideas for improvement can be reported to the <a href="{{ url }}">issue tracker</a>.{% endblocktrans %}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="icon"><img src="{% static "img/icon-issues.svg" %}" alt="#" /></div>
                    <div class="content">
                        <div class="title">{% trans "Security issues" %}</div>
                        <p>{% blocktrans with url="https://docs.weblate.org/en/latest/contributing.html#security" report='<a href="https://hackerone.com/weblate">HackerOne</a>' %}Should you find a security issue in the Weblate codebase, please report it to {{ report }}. More info on how to report security issues to be found in the <a href="{{ url }}">documentation</a>.{% endblocktrans %}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="icon"><img src="{% static "img/icon-subscribers.svg" %}" alt="#" /></div>
                    <div class="content">
                        <div class="title">{% trans "Support for Weblate Cloud subscribers" %}</div>
                        <p>{% blocktrans with email="support@weblate.org" %}As a Hosted Cloud service user, you can get support at <a href="mailto:{{ email }}">{{ email }}</a>.{% endblocktrans %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content no-mar crypto">
    <div class="row">
        <h2 class="section-title crypto">{% trans "Ad-Hoc support for gratis and self hosted installations" %}</h2>
        
        <div class="installations">
            <div class="box">
                <div class="icon"><img src="{% static "img/linux.png" %}" alt="#" /></div>
                <h2>{% trans "Installation on your Linux server" %}</h2>
                <ul>
                    <li>{% trans "One-time installation of Weblate" %}</li>
                    <li>{% trans "Installation using virtualenv, uWSGI and NGINX" %}</li>
                    <li>{% trans "Using PostgreSQL as database backend" %}</li>
                    <li>{% trans "Requires root access or close cooperation of your admins" %}</li>
                    <li>{% trans "Setup customization" %}</li>
                    <li>{% trans "Does not include custom code development" %}</li>
                </ul>
                <a class="format-item">€300<span>{% trans "installation" %}</span></a>              
            </div>
            <div class="box">
                <div class="icon"><img src="{% static "img/docker.png" %}" alt="#" /></div>
                <h2>{% trans "Installation using Docker on your Linux server" %}</h2>
                <ul>
                    <li>{% trans "One-time installation of Weblate" %}</li>
                    <li>{% trans "Installation using Docker" %}</li>
                    <li>{% trans "Requires root access or close cooperation of your admins" %}</li>
                    <li>{% trans "Setup customization" %}</li>
                    <li>{% trans "Does not include custom code development" %}</li>
                </ul>
                <a class="format-item">€200<span>{% trans "installation" %}</span></a>              
            </div>
            <div class="box">
                <div class="icon"><img src="{% static "img/logo.svg" %}" alt="#" /></div>
                <h2>{% trans "Basic support for self hosted Weblate" %}</h2>
                <ul>
                    <li>{% trans "We will fix issues that occur in your environment." %}</li>
                    <li>{% trans "You receive priority email support." %}</li>
                </ul>
                <a class="format-item">€500<span>{% trans "anually" %}</span></a>              
            </div>
            <div class="box">
                <div class="icon"><img src="{% static "img/logo.svg" %}" alt="#" /></div>
                <h2>{% trans "Extended support for self hosted Weblate" %}</h2>
                <ul>
                    <li>{% trans "Your Weblate platform will always be upgraded to the latest version." %}</li>
                    <li>{% trans "We will fix issues that occur in your environment." %}</li>
                    <li>{% trans "You receive priority email support." %}</li>
                </ul>
                <a class="format-item">€750<span>{% trans "anually" %}</span></a>              
            </div>
            <div class="box">
                <div class="icon"><img src="{% static "img/icon-call.svg" %}" alt="#" /></div>
                <h2>{% trans "Consulting services or custom development" %}</h2>
                <ul>
                    <li>{% trans "Development of custom features" %}</li>
                    <li>{% trans "Integration of Weblate into your workflow" %}</li>
                    <li>{% trans "Suggestions on the internationalization and localization" %}</li>
                </ul>
                <a class="format-item">€50<span>{% trans "hourly" %}</span></a>              
            </div>
            <a href="mailto:support@weblate.org" class="button center">{% trans "Ask for help" %}</a>
        </div>
        <h2 class="section-title crypto payment-conditions">{% trans "Payment" %}</h2>
        <div class="page-desc small">
            {% include "snippets/vat.html" %}
        </div>

        <div class="wrap mailing">
            <h2 class="section-title bigger">{% trans "Mailing lists" %}</h2>
            <div class="box">
                <div class="title">{% trans "Users and developers" %}</div>
                <form class="mailing" action="{% url 'subscribe' name='users' %}" method="post">
                    {% csrf_token %}
                    <label>{% trans "Email" %}</label>
                    <input type="email" name="email" class="mailing-text" placeholder="{% trans "Your email address…" %}" />
                    <input type="submit" class="mailing-submit" value="{% trans "Subscribe" %}" />
                </form>
                <ul>
                    <li>{% trans "Discuss matters with other Weblate users and developers" %}</li>
                    <li>{% blocktrans with address="weblate@lists.cihar.com" %}Post to the list using the <a href="mailto:{{ address }}">{{ address }}</a> address{% endblocktrans %}</li>
                    <li>{% blocktrans with url="https://lists.cihar.com/hyperkitty/list/weblate@lists.cihar.com/" %}Browse the <a href="{{ url }}">mailing list archives</a> to find answers{% endblocktrans %}</li>
                </ul>
            </div>
            <div class="box">
                <div class="title">{% trans "Weblate Cloud announcements" %}</div>
                <form class="mailing" action="{% url 'subscribe' name='hosted' %}" method="post">
                    {% csrf_token %}
                    <label>{% trans "Email" %}</label>
                    <input type="email" name="email" class="mailing-text" placeholder="{% trans "Your email address…" %}" />
                    <input type="submit" class="mailing-submit" value="{% trans "Subscribe" %}" />
                </form>
                <ul>
                    <li>{% trans "<strong>Low traffic</strong> mailing list announcing premium Weblate services" %}</li>
                    <li>{% trans "Moderated list—only select users can post announcements" %}</li>
                    <li>{% blocktrans with url="https://lists.cihar.com/hyperkitty/list/hosted-weblate-announce@lists.cihar.com/" %}Browse the <a href="{{ url }}">mailing list archives</a> to find answers{% endblocktrans %}</li>
                </ul>
            </div>
        </div>
        
        <div class="stack-overflow">
            {% blocktrans with "https://stackoverflow.com/tags/weblate/info" as url %}Pose questions on <a href="{{ url }}">Stack Overflow</a>.{% endblocktrans %}
        </div>
        
    </div>
</section>
{% include "snippets/bottom.html" %}
{% endblock %}
