{% extends "base.html" %}
{% load i18n %}

{% block content %}
<section class="content">
    <div class="row">
        <div class="wrap">
            <h1 class="section-title min-m">{% block title %}{% trans "Terms and Privacy" %}{% endblock %}</h1>
            <div class="page-desc">
                <p>
                    {% block description %}{% trans "The legal documents necessary to offer this service." %}{% endblock %}
                    {% trans "The Terms of Service document is authoritative in English, translations are provided for your convenience." %}
                </p>
                {% if LANGUAGE_CODE != "en" %}
                  <a href="https://weblate.org/en/terms/" class="button inline">{% trans "View English version" %}</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="wrap">
            <h2 class="section-title">{% trans "Terms of Service" %}</h2>
            <div class="tos">
            {% include "legal/documents/tos.html" with hide_english=True privacy_url="#privacy" %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="wrap">
            <h2 class="section-title" id="privacy">{% trans "Privacy Policy" %}</h2>
            <div class="tos">
            {% include "legal/documents/privacy.html" %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
