{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load date_diff %}
{% block title %}{% trans "User profile at Weblate" %}{% endblock %}

{% block content %}


<section class="content">
    <div class="row">
        <div class="wrap">
            {% with services=user.service_set.all %}
            {% if services %}
            <div class="updated-service-title">
              <h1>
                {% trans "My services" %}
              </h1>
              <div class="page-desc">
                  <a href="{% url 'logout' %}" class="button inline">{% trans "Support portal" %}</a>
                  <a href="https://hosted.weblate.org/accounts/profile/" class="button inline border rev" target="_blank">{% trans "See user profile" %}</a>
              </div>
            </div>
            {% for service in services %}
            {% include "snippets/service.html" %}
            {% endfor %}
            {% endif %}
            {% endwith %}

            <h1>{% trans "My donations" %}</h1>

            {% for donation in user.donation_set.all %}
            <div class="payment-form payment-padding">
                <div class="form-line donation-left-line">
                    <div class="line-left get-reward-left-line">{{ donation.get_reward_display }}</div>
                    {% if donation.reward %}
                      <div class="reward-line-right">{% trans "Your reward" %}</div>
                    {% endif %}
                </div>
                <div class="form-line custom-gradient"></div>
                <div class="inner-content">
                    <div class="inner-content-child-width">
                {% if donation.link_url %}
                <div class="form-line user-text-formatting">
                    <div class="line-left">{% trans "Link" %}</div>
                    <div class="line-right user-text-formatting-donation">{{ donation.link_url }}</div>
                    <div class="clear"></div>
                </div>
                {% endif %}
                <div class="form-line user-text-formatting">
                    <div class="line-left">{% trans "Active" %}</div>
                    <div class="line-right user-text-formatting-donation">{{ donation.expires|date:"d M Y"  }}<em>—</em><span>{{ donation.created|date:"d M Y"  }}</span>
                        {% with days_from_today_donation=donation.expires|days_diff_from_today %}
                        {% if days_from_today_donation < 30 %}
                        {% if days_from_today_donation < 2 and days_from_today_donation >= 0 %}
                        <t class="orange">{{ days_from_today_donation}} {% trans "day remaining" %}</t>
                        {% elif days_from_today_donation < 0  %}
                        <t class="pl-1 orange">{% trans "Expired" %}</t>
                        {% else %}
                        <t class="orange">{{ days_from_today_donation}} {% trans "days remaining" %}</t>
                        {% endif %}
                        {% else %}
                        <t class="grey">{{ days_from_today_donation}} {% trans "days remaining" %}</t>
                        {% endif %}
                        {% endwith %}
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="form-line user-text-formatting">
                    <div class="line-left">
                        {% if not donation.active %}
                        {% trans "Expired" %}
                        {% elif donation.payment_obj.recurring %}
                        {% trans "Automatic renewal" %}
                        {% else %}
                        {% trans "No renewal" %}
                        {% endif %}
                    </div>

                    <div class="line-right user-text-formatting-donation">
                        <form class="form-inline" method="post" action="{% url "donate-pay" pk=donation.pk %}">
                        {% csrf_token %}
                        <input type="submit" class="button button-med-140 inline" value="{% trans "Renew now" %}">
                        </form>
                        {% if donation.active and donation.payment_obj.recurring %}
                        <form class="form-inline" method="post" action="{% url "donate-disable" pk=donation.pk %}">
                        {% csrf_token %}
                        <input type="submit" class="button button-med-140 inline border rev" value="{% trans "Turn off renewal" %}">
                        </form>
                        {% endif %}
                    </div>
                    <div class="clear"></div>
                </div>
                    </div>
            <div class="inner-content-child-width-auto">
                <img src="{% static "img/donations-picture.png" %}" alt="Puppy">
            </div>
            </div>
            <div class="payment-updated">
            <div class="form-line user-text-formatting user-text-formatting-payment">
                <div class="line-left">{% trans "Payments" %}</div>
                <div class="line-right ">
                {% for payment in donation.list_payments %}
                {% include "snippets/payment.html" %}
                {% endfor %}
                </div>
                </div>
            </div>
            </div>
            {% empty %}

                <div class="payment-form-donationbox">

                    <div class="line-right-donationbox">{% trans "Wanna see a nice message here?" %}</div>

                <a class="button" href="{% url "donate" %}">{% trans "Donate now" %}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
