{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "User profile at Weblate" %}{% endblock %}

{% block content %}
<section class="content">
    <div class="row">
        <div class="wrap">
            <h1 class="section-title min-m">{% trans "User profile" %}</h1>
            <div class="page-desc">
                <a href="{% url 'logout' %}" class="button inline">{% trans "Log out" %}</a>
                <a href="https://hosted.weblate.org/" class="button inline border rev">{% trans "Use Weblate" %}</a>
            </div>
            <h1>{% trans "Your donations" %}</h1>

            {% for donation in user.donation_set.all %}
            <div class="payment-form">
                <div class="form-line">
                    <div class="line-left">{% trans "Creation date" %}</div>
                    <div class="line-right">{{ donation.created }}</div>
                    <div class="clear"></div>
                </div>
                <div class="form-line">
                    <div class="line-left">{% trans "Reward" %}</div>
                    <div class="line-right">{{ donation.get_reward_new_display }}</div>
                    <div class="clear"></div>
                </div>
                <div class="form-line">
                    <div class="line-left">{% trans "Expiry date" %}</div>
                    <div class="line-right">{{ donation.expires }}</div>
                    <div class="clear"></div>
                </div>
                <div class="form-line">
                    <div class="line-left">{% trans "State" %}</div>
                    <div class="line-right">
                        {% if not donation.active %}
                        {% trans "Expired" %}
                        {% elif donation.payment_obj.recurring %}
                        {% trans "Automatic renewal" %}
                        {% else %}
                        {% trans "No renewal" %}
                        {% endif %}
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="form-line">
                    <div class="line-left">{% trans "Payments" %}</div>
                    <div class="line-right">
                    {% for payment in donation.list_payments %}
                    <p>
                    €{{ payment.amount }}
                    {% if payment.state == 5 %} 
                    ({{ payment.invoice }})
                    {% if payment.invoice_filename_valid %}
                    <a class="button small inline" href="{% url 'donate-invoice' pk=payment.pk %}">{% trans "Download invoice" %}</a>
                    {% else %}
                    ({{ payment.invoice_filename }})
                    {% endif %}
                    {% else %}
                    {{ payment.get_state_display }}
                    {% if payment.details.reject_reason %}
                    ({{ payment.details.reject_reason }})
                    {% endif %}
                    {% endif %}
                    </p>
                    {% endfor %}
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="payment-pick">
                </div>
                {% if donation.reward_new %}
                <a class="button small inline" href="{% url "donate-edit" pk=donation.pk %}">{% trans "Edit reward" %}</a>
                {% endif %}
                {% if donation.active and donation.payment_obj.recurring %}
                <form class="form-inline" method="post" action="{% url "donate-disable" pk=donation.pk %}">
                {% csrf_token %}
                <input type="submit" class="button small inline" value="{% trans "Turn off renewal" %}">
                </form>
                {% endif %}
            </div>
            {% empty %}
            <div class="payment-form">
                <div class="form-line">
                    <div class="line-right">{% trans "Donate to see a nice message here." %}</div>
                    <div class="clear"></div>
                </div>
                <div class="payment-pick">
                </div>
                <a class="button center" href="{% url "donate" %}">{% trans "Donate" %}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
