{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "User profile at Weblate" %}{% endblock %}

{% block content %}
<section class="content">
    <div class="row">
        <div class="wrap">
            <h1 class="section-title min-m">{% trans "User profile" %}</h1>
            <div class="page-desc">
                <a href="{% url 'logout' %}" class="button inline">{% trans "Log out" %}</a>
                <a href="https://hosted.weblate.org/" class="button inline border rev" target="_blank">{% trans "Use Weblate" %}</a>
            </div>
            {% with services=user.service_set.all %}
            {% if services %}
            <h1>{% trans "Your services" %}</h1>
            {% for service in services %}
            <div class="payment-form">
                <div class="form-line">
                    <div class="line-left">{% trans "Status" %}</div>
                    <div class="line-right">
                        {{ service.get_status_display }}
                        {% if not service.check_in_limits %}
                        <div class="alert error">
                        {% trans "Exceeds selected service offering." %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="form-line">
                    <div class="line-left">{% trans "Activation token" %}</div>
                    <div class="line-right">
                        <input value="{{ service.secret }}" readonly class="fullwidth"><br />
                        <a class="button small inline" data-clipboard-text="{{ service.secret }}">{% trans "Copy" %}</a>
                        <form class="form-inline" method="post" action="{% url "service-token" pk=service.pk %}">
                        {% csrf_token %}
                        <input type="submit" class="button small inline border rev" value="{% trans "Regenerate" %}">
                        </form>
                    </div>
                    <div class="clear"></div>
                </div>
                {% if service.backup_repository %}
                <div class="form-line">
                    <div class="line-left">{% trans "Backup repository" %}</div>
                    <div class="line-right">
                        <input value="{{ service.backup_repository }}" readonly class="fullwidth"><br />
                        <a class="button small inline" data-clipboard-text="{{ service.backup_repository }}">{% trans "Copy" %}</a>
                        <a class="button small inline border rev" href="https://docs.weblate.org/en/latest/admin/backup.html#cloudbackup">{% trans "Documentation" %}</a>
                    </div>
                    <div class="clear"></div>
                </div>
                {% endif %}
                <div class="form-line">
                    <div class="line-left">{% trans "Server URL" %}</div>
                    <div class="line-right">
                {% if service.last_report %}
                        <a class="link" href="{{ service.last_report.site_url }}">{{ service.last_report.site_title|default:"Weblate" }}</a>
                {% else %}
                        <p class="text-muted">
                            {% trans "Use an activation token to connect your Weblate installation to the support portal. This step is optional, you can use support services without it as well." %}
                            <a href="https://docs.weblate.org/en/latest/admin/support.html">{% trans "See documentation on subscription management." %}</a>
                        </p>
                {% endif %}
                    </div>
                    <div class="clear"></div>
                </div>
                {% with subscriptions=service.subscription_set.all %}
                {% for subscription in subscriptions %}
                    <div class="form-line">
                        <div class="line-left">{% trans "Subscription" %}</div>
                        <div class="line-right"><strong>{{ subscription.get_package_display }}</strong></div>
                        <div class="clear"></div>
                    </div>
                    {% if subscription.get_repeat %}
                    <div class="form-line">
                        <div class="line-left">{% trans "Validity" %}</div>
                        <div class="line-right">{% blocktrans with created=subscription.created expires=subscription.expires context "Date range" %}{{ created }}–{{ expires }}{% endblocktrans %}</div>
                        <div class="clear"></div>
                    </div>
                    {% else %}
                    <div class="form-line">
                        <div class="line-left">{% trans "Creation date" %}</div>
                        <div class="line-right">{{ subscription.created }}</div>
                        <div class="clear"></div>
                    </div>
                    {% endif %}
                    {% if subscription.get_repeat %}
                    <div class="form-line">
                        <div class="line-left">{% trans "State" %}</div>
                        <div class="line-right">
                            {% if not subscription.active %}
                            {% trans "Expired" %}
                            {% elif subscription.payment_obj.recurring %}
                            {% trans "Automatic renewal" %}<br />
                            {% else %}
                            {% trans "No renewal" %}
                            {% endif %}
                            <form class="form-inline" method="post" action="{% url "subscription-pay" pk=subscription.pk %}">
                            {% csrf_token %}
                            <input type="submit" class="button small inline" value="{% trans "Renew now" %}">
                            </form>
                            {% if subscription.payment_obj.recurring %}
                            <form class="form-inline" method="post" action="{% url "subscription-disable" pk=subscription.pk %}">
                            {% csrf_token %}
                            <input type="submit" class="button small inline border rev" value="{% trans "Turn off renewal" %}">
                            </form>
                            {% endif %}
                        </div>
                        <div class="clear"></div>
                    </div>
                    {% endif %}
                {% endfor %}
                <div class="form-line">
                    <div class="line-left">{% trans "Payments" %}</div>
                    <div class="line-right">
                    {% for subscription in subscriptions %}
                        {% for payment in subscription.list_payments %}
                        <p>
                        €{{ payment.amount }}
                        {% if payment.state == 5 %} 
                        ({{ payment.invoice }})
                        {% if payment.invoice_filename_valid %}
                        <a class="button small inline" href="{% url 'user-invoice' pk=payment.pk %}">{% trans "Download invoice" %}</a>
                        {% else %}
                        ({{ payment.invoice_filename }})
                        {% endif %}
                        {% else %}
                        {{ payment.get_state_display }}
                        {% if payment.details.reject_reason %}
                        ({{ payment.details.reject_reason }})
                        {% endif %}
                        {% endif %}
                        </p>
                        {% endfor %}
                    {% endfor %}
                    </div>
                    <div class="clear"></div>
                </div>
                {% endwith %}
                <div class="form-line">
                    <div class="line-left">{% trans "Users" %}</div>
                    <div class="line-right">
                    {% for owner in service.users.all %}
                    <form method="post" action="{% url 'service-user' pk=service.pk %}">
                    {{ owner.last_name }} &lt;{{ owner.email }}&gt;
                    {% csrf_token %}
                    {% if owner != user %}
                    <input type="hidden" name="email" value="{{ owner.email }}" />
                    <input type="submit" class="button small inline border rev" name="remove" value="{% trans "Remove" %}" />
                    {% endif %}
                    </form>
                    {% endfor %}
                    <form method="post" action="{% url 'service-user' pk=service.pk %}">
                    {% csrf_token %}
                    <input type="email" placeholder="{% trans "E-mail" %}" name="email" />
                    <input type="submit" class="button small inline" value="{% trans "Add" %}" />
                    </form>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="form-line">
                    <div class="line-left">{% trans "Get more services" %}</div>
                    <div class="line-right">
                        {% for package, name in service.get_suggestions %}
                        <a class="button small inline" href="{% url 'subscription-new' %}?plan={{ package }}&amp;service={{ service.pk }}">{{ name }}</a>
                        {% empty %}
                        {% trans "Congratulations, your Weblate instance is fully covered." %}
                        {% endfor %}
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <h1>{% trans "Your donations" %}</h1>

            {% for donation in user.donation_set.all %}
            <div class="payment-form">
                <div class="form-line">
                    <div class="line-left">{% trans "Creation date" %}</div>
                    <div class="line-right">{{ donation.created }}</div>
                    <div class="clear"></div>
                </div>
                <div class="form-line">
                    <div class="line-left">{% trans "Reward" %}</div>
                    <div class="line-right">{{ donation.get_reward_display }}</div>
                    <div class="clear"></div>
                </div>
                {% if donation.link_url %}
                <div class="form-line">
                    <div class="line-left">{% trans "Link URL" %}</div>
                    <div class="line-right">{{ donation.link_url }}</div>
                    <div class="clear"></div>
                </div>
                {% endif %}
                <div class="form-line">
                    <div class="line-left">{% trans "Expiry date" %}</div>
                    <div class="line-right">{{ donation.expires }}</div>
                    <div class="clear"></div>
                </div>
                <div class="form-line">
                    <div class="line-left">{% trans "State" %}</div>
                    <div class="line-right">
                        {% if not donation.active %}
                        {% trans "Expired" %}
                        {% elif donation.payment_obj.recurring %}
                        {% trans "Automatic renewal" %}
                        {% else %}
                        {% trans "No renewal" %}
                        {% endif %}
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="form-line">
                    <div class="line-left">{% trans "Payments" %}</div>
                    <div class="line-right">
                    {% for payment in donation.list_payments %}
                    <p>
                    €{{ payment.amount }}
                    {% if payment.state == 5 %} 
                    ({{ payment.invoice }})
                    {% if payment.invoice_filename_valid %}
                    <a class="button small inline" href="{% url 'user-invoice' pk=payment.pk %}">{% trans "Download invoice" %}</a>
                    {% else %}
                    ({{ payment.invoice_filename }})
                    {% endif %}
                    {% else %}
                    {{ payment.get_state_display }}
                    {% if payment.details.reject_reason %}
                    ({{ payment.details.reject_reason }})
                    {% endif %}
                    {% endif %}
                    </p>
                    {% endfor %}
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="payment-pick">
                </div>
                {% if donation.reward %}
                <a class="button small inline" href="{% url "donate-edit" pk=donation.pk %}">{% trans "Edit reward" %}</a>
                {% endif %}
                {% if donation.active and donation.payment_obj.recurring %}
                <form class="form-inline" method="post" action="{% url "donate-disable" pk=donation.pk %}">
                {% csrf_token %}
                <input type="submit" class="button small inline" value="{% trans "Turn off renewal" %}">
                </form>
                {% endif %}
            </div>
            {% empty %}
            <div class="payment-form">
                <div class="form-line">
                    <div class="line-right">{% trans "Donate to see a nice message here." %}</div>
                    <div class="clear"></div>
                </div>
                <div class="payment-pick">
                </div>
                <a class="button center" href="{% url "donate" %}">{% trans "Donate" %}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
